@import 'projects/shared/src/styles';

.product-detail-wrapper {
	background-color: #ffffff;

	.product-detail {
		padding: 24px 99px 174px;

		@include breakpoint('3') {
			padding: 32px 18px 90px;
		}

		.product-name {
			font-size: 32px;
			font-weight: 700;
			line-height: 44px;

			@include breakpoint('3') {
				font-size: 24px;
				line-height: 32px;
				margin-bottom: 16px;
			}
		}

		.flex-gap {
			display: flex;
			gap: 16px;
			flex-wrap: wrap;
			width: max-content;
			max-width: 100%;
		}

		.product-information {
			display: flex;
			justify-content: space-between;
			gap: 40px;
			margin: 90px 0 128px;

			@include breakpoint('3') {
				margin: 0;
				flex-direction: column-reverse;
			}

			.section-text {
				font-size: 16px;
				font-weight: 400;
				line-height: 22px;
				word-break: break-word;
			}

			.product-info {
				max-width: 666px;

				.section-title {
					font-size: 18px;
					font-weight: 700;
					line-height: 24px;

					@include breakpoint('3') {
						font-size: 14px;
						line-height: 19px;
					}
				}

				.description {
					p {
						padding-top: 8px;
					}
				}

				.origin {
					display: flex;
					gap: 8px;
					align-items: center;
					margin-top: 32px;
				}

				.more-info {
					margin-top: 32px;

					.more-info-block {
						margin-top: 8px;
						background-color: #f3f6f8;
						border-radius: 14px;
						max-width: 464px;

						> div {
							display: flex;

							&:first-of-type {
								p:first-child {
									border-radius: 14px 0 0 0;
								}

								p:last-child {
									border-radius: 0 14px 0 0;
								}
							}

							&:last-of-type {
								p:first-child {
									border-radius: 0 0 0 14px;
								}

								p:last-child {
									border-radius: 0 0 14px 0;
								}
							}

							p {
								width: 232px;
								padding: 12px 16px;
								border: 1px solid #0f0f111a;
							}
						}
					}
				}

				.ports-wrapper {
					flex-direction: column;
					flex-wrap: nowrap;
					max-width: 100%;
				}

				.method {
					margin-top: 32px;
					max-width: 100%;

					.flex-gap {
						margin-top: 8px;

						.method-text {
							background-color: #f3f6f8;
							border-radius: 16px;
							padding: 8px 16px;

							@include breakpoint('3') {
								font-size: 14px !important;
								line-height: 16px;
							}

							.port-row {
								display: flex;
								align-items: flex-start;
								gap: 32px;

								@include breakpoint('3') {
									gap: 16px;
								}

								.port-country {
									min-width: max-content;
									display: flex;
									align-items: center;
								}

								.ports {
									display: flex;
									align-items: center;
									gap: 16px;
									flex-wrap: wrap;

									@include breakpoint('3') {
										gap: 8px;
									}

									p {
										padding: 8px 16px;
										border-radius: 16px;
										border: 1px solid black;
									}
								}
							}
						}

						.port-text {
							@include breakpoint('3') {
								background: #ffffff;
							}
						}

						.w-100 {
							@include breakpoint('3') {
								padding: 0;
							}
						}
					}
				}
			}

			.company-info {
				border-radius: 14px;
				max-width: 464px;
				box-shadow: 0 0 15px 0 #0000001a;
				padding: 24px;
				display: flex;
				flex-direction: column;
				height: max-content;
				position: sticky;
				top: 60px;

				@include breakpoint('3') {
					position: initial;
					padding: 0;
					box-shadow: none;
					flex-direction: column-reverse;
				}

				.disable {
					position: absolute;
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					z-index: 1;
					top: 0;
					background-color: rgba(255, 255, 255, 0.6);

					p {
						font-size: 44px;
						letter-spacing: 0.2em;
						color: rgb(224, 224, 224);
					}
				}

				.company-text {
					display: flex;
					justify-content: space-between;
					gap: 36px;

					@include breakpoint('3') {
						padding: 8px;
						margin-top: 16px;
						box-shadow: 0 0 15px 0 #0000001a;
						border-radius: 14px;
					}

					.text {
						display: flex;
						flex-direction: column;

						.company-title {
							cursor: pointer;
							font-size: 20px;
							font-weight: 700;
							line-height: 24px;
							text-decoration: underline;
							margin-bottom: 16px;

							@include breakpoint('3') {
								font-size: 18px;
								line-height: 22px;
								margin-bottom: 14px;
							}
						}

						.company-products-count {
							font-size: 16px;
							font-weight: 400;
							line-height: 19px;
							text-decoration: underline;
							margin-bottom: 8px;
						}
					}

					img {
						object-fit: contain;
						box-shadow: 0 4px 4px 0 #0000001a;
						border-radius: 13px;

						@include breakpoint('3') {
							display: none;
						}
					}
					.address {
						margin-top: 8px;

						mat-icon {
							min-width: 24px;
						}

						&.mobile {
							display: none;

							@include breakpoint('3') {
								display: flex;
								flex-wrap: nowrap;
								width: 100%;

								mat-icon {
									min-width: 24px;
								}
							}
						}
					}
				}

				.desktop {
					display: flex;
					flex-wrap: nowrap;

					mat-icon {
						min-width: 24px;
					}

					@include breakpoint('3') {
						display: none;
					}
				}

				.buttons {
					margin-top: 16px;

					.btn-row {
						display: flex;
						justify-content: space-between;
						gap: 24px;

						a {
							cursor: pointer;
							width: 50%;
							border: 2px solid black;
							border-radius: 6px;
							padding: 11px 70px;

							@include breakpoint('3') {
								padding: 15px 0;
								text-align: center;
							}
						}
					}

					.btn-100 {
						margin-top: 16px;
						width: 100%;
						padding: 10px;
						border-radius: 6px;
						display: flex;
						justify-content: center;
						align-items: center;
						gap: 8px;
						font-weight: 500;

						@include breakpoint('3') {
							padding: 12px;
						}
					}
				}
			}
		}
	}

	.other-products {
		width: 100%;
		background-color: #ffffff;
		margin-top: 68px;

		.flex-between {
			display: flex;
			justify-content: space-between;

			.other-products-title {
				line-height: 26px;
				width: 70%;
				font-weight: 700;
				font-size: 24px;
				letter-spacing: 0.01em;
				color: #0f0f11;
				cursor: pointer;
			}

			a {
				text-decoration: underline;
			}
		}

		.products {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			gap: 10px;
			margin-top: 25px;
			height: 385px;

			&::-webkit-scrollbar {
				display: none;
			}

			&.between {
				justify-content: space-between;
			}

			.product-wrapper {
				width: calc(25% - 10px);

				@include breakpoint('3') {
					min-width: 45%;
				}

				@include breakpoint('1') {
					min-width: 93%;
				}
			}

			@include breakpoint('2') {
				overflow-x: auto;
			}
		}
	}
}

.product-details {
	.company-info {
		word-break: break-word;
	}
}

.page-loader {
	width: 100%;
	height: 100%;
	position: absolute;
}
