@import "projects/shared/src/styles";

:host {
	.product-detail {
		width: 80%;
		margin: auto;
		padding: 24px 0 90px;
		@include breakpoint("3") {
			width: 98%;
		}

		.product-info {
			width: 100%;
			background-color: #ffffff;
			padding: 24px 60px 60px;
			position: relative;
			.disable {
				position: absolute;
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				z-index: 1;
				top: 0;
				background-color: rgba(255, 255, 255, 0.6);
				display: flex;
				justify-content: center;
				p {
					font-size: 44px;
					letter-spacing: 0.2em;
					color: rgb(224, 224, 224);
				}
			}
			@include breakpoint("2") {
				padding: 24px 30px 60px;
			}
			@include breakpoint("4") {
				padding: 24px 20px 60px;
			}

			.product-header {
				.link {
					display: flex;
					align-items: center;

					div {
						margin-left: 5px;
						font-weight: 500;
						font-size: 11px;
						letter-spacing: 0.06em;
						text-transform: uppercase;
						color: #9fa4bb;
						cursor: pointer;

						&:first-child {
							margin-left: 0;
						}
					}
				}
			}

			.product {
				display: flex;
				align-items: flex-start;
				justify-content: space-between;
				gap: 25px;
				margin-top: 20px;
				.gallery {
					width: 35%;
				}

				.description {
					width: 35%;

					.title {
						padding-bottom: 10px;
						border-bottom: 1px solid #dfe8f5;
						font-weight: 700;
						font-size: 26px;
						line-height: 30px;
						letter-spacing: 0.01em;
						color: #0f0f11;
					}

					.subtitle {
						font-weight: 500;
						font-size: 12px;
						letter-spacing: 0.06em;
						color: #9fa4bb;
						margin-bottom: 5px;
					}

					.price,
					.shipping,
					.suppliers-info,
					.country-of-origin{
						padding: 16px 0;
						border-bottom: 1px solid #dfe8f5;
						@include breakpoint("1") {
							padding: 10px 0;
						}
					}

					.price {
						margin-top: 25px;
						padding-bottom: 16px;
						border-bottom: 1px solid #dfe8f5;
						@include breakpoint("3") {
							margin-top: 25px;
						}

						.price-wrapper {
							display: flex;
							width: 150px;

							.currency {
								font-weight: 500;
								font-size: 28px;
								letter-spacing: 0.01em;
								color: #9fa4bb;
								width: 17px;
							}

							.amount {
								font-weight: 500;
								font-size: 28px;
								letter-spacing: 0.01em;
								color: #0f0f11;
							}

							.unit {
								font-weight: 400;
								font-size: 16px;
								letter-spacing: 0.01em;
								color: rgba(108, 112, 119, 0.6);
								transform: translateY(3px);
							}
						}
						.product-details {
							.company-info {
								word-break: break-word;
							}
						}
					}

					.shipping {
						.methods {
							display: flex;
							align-items: center;
							@include breakpoint("3") {
								flex-direction: column;
								align-items: flex-start;
							}

							.method {
								margin-left: 5px;

								&:first-child {
									margin-left: 10px;
								}
							}
						}
					}

					.suppliers-info {
						border: none;
					}

					.country-of-origin {
						border-top: 1px solid #dfe8f5;
						border-bottom: none;
					}
				}
				.contact {
					width: 250px;
					.supplier-contact {
						background: #f3f6f8;
						border-radius: 8px;
						padding: 24px;
						display: flex;
						flex-direction: column;
						gap: 8px;

						.supplier-title {
							font-weight: 700;
							font-size: 11px;
							text-transform: uppercase;
							color: #828bb4;
						}

						.supplier-info {
							display: flex;
							align-items: center;
							// margin-top: 8px;
							&.blured {
								-webkit-filter: blur(5px);
								-moz-filter: blur(5px);
								-o-filter: blur(5px);
								-ms-filter: blur(5px);
								filter: blur(3px);
							}
						}
						.supplier-info-company-name {
							font-weight: bold;
							font-size: 16px;
							color: #0f0f11;
							cursor: pointer;
						}

						.supplier-info-contact-name {
							font-size: 16px;
							color: #0f0f11;
						}

						.supplier-country {
							display: flex;
							align-items: center;

							.supplier-country-name {
								margin-left: 10px;
							}
						}

						.supplier-contact-link {
							display: block;
							width: 100%;
							padding: 11px 0;
							text-align: center;
							border-radius: 4px;
						}
					}

					.supplier-report {
						display: flex;
						align-items: center;
						flex-wrap: wrap;
						row-gap: 5px;
						margin: 15px;

						img {
							width: 20px;
						}

						button {
							font-weight: 400;
							font-size: 13px;
							text-decoration-line: underline;
							color: #556274;
						}
					}
				}

				@include breakpoint("4") {
					justify-content: flex-start;
					.description {
						width: 40%;
						.title {
							font-size: 20px;
						}
						.price {
							margin-top: 0;
						}
					}
					.title {
						font-size: 23px;
						padding-bottom: 5px;
					}
					.price {
						margin-top: 25px;
					}
				}
				@include breakpoint("3") {
					flex-wrap: wrap;
					.description {
						width: 45%;
					}
				}
				@include breakpoint("2") {
					margin-top: 0;
					flex-direction: column;
					align-items: flex-start;
					width: 100%;
					.gallery {
						width: 100%;
						order: 1;
					}
					.description {
						width: 100%;
						order: 3;
					}
					.contact {
						order: 2;
						margin-top: 25px;
						width: 100%;
					}
				}
				@include breakpoint("1") {
					margin-left: 0;
					.description {
						width: 100%;
						.title {
							font-size: 23px;
						}
					}
					width: 100%;
				}
			}
		}

		.other-products {
			width: 100%;
			background-color: #ffffff;
			padding: 24px 80px;
			margin-top: 25px;

			.other-products-title {
				font-weight: 700;
				font-size: 24px;
				letter-spacing: 0.01em;
				text-decoration-line: underline;
				color: #0f0f11;
				cursor: pointer;
			}

			.products {
				display: flex;
				align-items: center;
				gap: 20px;
				margin-top: 25px;
				height: 385px;

				.product-wrapper {
					width: 30%;
				}
			}

			@include breakpoint("2") {
				padding: 24px 30px;
			}

			@include breakpoint("1") {
				padding: 24px 15px 0 15px;
				.other-products-title {
					font-weight: 600;
					font-size: 15px;
				}
				.products {
					align-items: flex-start;
					height: 350px;
					.product-wrapper {
						width: 48%;

						&:nth-child(3) {
							display: none;
						}
					}
				}
			}
		}
	}
}


.product-details {
	.company-info {
		word-break: break-word;
	}
}
