<b2b-breadcrumbs [breadcrumbLabel]="productSource.value?.title"></b2b-breadcrumbs>

<ng-container *ngIf="productSource | async as product">
  <div class="product-detail">
    <div class="product-info">
      <div class="product-header">
      </div>
      <div class="product">
        <div class="gallery">
          <b2b-ngx-images-carousel
            (click)="product.reasonForDeletion ? null : openImages()"
            [options]="product.photos"
            className="client-profile-offer-images"></b2b-ngx-images-carousel>
          <div *ngIf="product?.hidden || $any(product)?.deleted" class="disable">
            <p *ngIf="$any(product)?.deleted; else HIDDEN">Product was deleted</p>
            <ng-template #HIDDEN>
              <p>Product was hidden</p>
            </ng-template>
          </div>
        </div>
        <div class="description">
          <h1 class="title">{{ product.title }}</h1>
          <div class="price">
            <div class="price-wrapper">
              <div class="currency">$</div>
              <div class="amount">{{ product.price?.old }}</div>
              <div class="unit">/{{ product.amount?.unit?.name }}</div>
            </div>
          </div>
          <div class="product-details">
            <div class="subtitle">Product details</div>
            <div class="company-info">Product specifications: {{ product.specifications }}</div>
            <div class="ability">Supply ability: {{ product.amount.count + product.amount.unit.name }}</div>
          </div>
          <div class="shipping">
            <div class="subtitle">Shipping information</div>
            <ul class="methods">
              <li>Available shipping options:</li>
              <li class="method">{{ product?.shipping.join(", ") }}</li>
            </ul>
          </div>
          <div class="shipping">
            <div class="subtitle">Payment details</div>
            <ul class="methods">
              <li>Available payment methods:</li>
              <li class="method">{{ product.paymentMethods.join(", ") }}</li>
            </ul>
          </div>
          <div class="suppliers-info">
            <div class="subtitle">Suppliers info</div>
            <div class="company-name">Company description: {{ companyInfo.companyDescription }}</div>
          </div>
          <div class="country-of-origin">
            <div class="subtitle">Country of origin</div>
            <div class="company-name">{{ getCountryName(product.country) }}</div>
          </div>
        </div>
        <div class="contact">
          <div class="supplier-contact">
            <p class="supplier-title">Contact Supplier</p>
            <div [routerLink]="b2bNgxLinkService.getLink('/b2bmarket/company/' + companyId) | async"
                 class="supplier-info-company-name">
              {{ product.contact.companyName }}
            </div>
            <p class="supplier-country">
              <img b2bNgxIcon group="flags/" [name]="companyInfo.country | uppercase" class="country-icon"/>
              <span class="supplier-country-name">{{ getCountryName(companyInfo.country) }}</span>
            </p>
            <p class="supplier-type">{{ product.suppliersType }}</p>
            <button [routerLink]="b2bNgxLinkService.getLink('/b2bmarket/company/' + companyId) | async"
                    b2bNgxButton
                    class="supplier-contact-link"
                    [theme]="b2bNgxButtonThemeEnum.BACKGROUND_BLACK">
              Supplier’s page
            </button>
            <button
              (click)="openChat($event)"
              b2bNgxButton
              [id]="
							(isAuth$ | async) === true
								? 'marketplace-product-details-authorized'
								: 'marketplace-product-details-unauthorized'
						"
              [theme]="b2bNgxButtonThemeEnum.BACKGROUND_BLACK"
              class="supplier-contact-link">
              Contact supplier
            </button>
          </div>
          <div class="supplier-report">
            <img b2bNgxImage name="alert"/>
<!--            [ngxTippy]="tooltipTemplate"-->
<!--            tippyClassName="tooltip"-->
<!--            [disabled]="product.reasonForDeletion"-->
<!--            [tippyProps]="{-->
<!--            arrow: false,-->
<!--            placement: 'bottom',-->
<!--            theme: 'light',-->
<!--            allowHtml: true-->
<!--            }"-->
            <button

              (click)="openReportPopover()">
              Report this lot
            </button>
            <span #tooltipTemplate>
						If you’re having or previously had any issues related to this offer or seller, please, tell us about it in
						order to protect other buyers.
					</span>
          </div>
          <div class="calculate-section d-flex justify-content-center flex-column">
            <!--					<div class="calculate-section d-flex justify-content-center flex-column">-->
            <!--						<img b2bNgxIcon name="calculate-logistics" class="calculate-logistics-image">-->

          </div>
          <!--						<button-->
          <!--							b2bNgxButton-->
          <!--							[theme]="b2bNgxButtonThemeEnum.BACKGROUND_BLUE"-->
          <!--							(click)="openInDevelopmentPopUp()">-->
          <!--							Calculate logistics-->
          <!--						</button>-->
          <!--					</div>-->
        </div>
      </div>
    </div>
    <div *ngIf="otherProducts?.length" class="other-products">
      <button
        [routerLink]="'/b2bmarket/supplier-listing/' + product.user"
        class="other-products-title"
        [id]="
				(isAuth$ | async) === true ? 'marketplace-other-products-authorized' : 'marketplace-other-products-unauthorized'
			">
        Other products from this supplier
      </button>
      <ul class="products">
        <li *ngFor="let product of otherProducts" class="product-wrapper">
          <b2b-client-marketplace-product-item
            (click)="navigateOnProductDetail(product.path || product._id)"
            [logoLink]="companyInfo?.logo?.path ?? 'plug'"
            [product]="product">
          </b2b-client-marketplace-product-item>
        </li>
      </ul>
    </div>
  </div>
</ng-container>
