<ng-container
	*ngIf="
		isBrowser && (isUserLoading$ | async) === false;
		then noLoading;
		else loading
	"></ng-container>

<ng-template #noLoading></ng-template>

<ng-template #loading>
	<b2b-page-loader class="page-loader" style="z-index: 10000"></b2b-page-loader>
</ng-template>

<!--<div-->
<!--	class="header-wrapper"-->
<!--	[ngClass]="{ 'hidden-header': animationState === 'in' }">-->
<!--	<b2b-client-header-->
<!--		*ngIf="displayHeader"-->
<!--		[options]="options"-->
<!--		[user]="user$ | async"-->
<!--		(burgerClicked)="toggleShowPopUp()"></b2b-client-header>-->
<!--</div>-->
<b2b-header
	[mobileSideNavState]="animationState"
	(burgerClicked)="toggleShowPopUp()"></b2b-header>
<!--	<button-->
<!--		*ngIf="displayHeader"-->
<!--		b2bNgxButton-->
<!--		class="contact-us"-->
<!--		[theme]="b2bNgxButtonThemeEnum.BACKGROUND_WHITE"-->
<!--		(click)="openContactUsModal()">-->
<!--		<img *ngIf="isMobileView; else desktop" b2bNgxIcon [name]="'email-1'" />-->

<!--		<ng-template #desktop>-->
<!--			{{ t("CONTACT_US.TITLE") }}-->
<!--		</ng-template>-->
<!--	</button>-->

<div class="overlay-container" [@slideInOut]="animationState">
	<div class="backdrop" #backdrop>
		<div class="content">
			<div class="sidenav">
				@if (activeHeaderTab === 'Settings') {
					<div class="settings">
						<div class="settings__header"
								 (click)="toggleShowPopUp('', {redirect: false, activeSection: 'None'})">
							<- Back to workspace
						</div>

						<div class="settings__title">
							Settings
						</div>

						<div class="divider"></div>
						<div class="settings__links">
							@for (option of settingsOptions; track $index) {
								<div class="settings__links__link" (click)="toggleShowPopUp(option.link)">
									<svg-icon [src]="option.icon" svgClass="icon"></svg-icon>
									<div class="text">{{ option.label }}</div>
								</div>
							}
						</div>
					</div>
				} @else {
					<div *ngIf="user$ | async as user" class="user">
						<div class="user__name bold-title">{{ user.fullName }}</div>
						<div class="user__company">{{ user.company }}</div>

						<div class="divider"></div>

						<b2b-role-switcher [user]="user"></b2b-role-switcher>

						<div class="divider"></div>
						<div class="user__workspace">
							<div class="user__workspace-title">Workspace</div>
							<div class="user__workspace-list">
								<div
									*ngFor="let item of mobileProfileOptions"
									(click)="toggleShowPopUp(item.link, {activeSection: item.name === 'Settings' ? 'Settings' : 'None',
																															redirect: item.name !== 'Settings'})"
									class="user__workspace-item">
									<div class="item-content">
										<svg-icon [src]="item.icon"></svg-icon>
										<div class="text">{{ item.name }}</div>
									</div>
								</div>
							</div>
						</div>
						<div class="divider"></div>
						<div (click)="toggleShowPopUp(); logOut()" class="logout">
							<svg-icon
								src="assets/icons/header/profile/log-out-profile.svg"></svg-icon>
							<div class="text">Log Out</div>
						</div>
					</div>
				}
			</div>

			<ng-template #content let-option>
				<p class="sidenav-list-item-text">{{ option.label | translate }}</p>
				<ng-container
					*ngIf="unreadOfferMessagesCount$ | async as unreadMessagesCount">
					<span
						class="unread-messages"
						*ngIf="
							option.label === 'Unclaimed cargo' && unreadMessagesCount > 0
						"
					>{{ unreadMessagesCount }}</span
					>
				</ng-container>

				<ng-container
					*ngIf="unreadRfqMessagesCount$ | async as unreadMessagesCount">
					<span
						class="unread-messages"
						*ngIf="
							option.label === 'Sourcing Request' && unreadMessagesCount > 0
						"
					>{{ unreadMessagesCount }}</span
					>
				</ng-container>

				<ng-container
					*ngIf="
						unreadMarketplaceMessagesCount$ | async as unreadMessagesCount
					">
					<span
						class="unread-messages"
						*ngIf="option.label === 'B2B Market' && unreadMessagesCount > 0"
					>{{ unreadMessagesCount }}</span
					>
				</ng-container>
			</ng-template>
			<ng-template #withoutUser>
				<div class="nav__without-user">
					<a
						b2bNgxLink
						[routerLink]="b2bNgxLinkService.getLink('/auth/log-in') | async"
						(click)="toggleShowPopUp()"
						class="nav__sign-in"
						[theme]="b2bNgxLinkThemeEnum.BACKGROUND_TRANSPARENT">
						<img b2bNgxIcon name="user-filled" class="nav__sign-in-icon"/>
						<span>Log In</span>
					</a>
					<a
						b2bNgxLink
						[routerLink]="
							b2bNgxLinkService.getLink('/auth/register-credentials') | async
						"
						(click)="toggleShowPopUp()"
						class="nav__sign-up"
						[theme]="b2bNgxLinkThemeEnum.BACKGROUND_BLACK"
					>Sign up</a
					>
				</div>
			</ng-template>
			<!--			<ul *ngIf="!(user$ | async)" class="nav-list">-->
			<!--				<li-->
			<!--					*ngFor="let option of mobileLinks"-->
			<!--					class="nav-list-item"-->
			<!--					(click)="openInDevelopmentPopUp(option)">-->
			<!--					<a-->
			<!--						[routerLink]="option.link"-->
			<!--						(click)="toggleShowPopUp()"-->
			<!--						class="nav-list-item-link"-->
			<!--						>{{ option.text | translate }}</a-->
			<!--					>-->
			<!--					<div-->
			<!--						*ngIf="option.label"-->
			<!--						[ngStyle]="{ 'background-color': option.labelBackground }"-->
			<!--						class="label">-->
			<!--						{{ option.label }}-->
			<!--					</div>-->
			<!--				</li>-->
			<!--			</ul>-->
			<!--		</div>-->
		</div>
	</div>
</div>

<div
	[class.active]="
		(headerPopupState$ | async).popupIsOpened || (toolTipIsOpened$ | async)
	"
	(click)="closeHeaderPopup()"
	class="content">
	<router-outlet></router-outlet>
</div>
<div class="header-overlay"></div>
