<ng-container
	*ngIf="
		isBrowser && (isUserLoading$ | async) === false;
		then noLoading;
		else loading
	"></ng-container>

<ng-template #noLoading></ng-template>

<ng-template #loading>
	<b2b-page-loader class="page-loader" style="z-index: 10000"></b2b-page-loader>
</ng-template>

<div
	class="header-wrapper"
	[ngClass]="{ 'hidden-header': animationState === 'in' }">
	<b2b-client-header
		*ngIf="displayHeader"
		[options]="options"
		[user]="user$ | async"
		(burgerClicked)="toggleShowPopUp()"></b2b-client-header>
</div>

<!--	<button-->
<!--		*ngIf="displayHeader"-->
<!--		b2bNgxButton-->
<!--		class="contact-us"-->
<!--		[theme]="b2bNgxButtonThemeEnum.BACKGROUND_WHITE"-->
<!--		(click)="openContactUsModal()">-->
<!--		<img *ngIf="isMobileView; else desktop" b2bNgxIcon [name]="'email-1'" />-->

<!--		<ng-template #desktop>-->
<!--			{{ t("CONTACT_US.TITLE") }}-->
<!--		</ng-template>-->
<!--	</button>-->

<div class="overlay-container" [@slideInOut]="animationState">
	<div class="backdrop" #backdrop>
		<div class="content">
			<div class="nav__header">
				<button (click)="toggleShowPopUp()">
					<img b2bNgxIcon name="close" />
				</button>
			</div>

			<div class="sidenav">
				<ng-container *ngIf="user$ | async as user; else withoutUser">
					<div *ngIf="user$ | async as user" class="sidenav-header">
						<p class="sidenav-header-title">
							<img b2bNgxIcon name="user-blue" class="mr-1" />
							<span class="sidenav-header-title-text">{{ user.fullName }}</span>
						</p>
						<p class="sidenav-header-description">{{ user.email }}</p>
					</div>
					<ul class="nav-list">
						<li
							*ngFor="let option of mobileLinks"
							class="nav-list-item"
							(click)="toggleShowPopUp(option.link)">
							<a class="nav-list-item-link">{{ option.text | translate }}</a>
							<div
								*ngIf="option.label"
								[ngStyle]="{ 'background-color': option.labelBackground }"
								class="label">
								{{ option.label }}
							</div>
						</li>
					</ul>

					<ul class="sidenav-account">
						<li
							routerLink="/profile/your-account"
							routerLinkActive="active"
							(click)="toggleShowPopUp()"
							class="sidenav-list-item">
							<img b2bNgxIcon [name]="'sidenav-man-skeleton'" class="mr-3" />
							<a b2bNgxLink class="sidenav-list-item-link">
								<p>Your account</p>
							</a>
						</li>
						<li
							*ngFor="let option of sidenavAccountOptions"
							class="sidenav-list-item">
							<img
								*ngIf="option.icon"
								b2bNgxIcon
								[name]="option.icon"
								class="mr-3" />
							<a
								b2bNgxLink
								[routerLink]="option.link"
								(click)="toggleShowPopUp()"
								routerLinkActive="active"
								[routerLinkActiveOptions]="{ exact: true }"
								class="sidenav-list-item-link">
								<ng-container
									*ngTemplateOutlet="
										content;
										context: { $implicit: option }
									"></ng-container>
							</a>
						</li>
					</ul>
					<ul class="sidenav-workspace">
						<li
							routerLink="/profile/your-workspace"
							routerLinkActive="active"
							(click)="toggleShowPopUp()"
							class="sidenav-list-item">
							<img b2bNgxIcon [name]="'desktop'" class="mr-3" />
							<a b2bNgxLink class="sidenav-list-item-link">
								<p>Your workspace</p>
							</a>
						</li>
						<li
							*ngFor="let option of sidenavWorkspaceOptions"
							[class.active]="option.active"
							class="sidenav-list-item">
							<img b2bNgxIcon [name]="option.icon" class="mr-3" />
							<a
								*ngIf="option.link"
								b2bNgxLink
								[routerLink]="option.link"
								(click)="toggleShowPopUp()"
								routerLinkActive="active"
								class="sidenav-list-item-link">
								<ng-container
									*ngTemplateOutlet="
										content;
										context: { $implicit: option }
									"></ng-container>
							</a>
							<button
								b2bNgxButton
								class="sidenav-list-item-button"
								(click)="option.onClick()"
								*ngIf="option.onClick">
								<ng-container
									*ngTemplateOutlet="
										content;
										context: { $implicit: option }
									"></ng-container>
							</button>
						</li>
					</ul>
				</ng-container>
			</div>

			<ng-template #content let-option>
				<p class="sidenav-list-item-text">{{ option.label | translate }}</p>
				<ng-container
					*ngIf="unreadOfferMessagesCount$ | async as unreadMessagesCount">
					<span
						class="unread-messages"
						*ngIf="
							option.label === 'Unclaimed cargo' && unreadMessagesCount > 0
						"
						>{{ unreadMessagesCount }}</span
					>
				</ng-container>

				<ng-container
					*ngIf="unreadRfqMessagesCount$ | async as unreadMessagesCount">
					<span
						class="unread-messages"
						*ngIf="
							option.label === 'Sourcing Request' && unreadMessagesCount > 0
						"
						>{{ unreadMessagesCount }}</span
					>
				</ng-container>

				<ng-container
					*ngIf="
						unreadMarketplaceMessagesCount$ | async as unreadMessagesCount
					">
					<span
						class="unread-messages"
						*ngIf="option.label === 'B2B Market' && unreadMessagesCount > 0"
						>{{ unreadMessagesCount }}</span
					>
				</ng-container>
			</ng-template>
			<ng-template #withoutUser>
				<div class="nav__without-user">
					<a
						b2bNgxLink
						[routerLink]="b2bNgxLinkService.getLink('/auth/log-in') | async"
						(click)="toggleShowPopUp()"
						class="nav__sign-in"
						[theme]="b2bNgxLinkThemeEnum.BACKGROUND_TRANSPARENT">
						<img b2bNgxIcon name="user-filled" class="nav__sign-in-icon" />
						<span>Log In</span>
					</a>
					<a
						b2bNgxLink
						[routerLink]="
							b2bNgxLinkService.getLink('/auth/register-credentials') | async
						"
						(click)="toggleShowPopUp()"
						class="nav__sign-up"
						[theme]="b2bNgxLinkThemeEnum.BACKGROUND_BLACK"
						>Sign up</a
					>
				</div>
			</ng-template>
			<ul *ngIf="!(user$ | async)" class="nav-list">
				<li
					*ngFor="let option of mobileLinks"
					class="nav-list-item"
					(click)="openInDevelopmentPopUp(option)">
					<a
						[routerLink]="option.link"
						(click)="toggleShowPopUp()"
						class="nav-list-item-link"
						>{{ option.text | translate }}</a
					>
					<div
						*ngIf="option.label"
						[ngStyle]="{ 'background-color': option.labelBackground }"
						class="label">
						{{ option.label }}
					</div>
				</li>
			</ul>
			<!--		</div>-->
		</div>
	</div>
</div>

<router-outlet></router-outlet>
<!-- </ng-container> -->

<!--<ng-template #loading>-->
<!--	<h1>Loading...</h1>-->
<!--</ng-template>-->
