@import 'projects/shared/src/styles';
@import "src/app/client/pages/client-blog-article/shared/ckeditor";

::ng-deep {
	.client-trading-wiki-article-text {
		width: 70%;
		line-height: 24px;

		span,
		p {
			line-height: 24px;
		}

		ul,
		li {
			list-style: disc !important;
		}

		ul {
			padding-left: 30px;
		}

		strong,
		b {
			font-weight: bold !important;
		}

		img {
			width: 100%;
		}

		@include breakpoint('3') {
			width: 100%;
		}
	}

	.sp-element-container {
		display: flex;
		flex-direction: row-reverse;
		justify-content: center;
		gap: 20px;
		@include breakpoint('2') {
			display: block;
			width: 300px;
			margin: auto !important;
		}
	}

	.sp-field-full-width {
		width: 35%;
		display: flex;
		align-items: flex-end;
		@include breakpoint('2') {
			width: 100%;
		}
	}

	.sp-form-outer {
		background: white;
		margin-top: 25px !important;
	}

	.sp-form {
		margin: auto !important;
	}

	.email-input-wrapper {
		display: flex;
		gap: 10px;
		align-items: flex-end;
	}

	.sp-button {
		height: 35px;
	}
}

.client-trading-wiki-article {
	background-color: white;
	padding: 60px 200px 0;

	.article-img {
		width: 100%;
		border-radius: 15px;
		height: auto;
		max-height: 344px;
		aspect-ratio: 16 / 9;
		object-fit: cover;
	}

	&-title-block {
		padding: 32px 0;
		border-bottom: 1px solid #e5f2fd;

		@include breakpoint('3') {
			padding: 16px 0;
		}

		&-category {
			font-size: 20px;
			line-height: 26px;
			font-weight: 500;
			color: #979797;
			margin-bottom: 16px;

			@include breakpoint('3') {
				display: none;
			}
		}

		&-info {
			font-weight: 700;
			font-size: 16px;
			line-height: 23.68px;

			a {
				text-decoration: underline;
			}

			span {
				font-weight: 400;
				color: #979797;
			}
		}
	}

	&-content {
		border-bottom: 1px solid #e5f2fd;
		padding: 32px 101px;
		width: 100%;
		display: flex;
		justify-content: center;

		@include breakpoint('3') {
			padding: 16px 0;
		}

		img {
			width: 100%;
			border-radius: 15px;
			height: auto;
			max-height: 344px;
			aspect-ratio: 16 / 9;
			object-fit: cover;
		}

		.article-description {
			margin-bottom: 32px;
			max-width: 891px;

			@include breakpoint('3') {
				margin-bottom: 16px;
			}

			::ng-deep {
				span,
				a,
				font,
				li {
					font-size: 18px;
					line-height: 24.12px;
					letter-spacing: 0.01px;
					text-align: justify;
					margin-bottom: 32px;

					&:last-of-type {
						margin-bottom: 12px;
					}

					@include breakpoint('3') {
						margin-bottom: 16px;
						font-size: 14px !important;
						line-height: 19px !important;
					}

					li {
						margin-bottom: 24px;
						@include breakpoint('3') {
							margin-bottom: 12px;
						}
					}
				}

				img {
					width: 100%;
					border-radius: 15px;
					height: auto;
					aspect-ratio: 16 / 9;
					object-fit: cover;
					margin-bottom: 16px;
				}
			}
		}
	}

	&-share {
		padding: 32px 0;
		border-bottom: 1px solid #e5f2fd;

		@include breakpoint('3') {
			padding: 16px 0;
		}

		&-title {
			font-size: 18px;
			line-height: 21px;
			font-weight: 700;
		}

		&-social-media {
			margin-top: 16px;
			display: flex;
			gap: 8px;

			@include breakpoint('3') {
				margin-top: 8px;
			}

			&-link {
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 4px;
				border-radius: 6px;
				background-color: #d9d9d9;
			}
		}
	}

	&-recommendations {
		padding: 0 0 32px;
	}

	&-title {
		font-weight: 700;
		font-size: 32px;
		line-height: 43.52px;
		letter-spacing: 1px;

		@include breakpoint('3') {
			font-size: 24px;
			line-height: 32px;
		}
	}

	@include breakpoint('3') {
		padding: 0 18px;
	}
}
