<div class="blog-container w-100 bg-white d-flex justify-center">
	<div class="home-wrapper w-100 d-flex justify-between flex-column align-items-center">
		<b2b-blog-section-header
			class="w-100"
			[sectionTitle]="blogCategoriesEnum.News"
			[sectionDescription]="description">
		</b2b-blog-section-header>

		@if ((newsList$ | async)?.length > 0) {
			<b2b-blog-news-list
				class="w-100"
				[articleList]="newsList$ | async"
			></b2b-blog-news-list>

			<b2b-pagination
				[currentPage]="currentPage"
				[length]="countSource.getValue()"
				[perPage]="limit"
				(togglePageNumber)="togglePage($event)"></b2b-pagination>
		} @else {
			<div class="loading-overlay">
				<b2b-page-loader
					class="page-loader"
					style="z-index: 10000"></b2b-page-loader>
			</div>
		}
	</div>
</div>
