<div class="sub-components-wrapper">
	<div class="breadcrumbs">
		<span>My Account</span>
		<span>/ Billing</span>
	</div>

	<p class="billing-title">Billing</p>
<!--	<b2b-tradebid-purchase></b2b-tradebid-purchase>-->
</div>

<!--<mat-tab-group mat-align-tabs="start">-->
<!--	<mat-tab label="Annual Billing">-->
<!--		<b2b-annual-billing></b2b-annual-billing>-->
<!--	</mat-tab>-->
<!--	<mat-tab label="Trade Bid purchase">-->
<!--		<b2b-tradebid-purchase></b2b-tradebid-purchase>-->
<!--	</mat-tab>-->
<!--</mat-tab-group>-->
