<form class="rfq__form" [formGroup]="form" (ngSubmit)="submitForm(form)">
	<div class="rfq__form__product-information">
		<div class="title">Product information</div>
		<input
			type="text"
			b2bNgxInput
			[theme]="b2bNgxInputThemeEnum.BACKGROUND_GRAY"
			[label]="'Product name'"
			[placeholder]="'Product name'"
			labelClass="rfq__label-first"
			formControlName="productName"
			class="rfq__input" />
		<p
			*ngIf="
				this.form.get('productName').touched &&
				this.form.get('productName').errors?.['latin']
			"
			class="error"
			[@fadeInOut]>
			Please use only latin letters
		</p>
		<p
			*ngIf="
				this.form.get('productName').touched &&
				this.form.get('productName').errors?.['required']
			"
			class="error"
			[@fadeInOut]>
			This field is required
		</p>

		<div class="rfq__half-space">
			<b2b-ngx-select
				[options]="sectors"
				[invalid]="form.get('productSector')?.invalid"
				[touched]="form.get('productSector')?.touched"
				formControlName="productSector"
				bindValue="_id"
				bindLabel="name"
				placeholder="Select sector"
				[theme]="b2bNgxSelectThemeEnum.BACKGROUND_GRAY">
				Product sector
			</b2b-ngx-select>
		</div>

		<b2b-ngx-select
			className="border-radius-14"
			[theme]="b2bNgxSelectThemeEnum.BACKGROUND_GRAY"
			formControlName="category"
			[invalid]="form.get('category')?.invalid"
			[touched]="form.get('category')?.touched"
			[options]="childCategories"
			placeholder="Select category"
			bindValue="_id"
			bindLabel="name"
			>Product category</b2b-ngx-select
		>

		<div formGroupName="quantity" class="rfq__container">
			<div class="rfq__half-space">
				<input
					type="text"
					b2bNgxInput
					[theme]="b2bNgxInputThemeEnum.BACKGROUND_GRAY"
					[label]="'Required amount'"
					[placeholder]="'Quantity'"
					labelClass="rfq__label"
					formControlName="quantity"
					class="rfq__input" />
				<p
					*ngIf="
						this.form.get('quantity').get('quantity').touched &&
						this.form.get('quantity').get('quantity').errors?.['required']
					"
					class="error"
					[@fadeInOut]>
					This field is required
				</p>
				<p
					*ngIf="
						this.form.get('quantity').get('quantity').touched &&
						this.form.get('quantity').get('quantity').errors?.['number']
					"
					class="error"
					[@fadeInOut]>
					Please use only numbers
				</p>
			</div>

			<div class="rfq__half-space flex-select">
				<div class="measure-select-wrapper">
					<b2b-ngx-select
						[options]="unit$ | async"
						formControlName="measure"
						bindValue="_id"
						bindLabel="displayName"
						[theme]="b2bNgxSelectThemeEnum.BACKGROUND_GRAY"
						[placeholder]="'Select unit'">
						Unit
					</b2b-ngx-select>
				</div>
			</div>
		</div>

		<b2b-ngx-select
			[options]="tradeTerms$ | async"
			formControlName="tradeTerms"
			bindLabel="value"
			bindValue="id"
			[theme]="b2bNgxSelectThemeEnum.BACKGROUND_GRAY"
			class="rfq__half-space">
			Terms of delivery
		</b2b-ngx-select>

		<textarea
			b2bNgxTextarea
			formControlName="moreInformation"
			[theme]="b2bNgxInputThemeEnum.BACKGROUND_GRAY"
			[placeholder]="'Enter at least 20 characters'"
			[label]="'More information'"
			labelClass="rfq__half-label"
			class="rfq__textarea rfq__half-space"></textarea>
		<p
			*ngIf="
				this.form.get('moreInformation').touched &&
				this.form.get('moreInformation').errors?.['latin']
			"
			[ngStyle]="{ marginTop: '15px' }"
			class="error"
			[@fadeInOut]>
			Please use only latin letters and numbers
		</p>
		<p
			*ngIf="
				this.form.get('moreInformation').touched &&
				this.form.get('moreInformation').errors?.['required']
			"
			[ngStyle]="{ marginTop: '15px' }"
			class="error"
			[@fadeInOut]>
			This field is required
		</p>
		<p
			*ngIf="
				this.form.get('moreInformation').touched &&
				this.form.get('moreInformation').errors?.['minlength']
			"
			[ngStyle]="{ marginTop: '15px' }"
			class="error"
			[@fadeInOut]>
			Please, put more than 20 letters, now
			{{ form.get('moreInformation').errors?.['minlength']?.['actualLength'] }}
			letters
		</p>

		<b2b-ngx-country-select
			formControlName="destination"
			[theme]="b2bNgxSelectThemeEnum.BACKGROUND_GRAY"
			[placeholder]="'Select country'"
			class="rfq__label rfq__half-space"
			>Delivery location</b2b-ngx-country-select
		>

		<b2b-ngx-checkbox formControlName="readRFQRules" class="rfq__label">
			I have read and I agree with RFQ posting rules.
		</b2b-ngx-checkbox>

		<button
			b2bNgxButton
			[theme]="b2bNgxButtonThemeEnum.BACKGROUND_BLACK"
			type="submit"
			class="rfq__label-first"
			[disabled]="!(isSubmitButtonActive$ | async)">
			SUBMIT
		</button>
	</div>
</form>
