<div class="hot-it-works-2">
	<div class="banner">
		<img b2bNgxImage name="how-it-works-2" class="banner-img desktop" />
		<img b2bNgxImage name="how-it-works-mobile" class="banner-img mobile" />
		<div class="info">
			<p class="subtitle">CARGAS NO RECLAMADAS</p>
			<p class="subsubtitle">SE OCUPA DE ESTE PROBLEMA</p>
			<h1 class="title">B2B DISCOUNT</h1>
			<p class="description">
				La plataforma ayuda al vendedor a encontrar un nuevo comprador para su carga, y al comprador - adquirir
				mercancías deseadas con un descuento. Conectamos al vendedor con el comprador de forma directa y no cobramos
				ninguna comisión por las transacciones realizadas.
			</p>

			<div class="buttons">
				<a [routerLink]="b2bNgxLinkService.getLink('/latest-offers') | async">COMPRAR CARGA</a>
				<a [routerLink]="b2bNgxLinkService.getLink('/offer') | async">VENDER CARGA</a>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="benefits">
			<ul>
				<li>El más simple y el más rápido método para vender la carga no reclamada</li>
				<li>Posibilidad de adquirir mercancías de buena calidad con un descuento entre 5% y 90%</li>
				<li>Apoyo técnico y jurídico 24/7</li>
			</ul>
		</div>
	</div>

	<div class="game">
		<div class="container">
			<div class="description">
				<h2>Ir adelante de los demás</h2>
				<p>
					El propósito de la plataforma no es sólo ayudar a exportadores y comerciantes, sino, más bien, no permitir que
					aparezcan cargas no reclamadas.
				</p>
			</div>
			<img b2bNgxImage name="how-it-works-2-2" />
		</div>
	</div>

	<div class="container">
		<div class="risks">
			<h2>Riesgos minimizados</h2>
			<p>
				Si tiene motivos para dudar de la fiabilidad del destinatario, actúe de inmediato. Envía su carga a B2B Discount
				para encontrar otros potenciales compradores. Esto le servirá como un salvavidas, si el acuerdo inicial no
				resulta como se esperaba.
			</p>
		</div>
	</div>

	<div class="anonymity">
		<div class="container">
			<img b2bNgxImage name="how-it-works-2-4" />

			<div class="description">
				<h2>Confidencialidad</h2>
				<p>
					La plataforma le da la posibilidad de ocultar sus datos de contacto y la información sobre la carga. La oferta
					será confidencial hasta que el propietario de la carga no decida a revelar los datos a un nuevo comprador.
				</p>
				<a [routerLink]="b2bNgxLinkService.getLink('/offer') | async">kargo yerleştirmek</a>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="verification">
			<h2>Verificación de la carga</h2>
			<p>
				Todas las cargas presentadas en la plataforma serán moderadas. La condición obligatoria para la presentación es
				que la carga debe tener toda la documentación y el material fotográfico correspondientes adjuntos. Gracias a un
				sistema de seguimiento on-line de contenedores y cargas, el comprador tiene la posibilidad de localizar la carga
				de su interés.
			</p>
		</div>
	</div>

	<div class="profit">
		<div class="container">
			<div class="description">
				<h2>Ventajas para todos</h2>
				<p>
					Los importadores y operadores inteligentes podrán concretar negocios rentables con un descuento entre 5% y 90
					% del precio del mercado y ayudar al vendedor a evitar grandes pérdidas financieras.
				</p>
				<a [routerLink]="b2bNgxLinkService.getLink('/latest-offers') | async">VER TODAS OFERTAS</a>
			</div>
			<img b2bNgxImage name="how-it-works-2-3" />
		</div>
	</div>

	<div class="container">
		<div class="mission">
			<h2>Nuestra MISION</h2>
			<p>
				Unir a todos los actores de la actividad económica mundial para crear un medio más cómodo y seguro para comercio
				y logística internacional.
			</p>

			<div class="video-wrapper">
				<video
					[controls]="!video.paused"
					class="video"
					poster="assets/images/client_home_background.png"
					(ended)="video.load()"
					#video>
					<source src="assets/videos/how_it_works_final.mp4" type="video/mp4" />
				</video>

				<button class="video-button" *ngIf="video.paused" (click)="video.play()">
					<img b2bNgxIcon class="video-button-icon" name="play" />
				</button>
			</div>

			<h3>Registro gratuito</h3>
			<p>
				B2B Discount - es una startup nacida en EE. UU que entró en el mercado internacional en verano del año 2021.
				Todos los servicios de la plataforma serán gratuitos hasta el 30.06.2022. Nopierda la oportunidad de obtener
				todos los beneficios que tenemos ahora mismo.
			</p>
			<a [routerLink]="b2bNgxLinkService.getLink('/auth/register-credentials') | async"
				>CREAR UN PERFIL GRATUITO</a
			>
		</div>
		<p class="feedback">
			Queremos que nuestra plataforma sea aún mejor y más funcional. Puede ayudarnos enviando sus ideas y sugerencias a
			nuestro correo <a href="mailto:support@b2b.discount">support@b2b.discount</a>
		</p>
		<div class="footer">
			<a [routerLink]="b2bNgxLinkService.getLink('/') | async">
				<img b2bNgxIcon name="logo" alt="" />
			</a>
			<p>We connect buyers and sellers directly.</p>
		</div>
	</div>
</div>
