@import 'projects/shared/src/styles';

.custom-carousel {
	display: none;
	position: relative;

	@include breakpoint(3) {
		display: flex;
		justify-content: start;
		align-items: center;
	}

	.dots-container {
		position: absolute;
		bottom: 6px;
		left: 50%;
		display: flex;
		align-items: center;
		transform: translateX(-50%);

		.dot {
			cursor: pointer;
			width: 4px;
			height: 4px;
			border-radius: 4px;
			background-color: #d9d9d9;
			margin: 0 5px;

			&.active-dot {
				width: 8px;
				height: 8px;
				border-radius: 50%;
				background-color: #005dff;
			}
		}
	}

	@include breakpoint('1') {
		display: flex;
		justify-content: center;
	}

	mat-icon {
		border-radius: 50%;
		background-color: #d9d9d959;
		color: #9fa4bb;
		cursor: pointer;

		@include breakpoint('2') {
			display: none;
		}
	}

	.slider-wrapper {
		display: flex;
		justify-content: space-between;
		transition: 0.5s ease-in-out;

		&::-webkit-scrollbar {
			display: none;
		}

		@include breakpoint('2') {
			width: 100%;
			max-width: 464px;
			transform: none;
			overflow-x: auto;
			margin-bottom: 30px;
			gap: 20px;
		}

		@include breakpoint('1') {
			max-height: 300px;
		}

		.slide-wrapper {
			object-fit: cover;
			width: 100%;
			max-width: 715px;
			max-height: 300px;
			border-radius: 14px;
			flex: 0 0 100%;

			@include breakpoint('2') {
				max-width: 464px;
				min-width: 100%;
				object-fit: cover;
			}

			@include breakpoint('1') {
				max-height: 300px;
				height: 300px;
				width: 100%;
			}

			&.slide-hidden {
				height: 0;
				opacity: 0;

				@include breakpoint('2') {
					height: initial;
					opacity: 1;
					object-fit: contain;
				}
			}
		}
	}
}

.desktop-slider {
	display: flex;
	gap: 16px;
	align-items: center;
	justify-content: center;
	position: relative;
	max-height: 528px;

	img {
		width: 50%;
		cursor: zoom-in;
		border-radius: 8px;
		height: 528px;
		max-height: 528px;
		object-fit: cover;
	}

	&.single {
		justify-content: center;

		img {
			cursor: pointer;
			width: 100%;
			max-width: 565px;
		}
	}

	&.multiple {
		.left-column,
		.right-column {
			min-height: 528px;
			height: 528px;
			width: 50%;
			display: flex;
			flex-wrap: wrap;
			gap: 16px;
			justify-content: flex-start;
			max-height: 528px;
		}

		.left-column img {
			min-height: 100%;
			width: 100%;
		}

		.right-column img {
			width: calc(50% - 16px);
			min-height: calc(50% - 16px);
			max-height: calc(528px / 2 - 12px);
			height: 252px;
			margin: 2px;
			object-fit: cover;
		}

		.fl-column {
			flex-direction: column;
			width: fit-content;

			img {
				width: 100%;
			}
		}
	}

	@include breakpoint('3') {
		display: none;
	}

	.show-more-btn {
		position: absolute;
		bottom: 16px;
		right: 16px;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		letter-spacing: 0.01em;
		background-color: #e6e7ea;
		border-radius: 4px;
		padding: 12px 20px;
	}
}
