@import 'projects/shared/src/styles';

:host {
	.information {
		//border: 1px solid;
		margin-bottom: 30px;
		padding-top: 32px;
		border-right: none;

		&__title {
			color: #000;
			font-size: 20px;
			font-weight: 600;
			line-height: 148%;
			letter-spacing: 0.2px;
		}
		&__contact {
			display: none;
			width: 100%;
			margin: auto;
			padding: 10px 0;
			margin-top: 10px;
			@media (max-width: 768px) {
				display: block;
			}
			@media (max-width: 576px) {
				//position: fixed;
				//bottom: 70px;
				//width: 95%;
				//left: 2.5%;
				//z-index: 7516323623;
			}
		}
		.information-contact-wrapper {
			@media (max-width: 576px) {
				position: fixed;
				width: 100%;
				left: 0;
				bottom: 0;
				padding: 16px 0;
				background: #fff;
				z-index: 10;
				border-top: 1px solid #F0F5FF;
				button {
					width: 95%;
					margin-top: 0;
					padding: 7px 0;
				}
			}
		}
		&__list {
			display: flex;
			flex-direction: column;
			gap: 16px;
			margin-top: 24px;
		}
		&__item {
			display: flex;
			gap: 24px;
			@include breakpoint('3') {
				flex-direction: column;
				gap: 5px;
			}
			&-label {
				color: #474a4f;
				font-size: 16px;
				font-weight: 400;
				letter-spacing: 0.16px;
				width: 178px;
				@include breakpoint('3') {
					width: auto;
				}
			}
			&-value {
				max-width: 570px;
				word-break: break-all;
				color: #000;
				@include breakpoint('3') {
					max-width: 100%;
				}
				.categories-list {
					max-height: 200px;
					overflow: auto;
					display: flex;
					flex-wrap: wrap;
					gap: 5px;
				}
				.website-link {
					text-decoration: underline;
					margin-bottom: 10px;
					display: block;
					transition: .3s color;
					&:hover {
						color: #005DFF;
					}
				}
				.social-media-list {
					display: flex;
					gap: 8px;
				}
			}
		}
	}
}
