<div class="information">
	<div class="information__title">Company information</div>
	<div class="information-contact-wrapper">
		<button
			*ngIf="companyInfo.user !== user?._id"
			(click)="openChat($event)"
			b2bNgxButton
			[theme]="b2bNgxButtonThemeEnum.BACKGROUND_BLUE"
			class="information__contact">
			Send message
		</button>
	</div>
	<div class="information__list">
		@for(option of companyInformationOptions; track option) {
			@if (companyInfo[option.value]) {
				<div
					class="information__item">
					<div class="information__item-label">
						@if (option.value === 'socialMedia' && !socialMediaHasNonEmptyValue(companyInfo.socialMedia) && !companyInfo.website) {

						} @else {
							{{ option.label }}
						}
					</div>
					<div class="information__item-value" [ngSwitch]="option.value">
						<ng-container *ngSwitchCase="'businessType'">
							{{ businessType$ | async }}
						</ng-container>
						<ng-container *ngSwitchCase="'country'">
							{{ getName(companyInfo['country']) }}
						</ng-container>
						<ng-container *ngSwitchCase="'categories'">
							<div class="categories-list">
						<span
							*ngFor="
								let category of companyCategories$ | async as sectorsArr
								let idx = index
							">
							{{ category }}{{ idx !== sectorsArr.length - 1 ? ',' : '' }}
						</span>
							</div>
						</ng-container>

						<ng-container *ngSwitchCase="'socialMedia'">
							<a
								*ngIf="companyInfo.website"
								[href]="companyInfo.website"
								target="_blank"
								class="website-link"
							>{{ companyInfo.website }}</a
							>
							<div class="social-media-list">
								<ng-container
									*ngFor="
								let socialMedia of convertObjectToArray(companyInfo.socialMedia)
							">
									<a
										*ngIf="socialMedia.value.trim()"
										[href]="socialMedia.value"
										target="_blank">
										<b2b-svg-icon
											[src]="
										'/assets/icons/footer/' + socialMedia.key + '.svg'
									"></b2b-svg-icon>
									</a>
								</ng-container>

							</div>
						</ng-container>
						<ng-container *ngSwitchDefault>{{
								companyInfo[option.value]
							}}</ng-container>
					</div>
				</div>
			}
		}

	</div>
</div>
