<div class="client-contact-us">
	<div class="client-contact-us-header">
		<h3 class="client-contact-us-header-title">
			{{ 'CONTACT_US.TITLE' | translate }}
		</h3>
		<p class="client-contact-us-header-description">
			{{ 'CONTACT_US.DESCRIPTION' | translate }}
		</p>
	</div>

	<form
		errorTailor
		class="client-contact-us-form"
		[formGroup]="formGroup"
		(ngSubmit)="sendMessage(formGroup)">
		<b2b-ngx-select
			[theme]="b2bNgxSelectThemeEnum.BACKGROUND_GRAY"
			[options]="subjectOptions"
			formControlName="type"
			class="client-contact-us-form-select"
			[placeholder]="'PLACEHOLDERS.SUBJECT' | translate"></b2b-ngx-select>
		<input
			b2bNgxInput
			[theme]="b2bNgxInputThemeEnum.BACKGROUND_GRAY"
			[placeholder]="'PLACEHOLDERS.ENTER_NAME' | translate"
			formControlName="name"
			[label]="'LABELS.NAME' | translate"
			labelClass="client-contact-us-form-input" />
		<input
			b2bNgxInput
			[theme]="b2bNgxInputThemeEnum.BACKGROUND_GRAY"
			type="email"
			[label]="'LABELS.EMAIL' | translate"
			labelClass="client-contact-us-form-input"
			[placeholder]="'PLACEHOLDERS.YOUR_EMAIL' | translate"
			formControlName="email" />
		<b2b-ngx-tel
			[theme]="b2bNgxInputThemeEnum.BACKGROUND_GRAY"
			class="client-contact-us-form-input"
			[placeholder]="'PLACEHOLDERS.YOUR_PHONE_NUMBER' | translate"
			formControlName="phone"
			>{{ 'INPUTS.PHONE' | translate }}</b2b-ngx-tel
		>
		<textarea
			b2bNgxTextarea
			[theme]="b2bNgxInputThemeEnum.BACKGROUND_GRAY"
			[placeholder]="'PLACEHOLDERS.ENTER_MESSAGE' | translate"
			formControlName="text"
			[label]="'LABELS.MESSAGE' | translate"
			labelClass="client-contact-us-form-textarea"></textarea>
		<button
			b2bNgxButton
			type="submit"
			class="client-contact-us-form-button"
			[theme]="b2bNgxButtonThemeEnum.BACKGROUND_BLACK">
			{{ 'BUTTONS.SEND' | translate }}
		</button>
	</form>
	<div class="client-contact-us-footer">
		<ul class="client-contact-us-footer-icons-list">
			<li
				class="client-contact-us-footer-icons-list-item"
				*ngFor="let socialMedia of socialMedias">
				<a
					b2bNgxLink
					[href]="socialMedia.href"
					class="client-contact-us-footer-icons-list-item-href">
					<img
						b2bNgxIcon
						[name]="socialMedia.icon"
						class="client-contact-us-footer-icons-list-item-icon" />
				</a>
			</li>
		</ul>
		<p class="client-contact-us-footer-description">
			{{ 'CONTACT_US.FEEDBACK' | translate }}
			<a href="">support@b2b.discount</a>.
		</p>
	</div>
</div>
