<div class="hot-it-works-2">
	<div class="banner">
		<img b2bNgxImage name="how-it-works-2" class="banner-img desktop" />
		<img b2bNgxImage name="how-it-works-mobile" class="banner-img mobile" />
		<div class="info">
			<p class="subtitle">SAHİPSİZ KARGO</p>
			<p class="subsubtitle">ARTIK ÇOZÜLMÜŞ BİR PROBLEMDİR</p>
			<h1 class="title">B2B DISCOUNT</h1>
			<p class="description">
				Platform, satıcının kargosu için yeni bir alıcı bulmasına ve alıcının da gerekli malları indirimli satın
				almasına yardımcı olur. Satıcıyı alıcıyla doğrudan buluşturuyoruz ve bu işlemlerden komisyon almıyoruz.
			</p>

			<div class="buttons">
				<a [routerLink]="b2bNgxLinkService.getLink('/latest-offers') | async">Kargo Al</a>
				<a [routerLink]="b2bNgxLinkService.getLink('/offer') | async">Kargo Sat</a>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="benefits">
			<ul>
				<li>Sahipsiz kargoyu satmanın en kolay ve en hızlı yolu</li>
				<li>Kaliteli malları %5 ile %90 arasında indirimle satın alma fırsatı</li>
				<li>7/24 hukuki ve tekniki destek</li>
			</ul>
		</div>
	</div>

	<div class="game">
		<div class="container">
			<div class="description">
				<h2>Yapıcı yaklaşım / Öngörü</h2>
				<p>
					Platformun amacı, sadece sahipsiz kargo problem ile ihracatçı ve tüccarlara yardımcı olmak değil, aynı zamanda
					olarak bu tür malların ortaya çıkmasını önlemektir.
				</p>
			</div>
			<img b2bNgxImage name="how-it-works-2-2" />
		</div>
	</div>

	<div class="container">
		<div class="risks">
			<h2>Minimum risk</h2>
			<p>
				Eyer alıcının güvenilir biri olduğundan şüphe etmek için bir nedeniniz olursa, o zaman beklemeden harakete keçe
				bilirsiniz. Diğer potansiyel alıcıları bulmak için kargonuzu B2B Discount-a ekleyin. İlk anlaşmanın planlandığı
				gibi gitmemesi durumunda, onlar sizin can simidiniz olacak.
			</p>
		</div>
	</div>

	<div class="anonymity">
		<div class="container">
			<img b2bNgxImage name="how-it-works-2-4" />

			<div class="description">
				<h2>Anonimlik</h2>
				<p>
					Platform, sizin iletişim bilgilerinizi ve kargo bilgilerinizi gizi tutmanıza yardımcı olar. Kargonun sahibi,
					malların satışı için verileri yeni bir alıcıya açmaya karar verene kadar teklif anonim olarak kalacakdır..
				</p>
				<a [routerLink]="b2bNgxLinkService.getLink('/offer') | async">kargo yerleştirmek</a>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="verification">
			<h2>Kargo doğrulama</h2>
			<p>
				Platforma eklenen tüm ürünler denetleniyor. Kargonun yerleştirilmesi, ancak beraberindeki uygun belgeler ve
				fotoğraf malzemeleri varsa mümkündür. Platformda uygulanan online konteyner ve kargo takip sistemi sayesinde
				alıcı, ilgilenilen kargonun yerini takip etme imkanına sahiptir.
			</p>
		</div>
	</div>

	<div class="profit">
		<div class="container">
			<div class="description">
				<h2>Her kes için fayda</h2>
				<p>
					İthalatçılar ve tüccarlar, malların piyasa fiyatının %5 ila %90'ı arasında bir indirimle kazançlı anlaşmalara
					girebilir ve satıcının büyük mali kayıplar almamasına yardımcı olabilir.
				</p>
				<a [routerLink]="b2bNgxLinkService.getLink('/latest-offers') | async">Tüm tekliflere bak</a>
			</div>
			<img b2bNgxImage name="how-it-works-2-3" />
		</div>
	</div>

	<div class="container">
		<div class="mission">
			<h2>Şirketin misyonu</h2>
			<p>
				Uluslararası lojistik ve ticaretle ilgili tüm taraflara daha güvenli ve rahat bir ortam yaratmak için dış
				ekonomik faaliyetindeki tüm katılımcıları birleştirmek.
			</p>

			<div class="video-wrapper">
				<video
					[controls]="!video.paused"
					class="video"
					poster="assets/images/client_home_background.png"
					(ended)="video.load()"
					#video>
					<source src="assets/videos/how-it-works.mp4" type="video/mp4" />
				</video>

				<button class="video-button" *ngIf="video.paused" (click)="video.play()">
					<img b2bNgxIcon class="video-button-icon" name="play" />
				</button>
			</div>

			<h3>Ücretsiz kayıt</h3>
			<p>
				B2B Discount 2021 yazında uluslararası pazara giren ABD merkezli bir girişimdir. Platformun tüm hizmetleri
				30.06.2022 tarihine kadar ücretsiz olacaktır. Hizmetimizin tüm avantajlarından hemen yararlanma fırsatını
				kaçırmayın.
			</p>
			<a [routerLink]="b2bNgxLinkService.getLink('/auth/register-credentials') | async">Ücretsiz hesap yarat</a>
		</div>

		<p class="feedback">
			Biz platformu daha da iyi ve işlevsel hale getirmek istiyoruz. Dilek ve fikirlerinizi
			<a href="mailto:support@b2b.discount">support@b2b.discount</a> adresinden bize yazarak bu konuda bize yardımcı
			olabilirsiniz
		</p>

		<div class="footer">
			<a [routerLink]="b2bNgxLinkService.getLink('/') | async">
				<img b2bNgxIcon name="logo" alt="" />
			</a>
			<p>We connect buyers and sellers directly.</p>
		</div>
	</div>
</div>
