<div class="registration-complete">
	<div class="registration-complete__body">
		<img b2bNgxImage name="success" />
		<p>{{ 'GOOGLE-AUTH-COMPLETE.TITLE' | translate }}</p>
		<span>
			{{ 'GOOGLE-AUTH-COMPLETE.SUBTITLE' | translate }}
		</span>

		<div class="registration-complete__body-actions">
			<button
				(click)="goToHome()"
				b2bNgxButton
				class="client-profile-settings-footer-cancel-button"
				[theme]="b2bNgxButtonThemeEnum.OUTLINE_BLACK">
				{{ 'GOOGLE-AUTH-COMPLETE.BACK_TO_HOME' | translate }}
			</button>
			<button
				(click)="goToMarket()"
				b2bNgxButton
				type="submit"
				class="client-profile-settings-footer-save-button"
				[theme]="b2bNgxButtonThemeEnum.BACKGROUND_BLACK">
				{{ 'GOOGLE-AUTH-COMPLETE.B2BMarket' | translate }}
			</button>
		</div>
	</div>
</div>
