@import 'projects/shared/src/styles';

.badge {
	display: flex;
	align-items: center;
	background: #eff7ff;
	border: 1px solid #005dff;
	box-sizing: border-box;
	border-radius: 4px;
	padding: 12px 16px;
	font-size: 12px;
	color: #222224;

	.img {
		margin-right: 15px;
	}

	.label {
		text-align: left;
		white-space: pre-line;
	}

	&.invalid {
		background-color: rgba(230, 61, 61, 0.05);
		border: 1px solid #922f08;
	}

	&.disabled {
		background-color: #d9d9d94d;
		border-color: #c4c4c4;
	}
}

.client-profile-add-offer-wrapper {
	@include breakpoint('3') {
		background: #ffffff;
		padding: 0 18px;
	}

	.add-offer-title {
		padding: 32px 0;
		font-size: 24px;
		font-weight: 700;
		line-height: 32px;
		letter-spacing: 0.01em;
	}

	.error {
		display: block;
		font-size: 14px;
		color: #e63d3d;
		margin-top: 4px;
	}

	.client-profile-add-offer {
		border-radius: 14px;
		box-shadow:
			4px 4px 8px 0 #e5f2fd80,
			-4px -4px 8px 0px #e5f2fd80;
		background: #ffffff;
		padding: 32px;

		@include breakpoint('3') {
			padding: 0;
			box-shadow: none;
			background: transparent;
		}

		.product-section {
			border-bottom: 1px solid #e3eaf1;
			padding-bottom: 32px;

			&:first-of-type .section-title {
				margin-top: 0;
			}

			&:last-of-type {
				border-bottom: none;
			}

			.section-title {
				font-size: 14px;
				font-weight: 500;
				line-height: 19px;
				letter-spacing: 0.01em;
				margin: 32px 0 16px;

				&.subtitle {
					font-weight: 400;
				}

				span {
					color: #c4c4c4;
				}
			}

			.form-block {
				max-width: 720px;
				margin-top: 24px;

				@include breakpoint('3') {
					margin-top: 0;

					&.main-form-block {
						margin-top: 16px;
					}
				}

				.photos-advice {
					margin: 16px 0;
					font-size: 12px;
					font-weight: 400;
					line-height: 16px;
				}

				.photos-wrapper {
					gap: 16px;
					justify-content: flex-start;

					@include breakpoint('3') {
						flex-wrap: wrap;
					}

					.photos {
						display: flex;
						flex-direction: column;
						align-items: center;

						.dragged-image {
							width: 96px;
							height: 19628px;
						}

						> div {
							max-width: 96px;
							max-height: 96px;
							background: #ffffff;
							border-radius: 4px;
							border: 1px solid #0000004d;
							padding: 32px;
							position: relative;
							line-height: 0;

							@include breakpoint('3') {
								max-width: 162px;
								max-height: 162px;
								width: 162px;
								height: 162px;
								display: flex;
								justify-content: center;
								align-items: center;
							}

							&.active-image {
								padding: 0;

								img {
									width: 96px;
									height: 96px;

									@include breakpoint('3') {
										width: 162px;
										height: 162px;
									}
								}
							}

							img {
								cursor: move;
								width: 32px;
								height: 32px;
							}

							span {
								background-color: #ee3535;
								top: 12px;
								left: 0;
								position: absolute;
								font-size: 8px;
								font-weight: 400;
								line-height: 11px;
								color: white;
								padding: 3px 6px 2px 8px;
								border-radius: 0 2px 2px 0;
							}
						}

						button {
							font-size: 12px;
							font-weight: 400;
							line-height: 17px;
							text-decoration: underline;
							color: #556274;

							@include breakpoint('3') {
								display: none;
							}
						}

						.mobile-delete {
							display: none;

							@include breakpoint('3') {
								display: block;
								margin-top: 16px;
							}
						}
					}
				}
			}

			.input-label {
				font-size: 14px;
				font-weight: 400;
				line-height: 20px;
				letter-spacing: 0.01em;
				color: #556274;

				.desc-text {
					font-size: 12px;
					line-height: 17px;
					color: #9fa4bb;
				}
			}

			.control-wrapper {
				margin-bottom: 24px;

				input::-webkit-outer-spin-button,
				input::-webkit-inner-spin-button {
					-webkit-appearance: none;
					margin: 0;
				}

				&:last-of-type {
					margin-bottom: 0;
				}

				&.brand {
					@include breakpoint('3') {
						margin-top: 24px;
					}
				}

				textarea {
					height: 146px;

					&::placeholder {
						color: #9fa4bb;
					}
				}

				&.textarea-wrapper {
					position: relative;

					.area-count {
						position: absolute;
						top: 135px;
						right: 14px;
						color: #979797;
					}
				}

				.file-button-wrapper {
					display: flex;
					align-items: center;
					gap: 14px;

					.file-button {
						padding: 8px 16px;
						display: flex;
						align-items: center;
						gap: 4px;
						border-radius: 4px;

						span {
							font-size: 12px;
							font-weight: 400;
							line-height: 17px;
							letter-spacing: 0.01em;
						}

						img {
							width: 16px;
							height: 16px;
						}
					}

					p {
						font-size: 10px;
						font-weight: 400;
						line-height: 14px;
					}
				}
			}

			.checkbox-column {
				display: flex;
				flex-direction: column;
				gap: 16px;
			}

			.checkbox-row {
				display: flex;
				flex-wrap: wrap;
				gap: 14px;

				@include breakpoint('3') {
					b2b-ngx-checkbox {
						min-width: 47%;
					}
				}
			}

			.shipping-label {
				font-size: 14px;
				font-weight: 500;
				line-height: 20px;
				margin: 31px 0 16px;
			}

			.chips {
				display: flex;
				gap: 16px;
				flex-wrap: wrap;

				@include breakpoint('3') {
					padding-top: 16px;
				}

				&__item {
					display: flex;
					align-items: center;
					border: 1px solid #0f0f11;
					padding: 7px 10px 7px 10px;
					border-radius: 1050px;
					max-width: 218px;

					span {
						display: block;
						max-width: 90%;
						overflow: hidden;
						white-space: nowrap;
						font-size: 14px;
						font-weight: 500;
						line-height: 18px;
						letter-spacing: 0.02em;
						text-overflow: ellipsis;
					}

					&-icon {
						cursor: pointer;
						width: 8px;
						height: 8px;
					}
				}
			}
		}

		.w-70 {
			width: 70%;

			@include breakpoint('3') {
				width: 100%;
			}
		}

		.w-25 {
			width: 25%;

			@include breakpoint('3') {
				width: 100% !important;
				margin-top: 16px;
			}
		}

		.mt-20 {
			margin-top: 20px;

			@include breakpoint('3') {
				margin-top: 0;
			}
		}

		.two-in-row {
			width: 48%;

			@include breakpoint('3') {
				width: 100%;
			}
		}

		.price-input {
			position: relative;

			.usd {
				position: absolute;
				right: 11px;
				margin-top: 16px;
				color: #9fa4bb;
				font-size: 14px;
				font-weight: 700;
				line-height: 20px;
				letter-spacing: 0.01em;
			}
		}

		@include breakpoint('3') {
			.more-info-desktop {
				display: none;
			}
		}

		.more-info-mobile {
			display: none;

			@include breakpoint('3') {
				display: block;
			}
		}

		.custom-info {
			margin-top: 24px;

			.more-information-block {
				gap: 8px;
				display: flex;
				margin-bottom: 16px;

				&:last-of-type {
					margin-bottom: 0;
				}

				.inputs {
					width: 100%;
					margin-top: 0;
				}

				.actions {
					display: flex;
					gap: 8px;
					align-items: center;

					&.port-actions {
						margin-top: 24px;

						@include breakpoint('3') {
							flex-direction: column;
							justify-content: center;
						}
					}

					img {
						width: 16px;
						height: 16px;

						&:first-of-type {
							transform: rotate(180deg);
						}

						&:last-of-type {
							margin-left: 8px;

							@include breakpoint('3') {
								margin: 0;
							}
						}
					}
				}
			}
		}

		.add-more {
			margin-top: 24px;
			border-radius: 4px;
			padding: 8px 18px;
			border: 1px solid black;
		}
	}

	.form-buttons {
		padding: 32px 0 90px;
		display: flex;
		justify-content: center;
		gap: 8px;

		@include breakpoint('3') {
			flex-direction: column-reverse;
		}

		button {
			padding: 15px 40px;
		}
	}

	&.edit {
		padding: 0;

		.add-offer-title {
			display: none;
		}
	}
}

::ng-deep {
	.ng-dropdown-panel .ng-dropdown-panel-items {
		min-width: 115px;
	}
}

.auth-register-individual-account__main-input {
	::ng-deep {
		.ng-placeholder {
			display: block;
		}
	}
}

::ng-deep {
	.cdk-drag-preview {
		width: 84px;
		height: 84px;
		box-sizing: border-box;
		border-radius: 4px;
		box-shadow:
			0 5px 5px -3px rgba(0, 0, 0, 0.2),
			0 8px 10px 1px rgba(0, 0, 0, 0.14),
			0 3px 14px 2px rgba(0, 0, 0, 0.12);
	}

	.cdk-drag-placeholder {
		opacity: 0;
	}

	.cdk-drag-animating {
		transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
	}

	.photos-wrapper.cdk-drop-list-dragging img:not(.cdk-drag-placeholder) {
		transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
	}
}

.flex-between {
	display: flex;
	justify-content: space-between;

	@include breakpoint('3') {
		flex-wrap: wrap;
	}
}

.required {
	color: #ff2626 !important;
}

::-webkit-input-placeholder,
.b2b-ngx-input.background.background-gray::placeholder,
input[type='text']::-webkit-input-placeholder,
input[type='number']::placeholder {
	color: #9fa4bb;
}

input[type='file'] {
	display: none;
}

::ng-deep {
	.b2b-ngx-input::placeholder,
	.ng-select .ng-select-container .ng-value-container .ng-placeholder {
		color: #9fa4bb;
	}

	input.datepicker {
		height: 49px;
		border: none;
		border-radius: 4px;
		padding: 0 16px;
		width: 100%;
		background-color: #f3f4f6;

		&::placeholder {
			color: #55627499;
			font-size: 14px;
			font-weight: 400;
			line-height: 20px;
		}
	}

	input.has-value {
		max-width: 100% !important;
		padding: 0 16px !important;
	}
}
