<li [ngStyle]="{ height: chatPossibilityIsHidden ? '350px' : '395px' }" class="product">
	<a
		[routerLink]="['products', product?.path ? product.path : product._id]
		">
		<div>
			<img b2bNgxImage [name]="product?.photos[0]?.lg" alt="" class="product-header" />
			<div *ngIf="product.hidden" class="ngx-latest-offers-grid-item-image-container-overlay">
				<p>HIDDEN</p>
			</div>
		</div>
		<div class="product-title">{{ cutString(product.title, 20) }}</div>
		<div class="supplier-info">
			<img *ngIf="getCompanyLogo() !== 'plug'; else iconPlug" b2bNgxImage [name]="getCompanyLogo()" alt="logo" />
			<ng-template #iconPlug>
				<img b2bNgxIcon name="company-logo-plug" />
			</ng-template>
			<div class="text">
				{{ cutString(product.company ? product.company[0]?.companyName : product.contact.companyName, 17) }}
			</div>
		</div>
		<div *ngIf="product.company; else productWithoutCompany" class="supplier-info">
			<img b2bNgxIcon group="flags/" [name]="product.company[0]?.country | uppercase" alt="" />
			<div class="text">{{ getCountryName(product.company[0]?.country) }}</div>
		</div>
		<ng-template #productWithoutCompany>
			<div class="supplier-info">
				<img b2bNgxIcon group="flags/" [name]="product.country | uppercase" alt="" />
				<div class="text">{{ getCountryName(product.country) }}</div>
			</div>
		</ng-template>

		<div class="supplier-info">
			<img b2bNgxIcon name="tag" alt="" />
			<div class="text">{{ product.suppliersType }}</div>
		</div>

		<div *ngIf="!chatPossibilityIsHidden" class="divider"></div>
	</a>
	<button
		*ngIf="!chatPossibilityIsHidden"
		b2bNgxButton
		[theme]="b2bNgxButtonThemeEnum.BACKGROUND_BLACK"
		class="product-item-footer-button"
		(click)="openChat($event)"
		[id]="getIdForContactSupplierButton$() | async">
			<span class="product-item-footer-button-text">{{
				product.user === (user$ | async)?._id ? "View my product" : "Contact Supplier"
				}}</span>
	</button>
</li>
