<li
	[ngStyle]="{ height: chatPossibilityIsHidden ? '350px' : '385px' }"
	class="product">
	<div>
		<b2b-client-marketplace-images-carousel [images]="product.photos"></b2b-client-marketplace-images-carousel>
		<a
			[routerLink]="[
			'/b2bmarket/listing/products/',
			product?.path || product._id
		]"
			[queryParams]="params">
			<!--			<img b2bNgxImage [src]="getImgUrl()" alt="" class="product-header" />-->
			<div
				*ngIf="product.hidden"
				class="ngx-latest-offers-grid-item-image-container-overlay">
				<p>HIDDEN</p>
			</div>
		</a>
	</div>
	<div class="product-title">{{ cutString(product.title, 20) }}</div>
	<div class="product-description">
		{{ cutDescription(product?.specifications) }}
	</div>
	<div class="supplier-info">
		<div class="text">
			{{
				cutString(
					product.company
						? product.company[0]?.companyName
						: product.contact.companyName,
					17
				)
			}}
		</div>
	</div>
	@if (product.company) {
		<div
			class="supplier-info">
			<img
				b2bNgxIcon
				group="flags/"
				[name]="product.company[0]?.country | uppercase"
				alt=""/>
			<div class="text">{{ getCountryName(product.company[0]?.country) }}</div>
		</div>
	} @else {
		<div class="supplier-info">
			<img
				b2bNgxIcon
				group="flags/"
				[name]="product.country | uppercase"
				alt=""/>
			<div class="text">{{ getCountryName(product.country) }}</div>
		</div>
	}

	<button
		*ngIf="!chatPossibilityIsHidden"
		b2bNgxButton
		[theme]="b2bNgxButtonThemeEnum.BACKGROUND_GRAY"
		class="product-item-footer-button"
		(click)="openChat($event)"
		[id]="getIdForContactSupplierButton$() | async">
		<span class="product-item-footer-button-text">{{
				product.user === (user$ | async)?._id
					? 'View my product'
					: (buttonTitle$ | async)
			}}</span>
	</button>
</li>
