:host {
	.ngx-latest-offers-grid-item-image-container {
		position: relative;

		&-overlay {
			position: absolute;
			top: 0;
			width: 100%;
			height: 148px;
			background-color: rgba(255, 255, 255, 0.7);
			display: flex;
			justify-content: center;
			align-items: center;

			p {
				color: white;
				font-size: 44px;
				letter-spacing: 0.2em;
			}
		}
	}
	.product {
		list-style-type: none;
		overflow: hidden;
		width: 100%;
		height: 414px;
		box-shadow: 2px 2px 8px #e3eaf1;
		background-color: #ffffff;
		border-radius: 14px;
		cursor: pointer;
		position: relative;
		z-index: 4;

		.save {
			fill: rgba(255, 255, 255, 0.2);
			backdrop-filter: blur(20px);
			width: 48px;
			height: 48px;
			position: absolute;
			border-radius: 50%;
			overflow: hidden;
			right: 8px;
			top: 8px;
			display: grid;
			place-items: center;
		}
		img {
			width: 100%;
			height: 235px;
			object-fit: cover;
		}
		.product-title {
			padding: 18px 16px;
			max-height: 43px;
			font-weight: 700;
			font-size: 16px;
			line-height: 20px;
			letter-spacing: 0.01em;
			color: #0f0f11;
		}
		.product-description {
			color: #000;
			font-feature-settings:
				'clig' off,
				'liga' off;
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 140%;
			letter-spacing: 0.12px;
			max-height: 20px;
			padding: 0 16px;
			overflow: hidden;
			word-break: break-word;
		}
		.supplier-info {
			display: flex;
			align-items: center;
			margin-top: 2px;
			padding-left: 16px;
			&:first-child {
				margin-top: 0;
			}
			img {
				width: 16px;
				height: 12px;
				margin-right: 8px;
				object-fit: contain;
			}
			.text {
				letter-spacing: 0.01em;
				color: #0f0f11;
				font-size: 12px;
				font-weight: 400;
			}
		}

		//.divider {
		//	width: 100%;
		//	height: 0;
		//	border-bottom: 1px solid #dfe8f5;
		//	margin-top: 12px;
		//	position: absolute;
		//	bottom: 60px;
		//}

		&-item-footer-button {
			position: absolute;
			bottom: 10px;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 10px 0;
			width: 200px;
			height: 40px;
			transform: translateX(-50%);
			left: 50%;
			border-radius: 8px;

			img {
				width: 25px;
				height: auto;
			}

			&-text {
				text-shadow: 0 0 0.5px rgba(0, 0, 0, 0.25);
				margin-left: 8px;
			}
		}
	}
}
