<div class="ngx-offers-carousel">
	<div class="ngx-offers-carousel-left-button-wrapper">
		<button class="ngx-offers-carousel-left-button" (click)="moveCarousel('left')">
			<img b2bNgxIcon name="arrow-l-blue" alt="" />
		</button>
	</div>

	<ul class="ngx-offers-carousel-list" #carousel>
		<li class="ngx-offers-carousel-list-item" *ngFor="let option of optionsToDisplay">
			<img b2bNgxImage [name]="option?.photos[0]?.lg" alt="" class="img" />
			<div class="title">{{ option.title }}</div>
		</li>
	</ul>

	<div class="ngx-offers-carousel-right-button-wrapper">
		<button class="ngx-offers-carousel-right-button" (click)="moveCarousel('right')">
			<img b2bNgxIcon name="arrow-r-blue" alt="" />
		</button>
	</div>
</div>
