<div class="component">
	<div class="title">Latest products</div>
	<div *ngIf="data.length > 0" class="tabs">
		<tabset class="scrollable-tabs">
			<tab *ngFor="let tab of data; let idx = index" [heading]="$any(tab).name">
			<b2b-home-latest-products-slider
				[items]="$any(tab).products"
				[navigationButtonsIds]="{nextId: 'next-' + idx, prevId: 'prev-' + idx}"
			></b2b-home-latest-products-slider>
			</tab>
		</tabset>
		<a routerLink="/b2bmarket" class="view-all">View all</a>
	</div>
</div>
