.dialog-title {
	display: flex;
	justify-content: space-between;
}

section {
	.two-in-row {
		display: flex;
		align-items: end;
		gap: 16px;

		> div {
			flex: 1 1 50%;
		}
	}
}

.mt-16 {
	margin-top: 16px;
}

.button-wrapper {
	display: flex;
	justify-content: center;

	button {
		padding: 7.5px 15px;
	}
}

.email-wrapper {
	align-items: flex-end;
	justify-content: space-between;
	gap: 10px;
	div {
		flex-grow: 1;
	}
}
.emails-list {
	max-height: 200px;
	overflow: auto;
	display: flex;
	flex-direction: column;
	gap: 10px;
	.list-item {
		display: flex;
		align-items: center;
		.email {
			width: 80%;
		}
	}
}
