<div class="client-profile-my-offers">
	<h3 class="client-profile-my-offers-title">{{ "OFFERS.MY_OFFERS" | translate }}</h3>

	<div class="client-profile-my-offers-container">
		<ng-container *ngIf="isLangLoaded && offers$ | async as offers; else noOffers">
			<b2b-client-profile-my-offers-list
				*ngIf="offers.length; else noOffers"
				[options]="offers"
				link="offers/"
				[menuOptions]="menuOptions"></b2b-client-profile-my-offers-list>
		</ng-container>
		<ng-template #noOffers>
			<div class="client-profile-my-offers-no-offers" *ngIf="!loading">
				<p class="client-profile-my-offers-no-offers-title">
					{{ "OFFERS.NO_OFFERS_MY" | translate }}
				</p>
				<!--				<a-->
				<!--					b2bNgxLink-->
				<!--					[routerLink]="b2bNgxLinkService.getLink('/offer') | async"-->
				<!--					class="client-profile-my-offers-no-offers-button"-->
				<!--					[theme]="b2bNgxLinkThemeEnum.BACKGROUND_BLACK"-->
				<!--					>+ {{ "OFFERS.ADD_OFFER" | translate }}</a-->
				<!--				>-->

				<button
					b2bNgxButton
					[theme]="b2bNgxButtonThemeEnum.BACKGROUND_BLACK"
					class="client-profile-my-offers-no-offers-button"
					(click)="goTo('/offer')"
					id="add-offer-profile">
					+ {{ "OFFERS.ADD_OFFER" | translate }}
				</button>
			</div>
		</ng-template>

		<ng-container *ngIf="loading">
			<b2b-ngx-skeleton [option]="offersSkeletonOptions"></b2b-ngx-skeleton>
		</ng-container>
	</div>
</div>
