@import "projects/shared/src/styles";

.client-profile-chats {
	@include breakpoint("2") {
		padding: 40px 20px;
	}
	.client-profile-chats-title {
		font-weight: bold;
		font-size: 24px;
		color: #0f0f11;
	}
	.client-profile-chats-container {
		margin-top: 24px;
	}

	.client-profile-chats-no-chats {
		padding: 50px;
		text-align: center;
		.client-profile-chats-no-chats-title {
			font-weight: bold;
			font-size: 16px;
			color: #0f0f11;
		}
		.client-profile-chats-no-chats-button {
			display: inline-block;
			padding: 0.68rem 1.5rem;
			border-radius: 0.25rem;
			font-weight: 700;
			margin-top: 15px;
		}
	}
}
