@import "projects/shared/src/styles";

:host {
	.market-list {
		display: flex;
		flex-direction: column;
		.list-item {
			width: 100%;
			height: 150px;
			display: flex;
			margin-bottom: 10px;
			background-color: #ffffff;
			border-radius: 4px;
			cursor: pointer;
			.photo {
				width: 150px;
				height: 100%;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			.item-description {
				width: 60%;
				padding: 21px 150px 0 24px;
				display: flex;
				flex-direction: column;
				row-gap: 10px;
				.title {
					font-weight: 700;
					font-size: 18px;
					color: #0f0f11;
				}
				.info {
					display: grid;
					gap: 15px;
					grid-template-columns: repeat(3, auto);
					.supplier-info {
						.supplier-title {
							text-transform: uppercase;
							font-weight: 500;
							font-size: 11px;
							letter-spacing: 0.06em;
							color: #9fa4bb;
						}
						.supplier-descr {
							display: flex;
							align-items: flex-start;
							gap: 10px;
							margin-top: 7px;
							.text {
								white-space: pre-line;
								@include breakpoint('3') {
									font-size: 13px;
								}
							}
						}
					}
				}
				@include breakpoint("5") {
					padding-right: 10px;
					padding-left: 10px;
				}
				@include breakpoint("3") {
					.info {
						margin-top: 5px;
						.supplier-info {
							&:nth-child(2) {
								grid-row: 1/3;
								grid-column: 2/3;
							}
							&:nth-child(3) {
								grid-row: 2 / 3;
							}
							.supplier-descr {
								margin-top: 0;
							}
						}
					}
				}
			}
			.contact {
				height: 100%;
				margin-left: auto;
				padding: 0 15px;
				border-left: 1px solid #dfe8f5;
				button {
					display: block;
					margin: auto;
					height: 45px;
					padding: 0 25px;
					transform: translateY(115%);
				}
			}
		}
	}
}
