<div class="modal-wrapper">
	<img b2bNgxIcon name="cross" class="cross-icon" mat-dialog-close />

	<div mat-dialog-content>
		<h2 mat-dialog-title class="title">Select the product you deal with</h2>

		<div class="tab-demo">
			<mat-tab-group [(selectedIndex)]="demo1TabIndex">
				<div
					*ngFor="let category of categories$ | async; let i = index"
					class="tabs-wrapper">
					<mat-tab [label]="category.text">
						<b2b-categories-modal-list
							[categoriesList]="category.children"
							[isParentCategoryChecked]="category.checked"
							[isMultipleMode]="isMultipleMode"
							(selectedId)="onChangeSelectedId($event)">
						</b2b-categories-modal-list>
					</mat-tab>
				</div>
			</mat-tab-group>
		</div>
		<div class="modal-footer">
			<div class="footer-text">Follow at least 1 product to continue</div>
			<button
				(click)="save()"
				b2bNgxButton
				[theme]="B2bNgxButtonThemeEnum.BACKGROUND_BLUE">
				Save
			</button>
		</div>
	</div>
</div>
