<ng-container>
	<div class="sidenav">
		<div *ngIf="user" class="sidenav-header">
			<p class="sidenav-header-title">
				<img b2bNgxIcon name="user-blue" class="mr-1" />
				<span class="sidenav-header-title-text">{{ user.fullName }}</span>
			</p>
			<p class="sidenav-header-description">{{ user.email }}</p>
		</div>
		<ul class="sidenav-account">
			<li routerLink="/profile/your-account" routerLinkActive="active" class="sidenav-list-item">
				<img b2bNgxIcon [name]="'sidenav-man-skeleton'" class="mr-3" />
				<a b2bNgxLink class="sidenav-list-item-link">
					<p>Your account</p>
				</a>
			</li>
			<li *ngFor="let option of accountOptions" class="sidenav-list-item">
				<img *ngIf="option.icon" b2bNgxIcon [name]="option.icon" class="mr-3" />
				<a
					b2bNgxLink
					[routerLink]="option.link"
					routerLinkActive="active"
					[routerLinkActiveOptions]="{ exact: true }"
					class="sidenav-list-item-link">
					<ng-container *ngTemplateOutlet="content; context: { $implicit: option }"></ng-container>
				</a>
			</li>
		</ul>
		<ul class="sidenav-workspace">
			<li routerLink="/profile/your-workspace" routerLinkActive="active" class="sidenav-list-item">
				<img b2bNgxIcon [name]="'desktop'" class="mr-3" />
				<a b2bNgxLink class="sidenav-list-item-link">
					<p>Your workspace</p>
				</a>
			</li>
			<li *ngFor="let option of workspaceOptions" [class.active]="option.active" class="sidenav-list-item">
				<img b2bNgxIcon [name]="option.icon" class="mr-3" />
				<a
					*ngIf="option.link"
					b2bNgxLink
					[routerLink]="option.link"
					routerLinkActive="active"
					class="sidenav-list-item-link">
					<ng-container *ngTemplateOutlet="content; context: { $implicit: option }"></ng-container>
				</a>
				<button b2bNgxButton class="sidenav-list-item-button" (click)="option.onClick()" *ngIf="option.onClick">
					<ng-container *ngTemplateOutlet="content; context: { $implicit: option }"></ng-container>
				</button>
			</li>
		</ul>
	</div>

	<ng-template #content let-option>
		<p class="sidenav-list-item-text">{{ option.label | translate }}</p>
		<ng-container *ngIf="unreadOfferMessagesCount$ | async as unreadMessagesCount">
			<span class="unread-messages" *ngIf="option.label === 'Unclaimed cargo' && unreadMessagesCount > 0">{{
				unreadMessagesCount
			}}</span>
		</ng-container>

		<ng-container *ngIf="unreadRfqMessagesCount$ | async as unreadMessagesCount">
			<span class="unread-messages" *ngIf="option.label === 'TradeBid' && unreadMessagesCount > 0">{{
				unreadMessagesCount
			}}</span>
		</ng-container>

		<ng-container *ngIf="unreadMarketplaceMessagesCount$ | async as unreadMessagesCount">
			<span class="unread-messages" *ngIf="option.label === 'B2B Market' && unreadMessagesCount > 0">{{
				unreadMessagesCount
			}}</span>
		</ng-container>
	</ng-template>
</ng-container>
