.dialog-title {
	display: flex;
	justify-content: space-between;
}

.mt-16 {
	margin-top: 16px;
}

section {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	min-height: 300px;

	.button-wrapper {
		display: flex;
		justify-content: center;

		button {
			padding: 7.5px 15px;
		}
	}
}

.add-more {
	margin-top: 24px;
	border-radius: 4px;
	padding: 8px 18px;
	border: 1px solid black;
}

.error {
	font-size: 14px;
	color: #e63d3d;
	margin-top: 7px;
	margin-bottom: 0;
}
