<div class="privacy-policy">
	<div class="container">
		<div class="title-wrapper">
			<h1 class="title">{{ 'PRIVACY_POLICY.TITLE' | translate }}</h1>
			<p class="dates">
				<span class="modifed-date"
					>{{ 'PRIVACY_POLICY.LAST_MODIFED' | translate }} 23.01.2024</span
				>
			</p>
		</div>

		<section class="section">
			<p class="section-title">Welcome to Globy!</p>
			<p class="section-description">
				Globy is owned and operated by B2B Discount, Inc.
			</p>
			<p class="section-description">
				Globy values your privacy and the protection of your personal data. This
				privacy policy describes what information we collect from you, how we
				collect it, how we use it, how we obtain your consent, how long we keep
				it in our databases and, if necessary, with whom we share it.
			</p>
			<p class="section-description">
				By using the website, you are accepting the practices described in this
				privacy policy. Your use of the website is also subject to our terms and
				conditions. In this privacy policy, the words "website" and "platform",
				refer to Globy's website, "we", "us", "our", and "Globy", refer to
				Globy, and "you", and "user", refer to you, the user of Globy (Suppliers
				and Buyers).
			</p>
			<p class="section-description">
				This privacy policy may change from time to time. Your continued use of
				the website after we make changes to this privacy policy will be deemed
				acceptance of those changes, so please check this policy periodically
				for updates. This privacy policy has been prepared and is maintained in
				accordance with all applicable national and international laws and
				regulations.
			</p>
		</section>
		<section class="section">
			<p class="section-title">1. GENERAL INFORMATION</p>
			<div class="section-description">
				The personal data of users that are collected and processed through:
				<ul class="section-ul">
					<li><a routerLink="/">https://globy.com</a></li>
				</ul>
				Will be under the responsibility and in charge of:
				<ul class="section-ul">
					<li><b>B2B Discount, Inc.</b></li>
					<li><b>610 N. Gilbert Rd. Suite 201, 85234 USA</b></li>
					<li>
						<a href="mailto:info@globy.com" class="section-link"
							>info&#64;globy.com</a
						>
					</li>
				</ul>
			</div>
		</section>
		<section class="section">
			<p class="section-title">2. HOW DO YOU OBTAIN MY CONSENT?</p>
			<p class="section-description">
				By visiting the website, registering as a user (Supplier and Buyer),
				posting products to the B2B Market, contacting a Supplier (Buyer),
				placing a sourcing request (Buyer), using the instant freight calculator
				(Quick Logistics), posting an unclaimed cargo, contacting a seller
				(Unclaimed cargo), contacting us through our contact information and
				contact forms, and providing us with personal information to communicate
				with you, you consent to our collection, storage and use of your
				information on the terms set forth in this privacy policy. You may
				withdraw your consent at any time by sending us your request through our
				contact information.
			</p>
		</section>
		<section class="section">
			<p class="section-title">3. TYPES OF INFORMATION COLLECTED</p>
			<p class="section-description">
				The information we collect from our users helps us to continually
				improve the user experience on the website and provide our services
				appropriately. These are the types of information we collect:
			</p>
			<div class="section-description">
				Information you provide to us. You provide information when you visit
				the website, register as a user (Supplier and Buyer), post products to
				the B2B Market (Supplier), contact a Supplier (Buyer), make a sourcing
				request (Buyer), use the instant freight calculator (Quick Logistics),
				post an unclaimed cargo, contact a seller (unclaimed cargo), contact us
				through our contact information and contact forms and provide personal
				information to communicate with you. As a result of those actions, you
				may provide us with the following information:
				<ul class="section-ul">
					<li>Name</li>
					<li>E-mail address</li>
					<li>Phone</li>
					<li>Address, State, County, ZIP Code, City</li>
					<li>Company name</li>
					<li>Office address</li>
					<li>Year of foundation</li>
					<li>Number of employees</li>
					<li>Annual revenue</li>
					<li>
						Any additional information related to you that you provide to us
						directly or indirectly through our website.
					</li>
				</ul>
			</div>
			<p class="section-description">
				Globy will not collect any personally identifiable information about you
				unless you provide it.
			</p>
			<p class="section-description">
				<b>Automatic Collection of Information:</b> As you browse our website,
				certain usage data is automatically collected. These include technical
				information such as the IP address of your device, the type and version
				of your browser, the specific pages you visit on our website, the date
				and time of your access, the amount of time you spend on those pages,
				and other diagnostically relevant data.
			</p>
			<p class="section-description">
				In the case of access via mobile devices, we also collect information
				specific to these devices. This may include, but is not limited to, the
				type of mobile device used, its unique identifier, the IP address of the
				device, the mobile operating system and the type of mobile browser,
				along with other identifiers and diagnostic data.
			</p>
			<p class="section-description">
				In addition, we collect information that your browser automatically
				provides each time you visit our website or access our website using a
				mobile device.
			</p>
			<p class="section-description">
				<b>User Content:</b> Globy collects and processes user content, which
				includes data and information entered on our platform, solely for the
				provision and improvement of our services. We are committed to
				maintaining the confidentiality and security of this content, and will
				not share it with third parties except as required by law or for the
				operation of the service. Users have the right to access, modify and
				request deletion of their information, in accordance with our data
				retention policies and applicable law. Use of our platform implies
				consent to the processing of this data as described in this policy.
			</p>
			<p class="section-description">
				<b>GOOGLE Analytics.</b> We use Google Analytics provided by Google,
				Inc., USA (“Google”). These tool and technologies collect and analyze
				certain types of information, including IP addresses, device and
				software identifiers, referring and exit URLs, feature use metrics and
				statistics, usage history, media access control address (MAC Address),
				mobile unique device identifiers, and other similar information via the
				use of cookies. The information generated by Google Analytics (including
				your IP address) may be transmitted to and stored by Google on servers
				in the United States. We use the GOOGLE Analytics collection of data to
				enhance the website and improve our service.
			</p>
			<div class="section-description">
				Please consult Google's privacy policy here:
				<ul class="section-ul">
					<li>
						<a href="https://policies.google.com/privacy" class="section-link"
							>https://policies.google.com/privacy</a
						>
					</li>
				</ul>
			</div>
			<div class="section-description">
				<b>Social Media:</b> On our website, we provide you with a variety of
				links and tools that allow you to interact with various social networks.
				You are welcome to use these functions to share your information as you
				wish. However, we strongly recommend that you review the privacy and
				data protection policies of each of the social networks you use through
				our website to understand how they handle your personal information.
				<ul class="section-ul">
					<li>
						Facebook:
						<a
							class="section-link"
							href="https://www.facebook.com/privacy/explanation"
							>https://www.facebook.com/privacy/explanation</a
						>
					</li>
					<li>
						Twitter:
						<a class="section-link" href="https://twitter.com/privacy"
							>https://twitter.com/privacy</a
						>
					</li>
					<li>
						YouTube:
						<a class="section-link" href="https://policies.google.com/privacy"
							>https://policies.google.com/privacy</a
						>
					</li>
					<li>
						Linkedin:
						<a
							class="section-link"
							href="https://www.linkedin.com/legal/privacy-policy"
							>https://www.linkedin.com/legal/privacy-policy</a
						>
					</li>
				</ul>
			</div>
			<p class="section-description">
				<b>Contact information:</b> We may access some personal information
				about the user, such as name and email address, when the user or any
				third party communicates with us through our contact information.
				Personal information provided through our contact information is not
				stored on any Globy server and will be stored on the respective server
				of our email service.
			</p>
		</section>
		<section class="section">
			<p class="section-title">4. HOW LONG WE KEEP YOUR DATA</p>
			<p class="section-description">
				Personal data provided by our users through our website will be kept for
				the time necessary to adequately provide our services and fulfill the
				legitimate purposes described in this policy in section 5 or until the
				user closes the user account or requests the deletion of their data.
				Globy may retain personal data for a longer period provided that the
				user has consented to such processing, as long as such consent is not
				withdrawn. In addition, Globy may be obliged to retain personal data for
				a longer period provided that this is required for compliance with a
				legal obligation or by order of an authority. Once the retention period
				has expired, the personal data will be deleted. Therefore, the right of
				access, the right of deletion, the right of rectification and the right
				to data portability cannot be asserted after the retention period has
				expired.
			</p>
		</section>
		<section class="section">
			<p class="section-title">
				5. HOW WE USE YOUR INFORMATION (LEGITIMATE PURPOSES)
			</p>
			<div class="section-description">
				In general, we use the data we collect primarily to provide, maintain,
				protect and improve our website and to provide our services properly. We
				use the data collected through our website as described below:
				<ul class="section-ul">
					<li>User registration (Suppliers and Buyers).</li>
					<li>Facilitate the publication of products on the B2B Market.</li>
					<li>Facilitate Suppliers' contact with Buyers.</li>
					<li>Send Buyers' sourcing requests to Suppliers.</li>
					<li>Facilitate the publication of unclaimed cargoes.</li>
					<li>Facilitate contact with Sellers (unclaimed cargo).</li>
					<li>Provide our freight calculator (Quick Logistics).</li>
					<li>Facilitate communication between users (chat).</li>
					<li>Understand and improve your experience using our website.</li>
					<li>
						Respond to your comments or questions through our support service.
					</li>
					<li>
						Send you related information, including confirmations, invoices,
						technical notices, updates, security alerts, and support and
						administrative messages.
					</li>
					<li>Send you relevant information about our website and services.</li>
					<li>Marketing purposes of Globy.</li>
					<li>
						Link or combine your information with other data we obtain from
						third parties to help us understand your needs and provide you with
						better service.
					</li>
					<li>
						Protect, investigate and deter fraudulent, unauthorized or illegal
						activities.
					</li>
				</ul>
			</div>
		</section>
		<section class="section">
			<p class="section-title">6. HOW WE SHARE INFORMATION</p>
			<p class="section-description">
				Information about our clients is an important part of our business, and
				we are not in the business of selling it to others. We share client
				information only as described below.
			</p>
			<p class="section-description">
				<b>Third-Party Service Providers.</b> We use third-party services to
				perform certain functions on our website. Some of these functions and
				services include: Website hosting, sending emails, advertising services
				(Google Tag Manager, Facebook), heat map analysis (Hotjar) and data
				analysis (Google Analytics, Mixpanel).
			</p>
			<p class="section-description">
				These third-party services and tools may have access to personal
				information needed to perform their functions, but may not use that
				information for other purposes. Information shared with these
				third-party services will be treated and stored in accordance with their
				respective privacy policies and our privacy policy.
			</p>
			<p class="section-description">
				<b>Marketing:</b> By using our services and website, you consent to the
				use of your personal information, including name and email address, for
				the sole purpose of receiving communications about our website and
				services. Globy respects your privacy and does not share this
				information with unauthorized third parties. If you wish to stop
				receiving marketing communications, you can unsubscribe at any time by
				using the "unsubscribe" option available in the same marketing emails or
				by sending your request through our contact information.
			</p>
			<p class="section-description">
				<b>Business Transfers.</b> In the event Globy creates, merges with, or
				is acquired by another entity, your information will likely be
				transferred. Globy will send you an email or post a prominent notice on
				our website before your information becomes subject to another privacy
				policy.
			</p>
			<p class="section-description">
				<b>Protection of Globy and Others.</b> We release personal information
				when we believe release is appropriate to comply with the law, enforce
				or apply our terms and conditions and other agreements, or protect the
				rights, property, or safety of Globy, our users, or others. This
				includes exchanging information with other companies and organizations
				for fraud protection and credit risk reduction.
			</p>
			<p class="section-description">
				<b>Anonymous Information.</b> Globy uses anonymous browsing information
				collected automatically by our servers primarily to help us administer
				and improve the website. We may also use aggregated anonymous
				information to provide information about the website to potential
				business partners and other unaffiliated entities. This information is
				not personally identifiable.
			</p>
		</section>
		<section class="section">
			<p class="section-title">7. DATA BREACH NOTIFICATIONS</p>
			<p class="section-description">
				In the event of a security breach that compromises the confidentiality
				of the personal data of our users, Globy undertakes to notify those
				affected in a timely manner. This notification will be made through the
				means of contact that have been provided by the user on our website. We
				will take all reasonable measures to protect the information and remedy
				any situation that compromises the security of your data.
			</p>
		</section>
		<section class="section">
			<p class="section-title">8. INTERNATIONAL DATA TRANSFER</p>
			<p class="section-description">
				By using our website, you agree that your personal data may be
				transferred and processed outside your home country, where data
				protection laws may be different from those of your country. Globy is
				committed to taking the necessary steps to ensure that your data is
				treated in accordance with applicable privacy protection rules and is
				adequately protected during any international transfer.
			</p>
		</section>

		<section class="section">
			<p class="section-title">9. PROTECTION OF YOUR INFORMATION</p>
			<p class="section-description">
				We grant access to your personal information only to those outside
				persons or services that have a legitimate need to know it and in
				accordance with our privacy policy. We adhere to industry-recognized
				security standards to protect your personal information, both during
				transmission and in storage. However, it is important to note that no
				method of transmission over the Internet or electronic storage is
				foolproof and 100% secure. Therefore, while we at Globy strive to
				implement commercially viable data protection methods, we cannot ensure
				absolute security of your personal information. We undertake not to
				sell, distribute or transfer your personal data to unauthorized third
				parties, unless we have your explicit consent or are required by law to
				do so.
			</p>
		</section>

		<section class="section">
			<p class="section-title">10. RIGHTS</p>
			<p class="section-description">
				Users who provide information through our website, as data subjects,
				have the right to access, rectify, download or delete their information,
				as well as to restrict and oppose certain processing of their
				information. While some of these rights apply generally, others only
				apply in certain limited circumstances. These rights are described
				below:
			</p>
			<div class="section-description">
				<ul class="section-ul">
					<li>
						<b>Access and portability:</b> to access and know what information
						is stored on our servers, you can send us your request through our
						contact information.
					</li>
					<li>
						<b>Rectification, restriction, limitation and deletion:</b> You may
						also rectify, restrict, limit or delete much of your information.
					</li>
					<li>
						<b>Right to be informed:</b> Users of our website will be informed,
						upon request, about what data we collect, how it is used, how long
						it is kept and whether it is shared with third parties.
					</li>
					<li>
						<b>Object</b> Where we process your data based on our legitimate
						interests, as explained above, or in the public interest, you may
						object to this processing in certain circumstances. In such cases,
						we will stop processing your information unless we have legitimate
						grounds to continue processing it or where necessary for legal
						reasons.
					</li>
					<li>
						<b>Withdraw consent:</b> Where you have previously given your
						consent, for example to allow us to process and store your personal
						information, you have the right to withdraw your consent to the
						processing and storage of your information at any time. For example,
						you can withdraw your consent by updating your settings. In certain
						cases, we may continue to process your information after you have
						withdrawn your consent if we have a lawful basis for doing so or if
						your withdrawal of consent was limited to certain processing
						activities.
					</li>
					<li>
						<b>Complaint: </b> If you wish to lodge a complaint about our use of
						your information (and without prejudice to any other rights you may
						have), you have the right to do so with your local supervisory
						authority. Users may exercise all of these rights by contacting us
						via the contact information or contact page.
					</li>
					<li>
						<b
							>Rights related to automated decision-making, including
							profiling:</b
						>
						Users may request that we provide them with a copy of the automated
						processing activities we conduct if they believe that data is being
						unlawfully processed.
					</li>
				</ul>
			</div>
		</section>

		<section class="section">
			<p class="section-title">11. PROTECTION OF CHILDREN'S ONLINE PRIVACY</p>
			<p class="section-description">
				We comply with the requirements of national and international data
				protection regulations regarding the protection of personal data of
				minors. Although the website is available to all ages, we do not collect
				any information from children under the age of 13 without the respective
				permission of their parents or legal guardians. If we become aware that
				a child under the age of 13 has provided us with personal information
				without the permission of his or her parent or legal guardian, we will
				take the necessary steps to delete that information.
			</p>
		</section>

		<section class="section">
			<p class="section-title">12. THIRD PARTIES</p>
			<p class="section-description">
				Except as expressly included in this privacy policy, this document only
				addresses the use and disclosure of information that Globy collects from
				you. If you disclose your information to third parties, different rules
				may apply to their use or disclosure of the information you disclose to
				them. Globy does not control the privacy policies of third parties, and
				you are subject to the privacy policies of such third parties where
				applicable. Globy is not responsible for the privacy or security
				practices of third parties, including those linked to or from the
				website. Please refer to the privacy policies of any third-party
				websites or services you access through the website.
			</p>
		</section>

		<section class="section">
			<p class="section-title">13. CHANGES TO PRIVACY POLICY</p>
			<p class="section-description">
				We reserve the right to change our privacy policy at any time. Changes
				will be notified to our users, clients or patients in a timely manner
				and posted on the website. Your continued use of our website and our
				services following these changes constitutes acceptance of the changes.
			</p>
		</section>

		<section class="section">
			<p class="section-title">14. CONTACT</p>
			<p class="section-description">
				If you have questions or concerns about this privacy policy and the
				treatment and security of your data, please contact us using the contact
				information below:
			</p>
			<p class="section-description"><b>B2B Discount, Inc - Globy.</b></p>
			<p class="section-description">610 N. Gilbert Rd. Suite 201, 85234 USA</p>
			<p class="section-description">
				<a href="mailto:info@globy.com" class="section-link"
					>info&#64;globy.com</a
				>
			</p>
		</section>
	</div>
</div>
