.admin-payment-plan-item {
	background-color: #fff;
	border: 2px solid gray;

	h2 {
		text-align: center;
	}

	h3 {
		padding-left: 20px;
	}

	button {
		display: block;
		width: 90%;
		height: 40px;
		margin: 10px auto;
	}
}
