@import 'projects/shared/src/styles';

.ngx-latest-offers-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(274px, 1fr));
	gap: 15px;
	width: 100%;
	max-width: 1000px;

	.divider {
		grid-column: span 3;
	}

	.ngx-latest-offers-grid-item {
		position: relative;
		background: #ffffff;
		box-shadow: 2px 2px 8px #e3eaf1;
		border-radius: 4px;
		margin-top: 16px;
		@include breakpoint('6') {
			margin-left: 0.6%;
			margin-right: 0.6%;
			&:nth-child(4n + 1) {
				margin-left: 0;
			}
			&:nth-child(4n) {
				margin-right: 0;
			}
		}
		@include breakpoint('5') {
			margin-left: 1%;
			margin-right: 1%;
			&:nth-child(3n + 1) {
				margin-left: 0;
			}
			&:nth-child(3n) {
				margin-right: 0;
			}
		}
		@include breakpoint('3') {
			margin-left: 1%;
			margin-right: 1%;
			&:nth-child(2n + 1) {
				margin-left: 0;
			}
			&:nth-child(2n) {
				margin-right: 0;
			}
		}
		@include breakpoint('2') {
			width: 100%;
		}
	}
}

@media (max-width: 1311px) {
	.ngx-latest-offers-grid {
		grid-template-columns: repeat(2, 1fr);
	}

	.ngx-latest-offers-grid .divider {
		grid-column: span 2; /* Set the divider to span 2 columns (2fr) for mobile */
	}
}

@include breakpoint('2') {
	.ngx-latest-offers-grid {
		grid-template-columns: 1fr;
		.divider {
			grid-column: span 1;
		}
	}
}
