<div class="reset-password">
	<form errorTailor (ngSubmit)="sendMessage(formControl)">
		<h1>{{ "RESET_PASSWORD.CREATE" | translate}}</h1>
		<input
			type="password"
			b2bNgxInput
			[placeholder]="'PLACEHOLDERS.NEW_PASSWORD' | translate"
			[formControl]="formControl"
			[theme]="b2bNgxInputThemeEnum.BACKGROUND_GRAY" />
		<p [@fadeInOut] class="auth-register-individual-account__main-input-error" *ngIf="formControl.errors?.['password']">
			{{ "ERRORS.PASSWORD" | translate}}
		</p>
		<button b2bNgxButton type="submit" [theme]="b2bNgxButtonThemeEnum.BACKGROUND_BLACK">
			{{ "RESET_PASSWORD.SAVE" | translate}}
		</button>
	</form>
</div>
