@import 'projects/shared/src/styles/breakpoints';
@import 'projects/shared/src/styles/success-modal';

.content {
	&__buttons {
		justify-content: center;

		&:first-child:hover {
			color: white !important;
		}
	}
}

::ng-deep {
	.rfq-created-pop-up {
		background-color: white;
		border-radius: 8px;
		position: relative;

		.mat-mdc-dialog-container {
			.mdc-dialog__surface {
				background: no-repeat;
				box-shadow: none;
			}

			.cross-icon {
				cursor: pointer;
				position: absolute;
				right: 16px;
				top: 16px;
			}
		}
	}
}
