.badge {
	font-family: Helvetica Neue;
	font-size: 10px;
	font-style: normal;
	font-weight: 500;
	line-height: 14px;
	letter-spacing: 0.12em;
	text-align: left;
	border-radius: 4px;
	padding: 2px 6px;
	text-transform: uppercase;
	color: #ffffff;
}
