:host {
	.dropdown {
		overflow: hidden;
		&__head {
			display: flex;
			justify-content: space-between;
			height: 30px;
		}
		&__label {
			color: rgba(108, 112, 119, 0.67);
			font-weight: 700;
			line-height: 140%;
			letter-spacing: 0.16px;
		}
	}
}
