<!--<div class="admin-users">-->
<!--	<button-->
<!--		b2bNgxButton-->
<!--		[theme]="b2bNgxButtonThemeEnum.BACKGROUND_BLACK"-->
<!--		(click)="export()"-->
<!--		class="admin-offers__button">-->
<!--		Export-->
<!--	</button>-->

<!--	<b2b-admin-users-filters-->
<!--		[categories]="categories"-->
<!--		[formControl]="filtersControl">-->
<!--	</b2b-admin-users-filters>-->
<!--	<div class="admin-users__table">-->
<!--&lt;!&ndash;		<ngx-datatable&ndash;&gt;-->
<!--&lt;!&ndash;			class="material"&ndash;&gt;-->
<!--&lt;!&ndash;			[rows]="users$ | async"&ndash;&gt;-->
<!--&lt;!&ndash;			[columns]="columns"&ndash;&gt;-->
<!--&lt;!&ndash;			[columnMode]="columnMode.force"&ndash;&gt;-->
<!--&lt;!&ndash;			[headerHeight]="50"&ndash;&gt;-->
<!--&lt;!&ndash;			[footerHeight]="50"&ndash;&gt;-->
<!--&lt;!&ndash;			rowHeight="auto"&ndash;&gt;-->
<!--&lt;!&ndash;			[scrollbarH]="true"&ndash;&gt;-->
<!--&lt;!&ndash;			[externalPaging]="true"&ndash;&gt;-->
<!--&lt;!&ndash;			[count]="totalCount"&ndash;&gt;-->
<!--&lt;!&ndash;			[offset]="page"&ndash;&gt;-->
<!--&lt;!&ndash;			[limit]="10"&ndash;&gt;-->
<!--&lt;!&ndash;			[virtualization]="false"&ndash;&gt;-->
<!--&lt;!&ndash;			(activate)="onClick($event)"&ndash;&gt;-->
<!--&lt;!&ndash;			(scroll)="stopImmediatePropagation($event)"&ndash;&gt;-->
<!--&lt;!&ndash;			(page)="setPage($event)">&ndash;&gt;-->
<!--&lt;!&ndash;		</ngx-datatable>&ndash;&gt;-->
<!--		&lt;!&ndash;		<div class="admin-users">&ndash;&gt;-->
<!--		&lt;!&ndash;			<div class="admin-users__table">&ndash;&gt;-->
<!--		&lt;!&ndash;				<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">&ndash;&gt;-->
<!--		&lt;!&ndash;					<ng-container matColumnDef="role.displayName">&ndash;&gt;-->
<!--		&lt;!&ndash;						<th mat-header-cell *matHeaderCellDef>Type of User</th>&ndash;&gt;-->
<!--		&lt;!&ndash;						<td mat-cell *matCellDef="let element">&ndash;&gt;-->
<!--		&lt;!&ndash;							{{ element.role.displayName }}&ndash;&gt;-->
<!--		&lt;!&ndash;						</td>&ndash;&gt;-->
<!--		&lt;!&ndash;					</ng-container>&ndash;&gt;-->

<!--		&lt;!&ndash;					<ng-container matColumnDef="rfqQuotes">&ndash;&gt;-->
<!--		&lt;!&ndash;						<th mat-header-cell *matHeaderCellDef>Quotes</th>&ndash;&gt;-->
<!--		&lt;!&ndash;						<td mat-cell *matCellDef="let element">{{ element.rfqQuotes }}</td>&ndash;&gt;-->
<!--		&lt;!&ndash;					</ng-container>&ndash;&gt;-->

<!--		&lt;!&ndash;					<ng-container matColumnDef="createdAt">&ndash;&gt;-->
<!--		&lt;!&ndash;						<th mat-header-cell *matHeaderCellDef>Registration Date/Time</th>&ndash;&gt;-->
<!--		&lt;!&ndash;						<td mat-cell *matCellDef="let element">&ndash;&gt;-->
<!--		&lt;!&ndash;							{{ element.createdAt | date: 'yyyy-MM-dd' }}&ndash;&gt;-->
<!--		&lt;!&ndash;						</td>&ndash;&gt;-->
<!--		&lt;!&ndash;					</ng-container>&ndash;&gt;-->

<!--		&lt;!&ndash;					<ng-container matColumnDef="fullName">&ndash;&gt;-->
<!--		&lt;!&ndash;						<th mat-header-cell *matHeaderCellDef>Full Name</th>&ndash;&gt;-->
<!--		&lt;!&ndash;						<td mat-cell *matCellDef="let element">{{ element.fullName }}</td>&ndash;&gt;-->
<!--		&lt;!&ndash;					</ng-container>&ndash;&gt;-->

<!--		&lt;!&ndash;					<ng-container matColumnDef="company">&ndash;&gt;-->
<!--		&lt;!&ndash;						<th mat-header-cell *matHeaderCellDef>Company (optional)</th>&ndash;&gt;-->
<!--		&lt;!&ndash;						<td mat-cell *matCellDef="let element">{{ element.company }}</td>&ndash;&gt;-->
<!--		&lt;!&ndash;					</ng-container>&ndash;&gt;-->

<!--		&lt;!&ndash;					<ng-container matColumnDef="email">&ndash;&gt;-->
<!--		&lt;!&ndash;						<th mat-header-cell *matHeaderCellDef>Email</th>&ndash;&gt;-->
<!--		&lt;!&ndash;						<td mat-cell *matCellDef="let element">{{ element.email }}</td>&ndash;&gt;-->
<!--		&lt;!&ndash;					</ng-container>&ndash;&gt;-->

<!--		&lt;!&ndash;					<ng-container matColumnDef="phone.e164Number">&ndash;&gt;-->
<!--		&lt;!&ndash;						<th mat-header-cell *matHeaderCellDef>Phone Number</th>&ndash;&gt;-->
<!--		&lt;!&ndash;						<td mat-cell *matCellDef="let element">&ndash;&gt;-->
<!--		&lt;!&ndash;							{{ element.phone.e164Number }}&ndash;&gt;-->
<!--		&lt;!&ndash;						</td>&ndash;&gt;-->
<!--		&lt;!&ndash;					</ng-container>&ndash;&gt;-->

<!--		&lt;!&ndash;					<ng-container matColumnDef="country">&ndash;&gt;-->
<!--		&lt;!&ndash;						<th mat-header-cell *matHeaderCellDef>Country</th>&ndash;&gt;-->
<!--		&lt;!&ndash;						<td mat-cell *matCellDef="let element">{{ element.country }}</td>&ndash;&gt;-->
<!--		&lt;!&ndash;					</ng-container>&ndash;&gt;-->

<!--		&lt;!&ndash;					<ng-container matColumnDef="phone.countryCode">&ndash;&gt;-->
<!--		&lt;!&ndash;						<th mat-header-cell *matHeaderCellDef>Country (by phone number)</th>&ndash;&gt;-->
<!--		&lt;!&ndash;						<td mat-cell *matCellDef="let element">&ndash;&gt;-->
<!--		&lt;!&ndash;							{{ element.phone.countryCode }}&ndash;&gt;-->
<!--		&lt;!&ndash;						</td>&ndash;&gt;-->
<!--		&lt;!&ndash;					</ng-container>&ndash;&gt;-->

<!--		&lt;!&ndash;					<ng-container matColumnDef="site">&ndash;&gt;-->
<!--		&lt;!&ndash;						<th mat-header-cell *matHeaderCellDef>Website</th>&ndash;&gt;-->
<!--		&lt;!&ndash;						<td mat-cell *matCellDef="let element">{{ element.site }}</td>&ndash;&gt;-->
<!--		&lt;!&ndash;					</ng-container>&ndash;&gt;-->

<!--		&lt;!&ndash;					<ng-container matColumnDef="emailConfirmed">&ndash;&gt;-->
<!--		&lt;!&ndash;						<th mat-header-cell *matHeaderCellDef>Email Confirmed</th>&ndash;&gt;-->
<!--		&lt;!&ndash;						<td mat-cell *matCellDef="let element">&ndash;&gt;-->
<!--		&lt;!&ndash;							{{ element.emailConfirmed }}&ndash;&gt;-->
<!--		&lt;!&ndash;						</td>&ndash;&gt;-->
<!--		&lt;!&ndash;					</ng-container>&ndash;&gt;-->

<!--		&lt;!&ndash;					<ng-container matColumnDef="socialAuthType">&ndash;&gt;-->
<!--		&lt;!&ndash;						<th mat-header-cell *matHeaderCellDef>Social Auth Type</th>&ndash;&gt;-->
<!--		&lt;!&ndash;						<td mat-cell *matCellDef="let element">&ndash;&gt;-->
<!--		&lt;!&ndash;							{{ element.socialAuthType }}&ndash;&gt;-->
<!--		&lt;!&ndash;						</td>&ndash;&gt;-->
<!--		&lt;!&ndash;					</ng-container>&ndash;&gt;-->

<!--		&lt;!&ndash;					<ng-container matColumnDef="lastActivity">&ndash;&gt;-->
<!--		&lt;!&ndash;						<th mat-header-cell *matHeaderCellDef>Last activity</th>&ndash;&gt;-->
<!--		&lt;!&ndash;						<td mat-cell *matCellDef="let element">&ndash;&gt;-->
<!--		&lt;!&ndash;							{{ element.lastActivity }}&ndash;&gt;-->
<!--		&lt;!&ndash;						</td>&ndash;&gt;-->
<!--		&lt;!&ndash;					</ng-container>&ndash;&gt;-->

<!--		&lt;!&ndash;					<ng-container matColumnDef="offers">&ndash;&gt;-->
<!--		&lt;!&ndash;						<th mat-header-cell *matHeaderCellDef>Offers</th>&ndash;&gt;-->
<!--		&lt;!&ndash;						<td mat-cell *matCellDef="let element">{{ element.offers }}</td>&ndash;&gt;-->
<!--		&lt;!&ndash;					</ng-container>&ndash;&gt;-->

<!--		&lt;!&ndash;					<ng-container matColumnDef="_id">&ndash;&gt;-->
<!--		&lt;!&ndash;						<th mat-header-cell *matHeaderCellDef>id</th>&ndash;&gt;-->
<!--		&lt;!&ndash;						<td mat-cell *matCellDef="let element">{{ element._id }}</td>&ndash;&gt;-->
<!--		&lt;!&ndash;					</ng-container>&ndash;&gt;-->

<!--		&lt;!&ndash;					<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>&ndash;&gt;-->
<!--		&lt;!&ndash;				</table>&ndash;&gt;-->

<!--		&lt;!&ndash;				<mat-paginator&ndash;&gt;-->
<!--		&lt;!&ndash;					[pageSizeOptions]="[5, 10, 20]"&ndash;&gt;-->
<!--		&lt;!&ndash;					showFirstLastButtons></mat-paginator>&ndash;&gt;-->
<!--		&lt;!&ndash;			</div>&ndash;&gt;-->
<!--		&lt;!&ndash;		</div>&ndash;&gt;-->

<!--		<ng-template #headerCategoryOne let-column="column">-->
<!--			<strong>category__1</strong></ng-template-->
<!--		>-->
<!--		<ng-template #editCategoryOne let-row="row" let-value="value">-->
<!--			<span *ngFor="let category of value">{{ category.name }}</span>-->
<!--		</ng-template>-->

<!--		&lt;!&ndash;		<ng-template #headerCategoryTwo let-column="column"> <strong>category__2</strong></ng-template>&ndash;&gt;-->
<!--		&lt;!&ndash;		<ng-template #editCategoryTwo let-row="row" let-value="value">&ndash;&gt;-->
<!--		&lt;!&ndash;			<span *ngFor="let category of value">{{ category.name }}</span>&ndash;&gt;-->
<!--		&lt;!&ndash;		</ng-template>&ndash;&gt;-->

<!--		<ng-template #headerPreferences let-column="column">-->
<!--			<strong>Prefered cargo</strong></ng-template-->
<!--		>-->
<!--		<ng-template #editPreferences let-row="row" let-value="value">-->
<!--			<div class="custom" [class.show]="row && row?.visible">-->
<!--				<span *ngFor="let category of value">{{ category.name + ', ' }} </span>-->
<!--			</div>-->
<!--			<button-->
<!--				*ngIf="row.category__3.length > 3"-->
<!--				b2bNgxButton-->
<!--				[theme]="b2bNgxButtonThemeEnum.BACKGROUND_BLACK"-->
<!--				(click)="showMore($event, row)">-->
<!--				{{ row?.visible ? 'Show less' : 'Show More' }}-->
<!--			</button>-->
<!--		</ng-template>-->

<!--		<ng-template #headerOffers let-column="column">-->
<!--			<strong>Placed offers (offer title)</strong></ng-template-->
<!--		>-->
<!--		<ng-template #editOffers let-row="row" let-value="value">-->
<!--			<span *ngFor="let offer of value">{{ offer.title + ', ' }}</span>-->
<!--		</ng-template>-->

<!--		<ng-template #headerOffersDate let-column="column">-->
<!--			<strong>Placed_offers_data</strong></ng-template-->
<!--		>-->
<!--		<ng-template #editOffersDate let-row="row" let-value="value">-->
<!--			<span *ngFor="let offer of value">{{-->
<!--				(offer.date | date: 'yy-MM-dd') + ', '-->
<!--			}}</span>-->
<!--		</ng-template>-->

<!--		<ng-template #headerSoldCargo let-column="column">-->
<!--			<strong>Sold_cargo</strong></ng-template-->
<!--		>-->
<!--		<ng-template #editSoldCargo let-row="row" let-value="value">-->
<!--			<div *ngFor="let offer of value">-->
<!--				<div *ngIf="offer.deleted && offer.reasonForDeletion">-->
<!--					<span>{{-->
<!--						offer.title + ' | ' + '[ ' + offer.reasonForDeletion + ' ]' + ', '-->
<!--					}}</span>-->
<!--				</div>-->
<!--			</div>-->
<!--		</ng-template>-->

<!--		<ng-template #headerActions let-column="column">-->
<!--			<strong>Actions</strong></ng-template-->
<!--		>-->
<!--		<ng-template #editActions let-row="row" let-value="value">-->
<!--			<button-->
<!--				b2bNgxButton-->
<!--				[theme]="b2bNgxButtonThemeEnum.BACKGROUND_BLACK"-->
<!--				(click)="deleteUser($event, value)"-->
<!--				class="admin-offers__button">-->
<!--				Delete-->
<!--			</button>-->
<!--		</ng-template>-->
<!--	</div>-->
<!--	&lt;!&ndash; <app-admin-users-list [users]="users$ | async" [menuOptions]="menuOptions"></app-admin-users-list> &ndash;&gt;-->

<!--	&lt;!&ndash; <b2b-ngx-pagination [length]="totalCount" [perPage]="10" (togglePageNumber)="setPage($event)"></b2b-ngx-pagination> &ndash;&gt;-->
<!--</div>-->

	<div class="example-container mat-elevation-z8">

		<form
			[formGroup]="emailSubmissionForm"
			(ngSubmit)="sendList()"
			class="email-submission-form">
			<input b2bNgxInput placeholder="Enter email" formControlName="email" />
			<button
				b2bNgxButton
				[disabled]="emailSubmissionForm.invalid"
				[theme]="b2bNgxButtonThemeEnum.BACKGROUND_BLACK"
				class="admin-offers__button">
				Send list
			</button>
		</form>

		<div class="example-table-container">

			<table mat-table [dataSource]="tableData$ | async" class="example-table"
						 matSort matSortActive="created" matSortDisableClear matSortDirection="desc">
				<ng-container matColumnDef="typeOfUser">
					<th mat-header-cell *matHeaderCellDef>Type of User</th>
					<td mat-cell *matCellDef="let user">{{user.role.displayName}}</td>
				</ng-container>

				<ng-container matColumnDef="quotes">
					<th mat-header-cell *matHeaderCellDef>Quotes</th>
					<td mat-cell *matCellDef="let user">{{user.rfqQuotes}}</td>
				</ng-container>

				<ng-container matColumnDef="registrationDate">
					<th mat-header-cell *matHeaderCellDef>Registration date/time</th>
					<td mat-cell *matCellDef="let user">{{user.createdAt}}</td>
				</ng-container>

				<ng-container matColumnDef="fullName">
					<th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
						Full name
					</th>
					<td mat-cell *matCellDef="let user">{{user.fullName}}</td>
				</ng-container>

				<ng-container matColumnDef="company">
					<th mat-header-cell *matHeaderCellDef>Company</th>
					<td mat-cell *matCellDef="let user">{{user.company}}</td>
				</ng-container>

				<ng-container matColumnDef="email">
					<th mat-header-cell *matHeaderCellDef>Email</th>
					<td mat-cell *matCellDef="let user">{{user.email}}</td>
				</ng-container>

				<ng-container matColumnDef="phoneNumber">
					<th mat-header-cell *matHeaderCellDef>Phone number</th>
					<td mat-cell *matCellDef="let user">{{user.phone?.e164Number}}</td>
				</ng-container>

				<ng-container matColumnDef="country">
					<th mat-header-cell *matHeaderCellDef>Country</th>
					<td mat-cell *matCellDef="let user">{{user.country}}</td>
				</ng-container>

				<ng-container matColumnDef="countryByNumber">
					<th mat-header-cell *matHeaderCellDef>Country(by phone number)</th>
					<td mat-cell *matCellDef="let user">{{user.phone?.countryCode}}</td>
				</ng-container>

				<ng-container matColumnDef="isEmailConfirmed">
					<th mat-header-cell *matHeaderCellDef>Email confirmed</th>
					<td mat-cell *matCellDef="let user">{{user.emailConfirmed}}</td>
				</ng-container>

				<ng-container matColumnDef="socialAuthType">
					<th mat-header-cell *matHeaderCellDef>Social auth type</th>
					<td mat-cell *matCellDef="let user">{{user.socialAuthType}}</td>
				</ng-container>

				<ng-container matColumnDef="lastActivity">
					<th mat-header-cell *matHeaderCellDef>Last activity</th>
					<td mat-cell *matCellDef="let user">{{user.lastActivity}}</td>
				</ng-container>

				<ng-container matColumnDef="placedOffers">
					<th mat-header-cell *matHeaderCellDef>Placed offers (offer title)</th>
					<td mat-cell *matCellDef="let user">
						<div *ngFor="let offers of user.offers">{{ offers.title }}</div>
					</td>
				</ng-container>

				<ng-container matColumnDef="placedOffersDate">
					<th mat-header-cell *matHeaderCellDef>Placed offers date</th>
					<td mat-cell *matCellDef="let user">
						<div *ngFor="let offers of user.offers">{{ offers.date }}</div>
					</td>
				</ng-container>

				<ng-container matColumnDef="soldCargo">
					<th mat-header-cell *matHeaderCellDef>Sold cargo</th>
					<td mat-cell *matCellDef="let user">
						<div *ngFor="let offers of user.offers">
							<div *ngIf="offers.deleted === true">
								<p [matTooltip]="offers.reasonForDeletion">{{ offers.title }}</p>
							</div>
						</div>
					</td>
				</ng-container>

				<ng-container matColumnDef="actions">
					<th mat-header-cell *matHeaderCellDef>Actions</th>
					<td mat-cell *matCellDef="let user">
						<button (click)="deleteUser()">Delete</button>
					</td>
				</ng-container>


				<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
			</table>
		</div>

		<mat-paginator [length]="100" [pageSize]="30" aria-label="Select page of GitHub search results"></mat-paginator>
	</div>
