@import 'projects/shared/src/styles';

:host {
	.search {
		border-radius: 14px;
		background: #e8eef5;
		padding: 16px;
		width: 100%;
		display: flex;
		align-items: flex-end;
		@include breakpoint('4') {
			flex-wrap: wrap;
		}
		&__subinfo {
			display: flex;
			@include breakpoint('4') {
				width: 100%;
				margin-top: 15px;
			}
		}

		&__title {
			color: #000;
			font-size: 12px;
			letter-spacing: 0.12px;
			text-transform: uppercase;
			margin-bottom: 7px;
			margin-right: 10px;
			width: max-content;
			@include breakpoint('2') {
				display: none;
			}
		}

		&__transportation {
			@include breakpoint('2') {
				width: 100%;
			}
			&-body {
				background: #ffffff;
				border-radius: 14px;
				width: 124px;
				padding: 4px;
				height: 64px;
				display: flex;
				align-items: center;
				position: relative;
				@include breakpoint('2') {
					width: 100%;
				}
			}

			.inner {
				position: absolute;
				width: 56px;
				height: 56px;
				left: 4px;
				top: 4px;
				border-radius: 14px;
				transition: 0.3s all;
				@include breakpoint('2') {
					width: 49%;
				}

				&.sea {
					background: #407bff;
				}

				&.air {
					background: #fdd216;
				}
			}

			&-item {
				width: 56px;
				text-align: center;
				z-index: 1;
				cursor: pointer;
				@include breakpoint('2') {
					width: auto;
					flex-grow: 1;
				}
			}

			&-type {
				color: #6c7077;
				letter-spacing: 0.14px;
				text-transform: uppercase;
				margin-top: 3px;
				transition: color 3s ease;

				&.active {
					color: #ffffff;
				}
			}
		}

		&__inputs {
			position: relative;
			display: flex;
			align-items: center;
			gap: 8px;
			@include breakpoint('4') {
				flex-grow: 1;
			}
			@include breakpoint('2') {
				margin-top: 15px;
			}
			@include breakpoint('1') {
				flex-direction: column;
				align-items: flex-start;
			}
			.swap-icon {
				position: absolute;
				left: 50%;
				cursor: pointer;
				transform: translate(-50%, -50%);
				top: 65%;
				z-index: 2;
				@include breakpoint('1') {
					left: 99%;
					transform: translate(-100%, -50%);
					top: 50%;
				}
			}

			&-item {
				width: 286px;
				position: relative;
				@include breakpoint('4') {
					width: auto;
					flex-grow: 1;
					//width: 236px;
				}
				@include breakpoint('3') {
					width: auto;
					flex-grow: 1;
					//width: 196px;
				}
				@include breakpoint('1') {
					width: 100%;
				}
				.btn-group {
					width: 100%;
					position: absolute;
					//height: 64px;
				}

				input {
					width: 100%;
					height: 64px;
					border: none;
					border-radius: 14px;
					padding: 0 16px;

					&:focus {
						outline: none;
					}
				}
			}
		}

		&__datepicker {
			margin-left: 8px;
			@include breakpoint('4') {
				flex-grow: 1;
				margin-left: 0;
			}

			::ng-deep {
				input.datepicker {
					height: 64px;
					border: none;
					border-radius: 14px;
					padding: 0 16px;
					width: 100%;

					&::placeholder {
						padding-left: 20px;
					}
				}
			}
		}

		&__shipment {
			width: 147px;
			margin-left: 8px;
			@include breakpoint('4') {
				width: 50%;
				//flex-grow: 1;
				//width: 107px;
			}

			&-text {
				height: 64px;
				padding: 22px 16px 20px 16px;
				background: #ffffff;
				border-radius: 14px;

				span {
					display: flex;
					align-items: center;
					gap: 9.3px;

					mat-icon {
						height: 16px;
						width: 21.3px;
						line-height: 16px;
					}
				}
			}
		}

		&__button {
			height: 64px;
			width: 64px;
			margin-left: 8px;
			border-radius: 14px;
			display: grid;
			place-items: center;
			transition: 0.3s all;
			cursor: pointer;
			@include breakpoint('4') {
				width: 100%;
				margin-left: 0;
				margin-top: 15px;
			}

			&.sea {
				background: #407bff;

				&:hover {
					background: rgba(64, 123, 255, 0.85);
				}
			}

			&.air {
				background: #fdd216;

				&:hover {
					background: rgba(253, 210, 22, 0.85);
				}
			}
		}

		&__filter-mobile {
			display: none;
			@include breakpoint('3') {
				display: block;
			}
			width: 100%;
			.btn-group {
				width: 100%;
			}
			.dropdown-toggle {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: space-between;
				background: white;
				margin-top: 15px;
				height: 64px;
				border-radius: 14px;
				color: #6c7077;
				.dropdown-toggle::after {
					color: #6c7077;
				}
			}
			.dropdown-menu {
				width: 100%;
				height: auto;
				padding: 20px;
			}
			.filter__name {
				font-size: 16px;
				font-style: normal;
				font-weight: 500;
				line-height: 18px;
				letter-spacing: 0.32px;
			}
			.filter__list {
				margin-top: 18px;
			}
			.filter__item {
				display: flex;
				align-items: center;
				gap: 8px;
				cursor: pointer;
				margin-top: 8px;
				&:first-child {
					margin-top: 0;
				}
			}
		}
	}
}

:host::ng-deep {
	.form-control {
		&:focus {
			box-shadow: none;
		}
	}

	.dropdown-header {
		font-size: 0.875rem;
	}

	.dropdown-menu {
		width: 100%;
		height: auto;
		border-radius: 14px;
		margin-top: 5px;
		max-height: 300px;
		box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
		border: none;
		overflow: auto;
		@include breakpoint('1') {
			width: 100%;
		}

		strong {
			font-weight: bolder;
		}
	}

	.dropdown-item {
		height: 56px;
		display: flex;
		align-items: center;
		padding-left: 20px;
		gap: 15px;
		cursor: pointer;
		&.active {
			background: #eff4fa;
			color: #0f0f11;
		}

		&:hover {
			background: #eff4fa;
			color: #0f0f11;
		}
		.item-info {
			display: flex;
			flex-direction: column;
			gap: 3px;
		}
		.item-title {
			font-weight: 600;
			font-size: 15px;
		}
		.item-subtitle {
			color: #979797;
		}
	}
}

.item {
	display: flex;
	align-items: flex-start;
	gap: 8px;

	.labels {
		.subtitle {
			color: #979797;
			letter-spacing: 0.14px;
			font-size: 14px;
		}
	}
}

strong {
	font-weight: bolder;
}

.shipment {
	&__item {
		&-header {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&-info {
			display: flex;
			align-items: center;
			border-radius: 14px;
			background: #f3f6f8;
			padding: 2px;
			width: 112px;
			input {
				width: 50%;
				border: none;
				border-radius: 14px 0 0 14px;
				text-align: center;
				outline: none;
				font-size: 12px;
				&::-webkit-outer-spin-button,
				&::-webkit-inner-spin-button {
					-webkit-appearance: none;
					margin: 0;
				}
			}
			input[type='number'] {
				-moz-appearance: textfield;
			}
		}
		&-measure {
			width: 50%;
			text-align: center;
		}
	}
}

:host::ng-deep {
	.mdc-slider {
		width: 100%;
	}
	.mat-mdc-slider .mdc-slider__track--inactive {
		background: #dadada;
		height: 2px;
	}
	.mat-mdc-slider .mdc-slider__track--active_fill {
		border-color: #005dff;
	}
	.mat-mdc-slider .mdc-slider__track--active {
		height: 2px;
	}
	.mat-mdc-slider .mdc-slider__thumb-knob {
		border-color: #005dff;
		width: 18px;
		height: 18px;
		background: #fff;
		border-width: 4px;
	}
	.mat-mdc-slider .mdc-slider__thumb--focused .mdc-slider__thumb-knob {
		border-color: #005dff;
		background: #fff;
	}
	.mdc-slider .mdc-slider__thumb {
		width: 44px;
		height: 44px;
	}
	.mat-ripple {
		display: none;
	}
}
