<div class="auth-register-individual-account__wrapper">
	<div class="auth-register-individual-account__header">
		<p class="auth-register-individual-account__header-text-wrapper">
			<span class="auth-register-individual-account__header-text">{{ "AUTH.ALREADY_HAVE" | translate }}</span>
			<a
				(click)="processSignInClick()"
				b2bNgxLink
				[theme]="b2bNgxLinkThemeEnum.TEXT_BLUE"
				[routerLink]="b2bNgxLinkService.getLink('/auth/log-in') | async"
				class="auth-register-individual-account__header-link"
				queryParamsHandling="merge"
				>{{ "AUTH.LOG_IN" | translate }}</a
			>
		</p>
	</div>

	<div class="auth-register-individual-account__main">
		<h2 class="auth-register-individual-account__main-title">
			{{ "AUTH.REGISTER_INDIVIDUAL_ACCOUNT" | translate }}
		</h2>

		<form class="auth-register-individual-account__main-form">
			<ng-container>
				<button
					b2bNgxButton
					type="button"
					[hidden]="false"
					[theme]="b2bNgxButtonThemeEnum.BACKGROUND_WHITE"
					class="auth-register-individual-account__register-with-google-button"
					(click)="registerWithGoogle()">
					<img b2bNgxImage name="google" class="auth-register-individual-account__register-with-google-button__icon" />
					{{ "AUTH.REGISTER_GOOGLE" | translate }}
				</button>
				<button
					b2bNgxButton
					type="button"
					[hidden]="false"
					[theme]="b2bNgxButtonThemeEnum.BACKGROUND_WHITE"
					class="auth-register-individual-account__register-with-google-button"
					(click)="registerWithLinkedIn()">
					<img
						b2bNgxImage
						name="linkedin"
						class="auth-register-individual-account__register-with-google-button__icon" />
					{{ "AUTH.REGISTER_LINKEDIN" | translate }}
				</button>
<!--				<b2b-ngx-divider [hidden]="false" theme="white" class="auth-register-individual-account__main-divider"-->
<!--					>or</b2b-ngx-divider-->
<!--				>-->
			</ng-container>
			<div class="auth-register-individual-account__main-input">
				<router-outlet></router-outlet>
			</div>
		</form>
	</div>
</div>
