<div class="client-profile-add-offer-wrapper">
	<div class="client-profile-add-offer">
		<p class="client-profile-add-offer-title">Product placement</p>
		<p
			class="badge"
			[class.invalid]="isBadgeInvalid$ | async">
			<img b2bNgxIcon name="info-1" class="img"/>

			<span class="label">{{ "OFFER.BADGE" | translate}}</span>
		</p>

		<form errorTailor [formGroup]="formGroup">
			<div class="product-details">
				<div class="title">Product details</div>
				<div class="control-wrapper">
					<input
						type="text"
						b2bNgxInput
						[theme]="b2bNgxInputThemeEnum.BACKGROUND_GRAY"
						formControlName="title"
						placeholder="Enter the product name"
						label="Product name"/>
					<p *ngIf="formState['title']?.touched && formState['title']?.errors?.['required']" class="error" [@fadeInOut]>
						Product name is required
					</p>
				</div>

				<div class="control-wrapper">
					<textarea
						b2bNgxTextarea
						[theme]="b2bNgxInputThemeEnum.BACKGROUND_GRAY"
						class="specifications-area"
						formControlName="specifications"
						placeholder="Describe your product"
						label="Specifications / Features"></textarea>
					<p *ngIf="formState['specifications'].touched && formState['specifications'].errors?.['required']" class="error" [@fadeInOut]>
						Specifications is required
					</p>
				</div>


				<div class="control-wrapper">
					<b2b-categories-dialog
						[touched]="formState['category'].touched"
						formControlName="category"
						[theme]="b2bNgxSelectThemeEnum.BACKGROUND_GRAY"
						[multiple]="false"
						[required]="true"
						[errors]="formState['category'].errors"
						placeholder="What product do you deal with?">
						Category
					</b2b-categories-dialog>

					<p *ngIf="formState['category'].touched && formState['category'].errors?.['required']" class="error" [@fadeInOut]>
						Category is required
					</p>
				</div>
				<div class="control-wrapper">
					<input
						type="text"
						b2bNgxInput
						[theme]="b2bNgxInputThemeEnum.BACKGROUND_GRAY"
						formControlName="price"
						placeholder="$"
						label="Price, USD"/>
					<p *ngIf="formState['price']?.touched && formState['price']?.errors?.['required']" class="error" [@fadeInOut]>
						Price is required
					</p>
					<p *ngIf="formState['price']?.touched && formState['price']?.errors?.['number'] && !formState['price']?.errors?.['required']" class="error" [@fadeInOut]>
						Price must be only number
					</p>
				</div>

				<div class="control-wrapper">
					<b2b-ngx-file
						[isPhoto]="true"
						[isClickable]="true"
						formControlName="photos"
						class="client-profile-add-offer-right-documents"
						[errors]="formGroup.get('documents')?.errors"
						[label]="'Choose photos'"
					>{{ "LABELS.PHOTOS" | translate }}</b2b-ngx-file>
				</div>
				<p *ngIf="formState['photos']?.touched && formState['photos']?.errors?.['required']" class="error" [@fadeInOut]>
					Photo is required
				</p>
				<div class="tip">Please use only real photos of the cargo. All photos will be checked by the moderators.</div>

			</div>

			<div class="product-price">
				<div class="short-selects">
					<div class="control-wrapper">
						<input
							type="text"
							b2bNgxInput
							[theme]="b2bNgxInputThemeEnum.BACKGROUND_GRAY"
							formControlName="amount"
							placeholder="Enter quantity"
							label="Supply ability"/>

						<p *ngIf="formState['amount'].touched && formState['amount'].errors?.['required']" class="error" [@fadeInOut]>
							Quantity is required
						</p>
					</div>

					<div class="control-wrapper">
						<b2b-ngx-select
							[options]="unit$ | async"
							formControlName="unit"
							[touched]="formState['unit'].touched"
							bindValue="_id"
							bindLabel="displayName"
							label="Measure"
							[theme]="b2bNgxSelectThemeEnum.BACKGROUND_GRAY"
							[placeholder]="'PLACEHOLDERS.MEASURE' | translate"
							[class.rfq__input]="hideLabel$ | async">
							<span *ngIf="!(hideLabel$ | async)">&nbsp;</span>
						</b2b-ngx-select>

						<p *ngIf="formState['unit'].touched && formState['unit'].errors?.['required']" class="error" [@fadeInOut]>
							Measure is required
						</p>
					</div>
				</div>

				<div class="control-wrapper">
					<b2b-ngx-country-select
						formControlName="country"
						placeholder="Country"
						[touched]="formState['unit'].touched"
						[theme]="b2bNgxSelectThemeEnum.BACKGROUND_GRAY">
						Country of origin
					</b2b-ngx-country-select>
					<p *ngIf="formState['country'].touched && formState['country'].errors?.['required']" class="error" [@fadeInOut]>
						Country is required
					</p>
				</div>

				<div class="control-wrapper">
					<div class="title">Shipping information</div>
					<b2b-ngx-multiselect
						[touched]="formState['shipping'].touched"
						[errors]="formState['shipping'].errors"
						[options]="shippingMethods"
						formControlName="shipping"
						placeholder="Select">
						Available shipping options
					</b2b-ngx-multiselect>

					<p *ngIf="formState['shipping'].touched && formState['shipping'].errors?.['required']" class="error" [@fadeInOut]>
						Shipping method is required
					</p>
				</div>

				<div class="control-wrapper">
					<div class="title">Payment details</div>
					<b2b-ngx-multiselect
						[touched]="formState['paymentMethods'].touched"
						[errors]="formState['paymentMethods'].errors"
						[options]="paymentMethods"
						formControlName="paymentMethods"
						placeholder="Select">
						Available payment options
					</b2b-ngx-multiselect>

					<p *ngIf="formState['paymentMethods'].touched && formState['paymentMethods'].errors?.['required']" class="error" [@fadeInOut]>
						Payment method is required
					</p>
				</div>

			</div>
		</form>
	</div>
	<div class="form-buttons">
		<button (click)="cancel()" b2bNgxButton [theme]="b2bNgxButtonThemeEnum.OUTLINE_GRAY">Cancel</button>
		<button (click)="submitForm()" b2bNgxButton [theme]="b2bNgxButtonThemeEnum.BACKGROUND_BLACK" id="review-and-post">
			Review and post
		</button>
	</div>
</div>
