<div class="client-profile-add-offer-wrapper" [class.preview]="isView">
	<span id="page-top"></span>
	<b2b-client-marketplace-product-details
		[product]="product"
		*ngIf="isView"
		[companyInfo]="company">
	</b2b-client-marketplace-product-details>

	<h1 class="add-offer-title" *ngIf="!isView">Post a new product</h1>

	<div class="client-profile-add-offer" [formGroup]="formGroup" *ngIf="!isView">
		<section class="product-section">
			<h2 class="section-title">Product information</h2>

			<p class="badge" [class.invalid]="isBadgeInvalid$ | async">
				<img b2bNgxIcon name="info-1" class="img" />

				<span class="label">
					When listing your products, please remember to upload only one product
					per product card. This strategy allows each of your offerings to be
					properly highlighted and easily found by potential buyers. A separate
					product card for each item ensures accurate search results and
					provides a clear, detailed view of your product range.
					<br />
					All information should be indicated on English.
				</span>
			</p>

			<div class="form-block">
				<div class="control-wrapper">
					<label for="title" class="input-label product-name-input">
						Product name
						<span class="required">*</span>
						<span class="desc-text"> (detailed product name is required)</span>
						<img
							b2bNgxIcon
							name="question-sign"
							(click)="tooltip.toggle()"
							#tooltip="matTooltip"
							matTooltip="Kindly indicate as detailed product name as possible, it will increase a chance of buyers finding and contacting you."
							matTooltipClass="detail-product-tooltip" />
					</label>

					<input
						type="text"
						formControlName="title"
						class="b2b-ngx-input background background-gray"
						id="title"
						placeholder="Product name"
						label="" />
					<p
						*ngIf="
							formState['title']?.touched &&
							formState['title']?.errors?.['required']
						"
						class="error"
						[@fadeInOut]>
						Product name is required
					</p>

					<p
						[@fadeInOut]
						class="error"
						*ngIf="
							formState['title'].errors?.['latin'] && formState['title'].touched
						">
						{{ 'ERRORS.USER_ENGLISH_LETTERS' | translate }}
					</p>
				</div>

				<div class="control-wrapper">
					<label class="input-label">
						Select product sector
						<span class="required">*</span>
					</label>
					<b2b-ngx-select
						className="border-radius-14"
						bindValue="_id"
						bindLabel="name"
						[options]="level1Categories$ | async"
						placeholder="Select sector"
						[invalid]="formState['productSector']?.invalid"
						[touched]="formState['productSector'].touched"
						[theme]="b2bNgxSelectThemeEnum.BACKGROUND_GRAY"
						formControlName="productSector"></b2b-ngx-select>

					<p
						*ngIf="
							formState['productSector']?.touched &&
							formState['productSector']?.errors?.['required']
						"
						class="error"
						[@fadeInOut]>
						Product sector is required
					</p>
				</div>

				<div class="control-wrapper" [class.disabled]="!level2Categories">
					<label class="input-label">
						Select product category
						<span class="required">*</span>
					</label>

					<b2b-ngx-select
						className="border-radius-14"
						[theme]="b2bNgxSelectThemeEnum.BACKGROUND_GRAY"
						formControlName="category"
						[invalid]="formState['category']?.invalid"
						[touched]="formState['category'].touched"
						[options]="level2Categories"
						placeholder="Select category"
						bindValue="_id"
						bindLabel="name"></b2b-ngx-select>

					<p
						*ngIf="
							formState['category']?.touched &&
							formState['category']?.errors?.['required']
						"
						class="error"
						[@fadeInOut]>
						Product category is required
					</p>
				</div>

				<div class="control-wrapper textarea-wrapper">
					<label for="specifications" class="input-label">
						Product description
						<span class="required">*</span>
						<span class="desc-text">
							(Description should not contain any personal or contact info.
							Otherwise product listing will be declined)</span
						>
					</label>

					<textarea
						b2bNgxTextarea
						[theme]="b2bNgxInputThemeEnum.BACKGROUND_GRAY"
						class="specifications-area"
						id="specifications"
						formControlName="specifications"
						placeholder="Describe the product in at least 60 characters">
					</textarea>

					<span
						class="area-count"
						[class.error]="formState['specifications'].errors?.['required']">
						{{
							formGroup.controls['specifications'].value?.length > 60
								? 0
								: 60 - (formGroup.controls['specifications'].value?.length || 0)
						}}
					</span>

					<p
						*ngIf="
							formState['specifications'].touched &&
							formState['specifications'].errors?.['required']
						"
						class="error"
						[@fadeInOut]>
						Descriptions is required
					</p>

					<p
						*ngIf="
							formState['specifications'].touched &&
							formState['specifications'].errors?.['minLength']
						"
						class="error"
						[@fadeInOut]>
						Min required characters 60
					</p>

					<p
						[@fadeInOut]
						class="error"
						*ngIf="
							formState['specifications'].errors?.['latin'] &&
							formState['specifications'].touched
						">
						{{ 'ERRORS.USER_ENGLISH_LETTERS' | translate }}
					</p>
				</div>

				<div class="control-wrapper">
					<label for="country" class="input-label">
						Product origin
						<span class="required">*</span>
					</label>

					<b2b-ngx-country-select
						id="country"
						formControlName="productOrigin"
						placeholder="Select origin"
						[invalid]="formState['productOrigin']?.invalid"
						[touched]="formState['productOrigin'].touched"
						[theme]="b2bNgxSelectThemeEnum.BACKGROUND_GRAY">
					</b2b-ngx-country-select>
					<p
						*ngIf="
							formState['productOrigin'].touched &&
							formState['productOrigin'].errors?.['required']
						"
						class="error"
						[@fadeInOut]>
						Origin is required
					</p>
				</div>
			</div>
		</section>

		<section class="product-section">
			<h2 class="section-title">
				{{ 'LABELS.PHOTOS' | translate }}
				<span class="required">*</span>
			</h2>

			<div class="form-block">
				<div class="control-wrapper">
					<div class="file-button-wrapper">
						<button
							class="file-button"
							b2bNgxButton
							[theme]="b2bNgxButtonThemeEnum.OUTLINE_BLACK"
							(click)="fileInput.click()">
							<img b2bNgxIcon name="photo" alt="" />
							<span>Choose photos</span>
						</button>

						<p>{{ buttonLength }}</p>
					</div>

					<input
						#fileInput
						(change)="uploadFile($event)"
						multiple
						type="file" />
				</div>

				<p class="photos-advice">
					Image file size should be less than 5MB. Supported formats; .jpeg jpg
					.png <br />
					Recommended image size is more than 640px. * 640px. Imaged should be
					clear and easy for buyers to view at a glance.
				</p>

				<div
					class="flex-between photos-wrapper"
					cdkDropListOrientation="horizontal"
					cdkDropList
					(cdkDropListDropped)="drop($event)">
					<div
						*ngFor="let image of images; let i = index; trackBy: trackByImageFn"
						class="photos">
						<div
							[class.active-image]="image !== 'assets/icons/no-image-icon.svg'"
							cdkDrag
							[cdkDragDisabled]="image === 'assets/icons/no-image-icon.svg'">
							<img
								*cdkDragPreview
								class="dragged-image"
								[src]="image"
								alt="Image" />

							<img [src]="image" alt="Image" />

							<span *ngIf="i === 0">main</span>
						</div>

						<button
							*ngIf="image !== 'assets/icons/no-image-icon.svg'"
							(click)="deleteImage(i)">
							Delete
						</button>

						<img
							*ngIf="image !== 'assets/icons/no-image-icon.svg'"
							class="mobile-delete"
							b2bNgxIcon
							(click)="deleteImage(i)"
							name="delete" />
					</div>
				</div>

				<p
					*ngIf="
						formState['photos']?.touched &&
						formState['photos']?.errors?.['required']
					"
					class="error"
					[@fadeInOut]>
					Image is required
				</p>
			</div>
		</section>

		<section class="product-section">
			<h2 class="section-title">
				Additional information
				<span>(Optional)</span>
			</h2>

			<p class="badge">
				<img b2bNgxIcon name="info-1" class="img" />

				<span class="label">
					We recommend to indicate as much information as possible to increase
					your product visibility.
				</span>
			</p>

			<div class="form-block">
				<div class="flex-between">
					<div class="control-wrapper two-in-row">
						<label class="input-label"> Minimum order quantity (MOQ) </label>

						<input
							type="number"
							b2bNgxInput
							[theme]="b2bNgxInputThemeEnum.BACKGROUND_GRAY"
							formControlName="amount"
							placeholder="Enter quantity" />

						<p
							*ngIf="
								formState['amount']?.touched &&
								formState['amount']?.errors?.['number']
							"
							class="error"
							[@fadeInOut]>
							Enter only number
						</p>
					</div>

					<div
						class="control-wrapper two-in-row"
						[class.disabled]="!formGroup.value.amount">
						<b2b-ngx-select
							[options]="unit$ | async"
							formControlName="unit"
							[touched]="formState['unit'].touched"
							bindValue="_id"
							bindLabel="displayName"
							(changed)="selectUnitName($event)"
							label="Measure"
							[theme]="b2bNgxSelectThemeEnum.BACKGROUND_GRAY"
							[zeroMargin]="true"
							[placeholder]="'PLACEHOLDERS.MEASURE' | translate"
							[class.rfq__input]="hideLabel$ | async">
							<span *ngIf="!(hideLabel$ | async)">&nbsp;</span>
						</b2b-ngx-select>
					</div>
				</div>

				<div class="control-wrapper brand">
					<label for="brand" class="input-label"> Brand </label>

					<input
						type="text"
						b2bNgxInput
						[theme]="b2bNgxInputThemeEnum.BACKGROUND_GRAY"
						formControlName="brandName"
						placeholder="Brand name"
						id="brand" />

					<p
						[@fadeInOut]
						class="error"
						*ngIf="
							formState['brandName'].errors?.['latin'] &&
							formState['brandName'].touched
						">
						{{ 'ERRORS.USER_ENGLISH_LETTERS' | translate }}
					</p>
				</div>
			</div>

			<h2 class="section-title subtitle">More information</h2>

			<p class="badge disabled-badge more-info-desktop">
				<img b2bNgxIcon name="info-3" class="img" />

				<span class="label">
					You may specify your custom information about the product that you
					would like your buyers to learn.
				</span>
			</p>

			<p class="badge more-info-mobile">
				<span class="label">
					You can add more information about your product on the desktop version
					of this page.
				</span>
			</p>

			<div
				class="custom-info more-info-desktop"
				formArrayName="specificationList">
				<div
					*ngFor="
						let fields of specificationList.controls;
						let i = index;
						trackBy: trackByFn
					"
					[formGroupName]="i"
					class="more-information-block">
					<div class="form-block inputs flex-between">
						<div class="two-in-row">
							<input
								type="text"
								b2bNgxInput
								[theme]="b2bNgxInputThemeEnum.BACKGROUND_GRAY"
								formControlName="specification"
								placeholder="Input specification" />

							<p
								[@fadeInOut]
								class="error"
								*ngIf="
									specificationList.at(i).get('specification').errors?.['latin']
								">
								{{ 'ERRORS.USER_ENGLISH_LETTERS' | translate }}
							</p>
						</div>

						<div class="two-in-row">
							<input
								type="text"
								b2bNgxInput
								[theme]="b2bNgxInputThemeEnum.BACKGROUND_GRAY"
								formControlName="item"
								placeholder="Input item" />

							<p
								[@fadeInOut]
								class="error"
								*ngIf="specificationList.at(i).get('item').errors?.['latin']">
								{{ 'ERRORS.USER_ENGLISH_LETTERS' | translate }}
							</p>
						</div>
					</div>

					<div class="actions" *ngIf="specificationList.controls.length > 1">
						<img b2bNgxIcon (click)="moveRowUp(i)" name="arrow-down-2" />

						<img b2bNgxIcon (click)="moveRowDown(i)" name="arrow-down-2" />

						<img b2bNgxIcon (click)="deleteRow(i)" name="delete" />
					</div>
				</div>

				<button class="add-more" (click)="addField()">+ Add more</button>
			</div>
		</section>

		<section class="product-section">
			<h2 class="section-title">Payment method</h2>

			<div class="checkbox-column">
				<b2b-ngx-checkbox
					[customClass]="'pointer'"
					[formControl]="payments"
					*ngFor="let method of paymentMethods"
					[checked]="method.checked"
					(checkboxChange)="setPaymentMethod($event, method.value)"
					>{{ method.label }}
				</b2b-ngx-checkbox>
			</div>
		</section>

		<section class="product-section">
			<h2 class="section-title">Trading areas</h2>

			<div class="checkbox-column">
				<b2b-ngx-checkbox
					[customClass]="'pointer'"
					[formControl]="areas"
					*ngFor="let area of tradingAreas"
					[checked]="area.checked"
					(checkboxChange)="setTradingArea($event, area.value)"
					>{{ area.label }}
				</b2b-ngx-checkbox>
			</div>
		</section>

		<section class="product-section">
			<h2 class="section-title">Shipping information</h2>

			<div class="form-block">
				<div class="checkbox-row">
					<b2b-ngx-checkbox
						[customClass]="'pointer'"
						[formControl]="shippings"
						*ngFor="let method of shippingMethods"
						[checked]="method.checked"
						(checkboxChange)="setShippingMethod($event, method.value)"
						>{{ method.label }}
					</b2b-ngx-checkbox>
				</div>

				<p class="shipping-label flex-between">Port of shipping</p>
			</div>

			<div class="custom-info" formArrayName="ports">
				<div
					*ngFor="
						let fields of ports.controls;
						let i = index;
						trackBy: trackByFn
					"
					[formGroupName]="i"
					class="more-information-block">
					<div class="form-block inputs flex-between">
						<b2b-ngx-country-select
							class="two-in-row"
							formControlName="country"
							placeholder="Select country"
							(closeSelect)="selectCountry(i)"
							[theme]="b2bNgxSelectThemeEnum.BACKGROUND_GRAY">
							<label class="input-label"> Country </label>
						</b2b-ngx-country-select>

						<b2b-ngx-select
							formControlName="portName"
							placeholder="Select user type"
							bindValue="_id"
							[clearValue]="currentClear === i"
							[options]="portsItems[i]?.ports"
							bindLabel="portName"
							class="two-in-row"
							[multiple]="true"
							[multipleCheckbox]="true"
							[searchable]="true"
							[theme]="b2bNgxSelectThemeEnum.BACKGROUND_GRAY">
							<label class="input-label"> Ports </label>
						</b2b-ngx-select>
					</div>

					<div class="actions port-actions" *ngIf="ports.controls.length > 1">
						<img b2bNgxIcon (click)="movePortsRowUp(i)" name="arrow-down-2" />

						<img b2bNgxIcon (click)="movePortsRowDown(i)" name="arrow-down-2" />

						<img b2bNgxIcon (click)="deletePortsRow(i)" name="delete" />
					</div>
				</div>

				<button class="add-more" (click)="addPortsField()">+ Add more</button>
			</div>
		</section>
	</div>

	<div class="form-buttons">
		<ng-container *ngIf="!isView; else previewProductButtons">
			<button
				(click)="cancel()"
				b2bNgxButton
				[theme]="b2bNgxButtonThemeEnum.BACKGROUND_WHITE">
				Cancel
			</button>

			<button
				(click)="preview()"
				b2bNgxButton
				[theme]="b2bNgxButtonThemeEnum.BACKGROUND_WHITE">
				Preview before posting
			</button>

			<button
				(click)="submitForm()"
				b2bNgxButton
				[theme]="b2bNgxButtonThemeEnum.BACKGROUND_BLUE"
				id="review-and-post">
				Save and submit
			</button>
		</ng-container>
	</div>
</div>

<ng-template #previewProductButtons>
	<button
		(click)="backToEditing()"
		b2bNgxButton
		[theme]="b2bNgxButtonThemeEnum.BACKGROUND_WHITE">
		Back to editing
	</button>

	<button
		(click)="submitForm()"
		b2bNgxButton
		[theme]="b2bNgxButtonThemeEnum.BACKGROUND_BLUE">
		Approve
	</button>
</ng-template>
