@import "projects/shared/src/styles";

.client-profile-chat-wrapper {
	padding: 30px 0;
	@include breakpoint("5") {
		padding: 0;
	}
	.rfq-info {
		.go-back {
			display: none;
			gap: 10px;
			cursor: pointer;
			margin-top: 40px;
			align-items: center;
			padding-left: 30px;
			@include breakpoint("3") {
				display: flex;
			}
			@include breakpoint("1") {
				padding-left: 10px;
			}

			.label {
				color: #828bb4;
			}
		}



		.product-name {
			margin-top: 15px;
			font-weight: 500;
			font-size: 20px;
			margin-bottom: 15px;
			padding-left: 30px;
			span {
				color: #9fa4bb;
			}
			@include breakpoint("1") {
				padding-left: 10px;
			}
		}
		.rfq-params {
			display: flex;
			flex-direction: column;
			span {
				display: block;
				color: #9fa4bb;
				font-size: 14px;
			}
		}
	}
	.client-profile-chat {
		display: flex;
		background-color: white;
		padding: 10px;
		padding-left: 0;
		border-radius: 10px;
		@include breakpoint("3") {
			flex-direction: column-reverse;
			background: none;
			width: 95%;
			margin: auto;
		}

		.client-profile-chat-container {
			width: 70%;
			border-right: 1px solid #dfe8f5;
			@include breakpoint("4") {
				width: 100%;
			}
			@include breakpoint("3") {
				background-color: #ffffff;
				border-radius: 10px;
				margin-top: 15px;
				padding: 5px 0;
			}

			.client-profile-chat-breadcrumbs {
				font-weight: 500;
				font-size: 11px;
				text-transform: uppercase;
				color: #9fa4bb;
				margin-top: 10px;

				@include breakpoint("3") {
					display: none;
				}

				a {
					font-weight: 500;
					font-size: 11px;
					text-transform: uppercase;
					color: #9fa4bb;
				}
			}

			.client-profile-chat-title {
				font-weight: bold;
				font-size: 32px;
				color: #0f0f11;
				margin-top: 32px;
			}

			.client-profile-chat-started {
				font-size: 14px;
				line-height: 140%;
				color: #9fa4bb;
				padding-left: 16px;
			}

			.client-profile-chat-messages {
				margin-top: 10px;

				.client-profile-chat-messages-list {
					position: relative;
					height: 300px;
					overflow: auto;
					box-shadow: 0 20px 10px -25px rgb(0 0 0) inset, 0 -20px 10px -25px rgb(0 0 0) inset;

					.client-profile-chat-messages-list-item {
						padding: 17px 16px;
						border-bottom: 1px solid #dfe8f5;

						.client-profile-chat-messages-list-item-info {
							display: flex;
							align-items: center;

							.client-profile-chat-messages-list-item-from {
								font-weight: bold;
								font-size: 16px;
								color: #0f0f11;
							}

							.client-profile-chat-messages-list-item-date {
								font-size: 14px;
								color: #9fa4bb;
								margin-left: 8px;
							}
						}

						.client-profile-chat-messages-list-item-message {
							font-size: 16px;
							color: #556274;
							margin-top: 4px;
							line-height: 148%;
							min-height: 24px;
							white-space: break-spaces;
						}
					}

					.client-profile-chat-no-messages {
						position: absolute;
						left: 0;
						top: 0;
						width: 100%;
						height: 100%;
						display: flex;
						justify-content: center;
						align-items: center;

						font-weight: bold;
						font-size: 16px;
						color: #0f0f11;
					}
				}
			}

			.message-wrapper {
				padding: 0 10px;
				.client-profile-chat-textarea {
					width: 100%;
					background: #f3f6f8;
					border-radius: 8px;
					border: none;
					resize: none;
					margin-top: 15px;
					padding: 10px;
				}
			}

			.client-profile-chat-actions {
				width: 100%;
				display: flex;
				justify-content: flex-end;
				align-items: center;
				margin-top: 11px;
				padding-right: 10px;

				.chat-actions-item-icons {
					width: 155px;
					display: flex;
					justify-content: space-between;
					align-items: center;
					@include breakpoint("4") {
						width: 43%;
					}
					@include breakpoint("3") {
						width: 30%;
					}
					@include breakpoint("2") {
						width: 40%;
					}
					@include breakpoint("1") {
						width: 50%;
					}
					.icon-wrapper {
						height: 30px;
						width: 30px;
						padding: 7px;
						@include breakpoint("4") {
							height: 15px;
							width: 15px;
							padding: 0;
						}
						&:hover {
							svg {
								path {
									fill: #0f0f11;
								}
							}
						}
					}
				}
				.chat-actions-item-buttons {
					width: 25%;
					display: flex;
					justify-content: flex-end;
					align-items: center;
					@include breakpoint("5") {
						width: 47%;
					}
					@include breakpoint("4") {
						width: 35%;
					}
				}

				.client-profile-chat-actions-send-button {
					display: flex;
					align-items: center;
					padding: 11px 24px;

					.client-profile-chat-actions-send-button-icon {
						margin-left: 5px;
					}
				}
			}
		}

		.client-profile-chat-buyer-info {
			width: 30%;
			height: 100%;
			padding: 0 25px;
			display: flex;
			flex-direction: column;
			@include breakpoint("4") {
				padding: 0 15px;
				width: 40%;
			}

			@include breakpoint("3") {
				padding: 0;
				width: 45%;
				border-radius: 10px;
				background-color: #ffffff;
			}
			@include breakpoint("1") {
				width: 65%;
			}
			.buyer-info-profile {
				padding-bottom: 65px;
				height: 100%;
				@include breakpoint("3") {
					padding: 10px 0 0 10px;
				}

				.buyer-info-title {
					font-size: 14px;
					font-weight: 500;
					color: #828bb4;
					text-transform: uppercase;
					margin-bottom: 30px;
					@include breakpoint("3") {
						margin-bottom: 10px;
					}
				}
				.buyer-info-header {
					display: flex;
					width: 100%;
					justify-content: space-between;
					margin-bottom: 10px;

					.buyer-info-header-name {
						font-size: 24px;
						color: #0f0f11;
						font-weight: 900;
					}
					.buyer-info-header-status {
						display: flex;
						align-items: center;
						.status {
							font-size: 14px;
							color: #9fa4bb;
							margin-left: 10px;
						}
					}
				}
				.buyer-info-country {
					color: #556274;
					font-size: 15px;
					margin-bottom: 20px;
				}
				.buyer-info-block {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					margin-bottom: 20px;
					.subtitle {
						margin-bottom: 5px;
						font-weight: 500;
					}
					.subtext {
						font-size: 13px;
						color: #828bb4;
						font-weight: 500;
						word-break: break-word;
						@include breakpoint("3") {
							font-size: 12px;
						}
					}
				}
				.buyer-info-btn {
					width: 180px;
					height: 40px;
					@include breakpoint("4") {
						width: 125px;
						height: 40px;
						font-size: 15px;
					}
				}
			}
			.buyer-info-product {
				height: 45%;
				padding: 25px 0 50px 0;
				border-bottom: 1px solid #dfe8f5;
				border-top: 1px solid #dfe8f5;
				display: none;
				.buyer-info-product-title {
					color: #828bb4;
					font-size: 15px;
					text-transform: uppercase;
					margin-bottom: 20px;
				}
			}
			.buyer-info-warning {
				display: none;
				height: 65px;
				margin: auto;
				padding: 0 25px;
				align-items: center;
				.buyer-info-warning-link {
					margin-left: 10px;
					&:hover {
						text-decoration: underline;
					}
				}
			}
			.client-profile-chat-buyer-info-container {
				.client-profile-chat-buyer-info-text {
					font-weight: 500;
					font-size: 11px;
					text-transform: uppercase;
					color: #828bb4;
					margin-top: 40px;
				}

				.client-profile-chat-buyer-info-title {
					font-weight: bold;
					font-size: 24px;
					color: #0f0f11;
					margin-top: 28px;
				}

				.client-profile-chat-buyer-info-from {
					font-weight: normal;
					font-size: 14px;
					line-height: 16px;
					color: #556274;
					margin-top: 8px;
				}

				.client-profile-chat-buyer-email-title {
					margin-top: 24px;
					font-weight: normal;
					font-size: 14px;
					color: #9fa4bb;
				}

				.client-profile-chat-buyer-email {
					font-weight: normal;
					font-size: 14px;
					color: #0f0f11;
					margin-top: 5px;
				}

				.client-profile-chat-buyer-phone-title {
					margin-top: 12px;
					font-weight: normal;
					font-size: 14px;
					color: #9fa4bb;
				}

				.client-profile-chat-buyer-phone {
					font-weight: normal;
					font-size: 14px;
					color: #0f0f11;
					margin-top: 5px;
				}

				.client-profile-chat-buyer-web-title {
					margin-top: 12px;
					font-weight: normal;
					font-size: 14px;
					color: #9fa4bb;
				}

				.client-profile-chat-buyer-web {
					font-weight: normal;
					font-size: 14px;
					color: #0f0f11;
					margin-top: 5px;
				}
			}

			.client-profile-chat-buyer-info-media {
				border-top: 1px solid #dfe8f5;
				margin-top: 56px;
			}
		}
	}
}

.user-deleted {
	font-size: 24px;
	font-weight: bold;
	color: $color-gray-500;
	margin-top: 35px;
	text-align: center;
}

.my-btn {
	margin: 15px auto 0;
	font-family: Helvetica Neue;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 18px;
	letter-spacing: 0.02em;
	text-align: center;
	background-color: #005dff;
	color: #ffffff;
	border-radius: 4px;
	width: 100%;
	padding: 15px 0;

	&.requested {
		width: 100%;
	}
}

:host::ng-deep {
	.b2b-ngx-button.outline.outline-black {
		border: none;
	}
	.ngx-file-button {
		padding: 0;
		img {
			width: 20px;
			height: 20px;
		}
	}
}
