:host {
	.card {
		background-color: #FFFFFF;
		padding: 25px;

		&-title {
			font-weight: 700;
			font-size: 11px;
			text-transform: uppercase;
			color: #828bb4;
		}

		.material-btn {
			display: flex;
			height: 40px;
			color: #000;
			border: 2px solid #000;
			padding: 0;
			justify-content: center;
			align-items: center;
		}

		.company-name {
			font-weight: bold;
			font-size: 16px;
			color: #0f0f11;
			cursor: pointer;
		}

		.company-location {
			display: flex;
			gap: 10px;
			margin-top: 10px;
		}

		.company-address {
			margin-top: 10px;
		}

		.contact-buttons {
			margin-top: 10px;
			display: flex;
			flex-wrap: wrap;
			gap: 10px;

			button {
				padding: 10px;
				min-width: 45%;
			}

			a {
				padding: 7px;
				text-align: center;
				flex-shrink: 1;
				flex-grow: 1;
			}

			.contact-button {
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 10px;
			}
		}
	}
}
