<ng-container *ngIf="companyInfo$ | async as companyInfo; else skeleton">
	<div class="company">
		@if (companyInfo?.banner) {
			<img
				[src]="environment.apiUrl + companyInfo.banner.path"
				alt="company-banner"
				class="company__banner"/>
		}

		<div
			[class.no-banner]="!companyInfo?.banner"
			[class.negative-margin]="companyInfo.logo"
			class="container">
			@if (companyInfo.logo && companyInfo.banner) {
				<div *ngIf="companyInfo.logo"
						 class="company__logo">
					<img class="aspect-square object-cover" [src]="getMediaSrc(companyInfo?.logo?.path)">
				</div>
			}

			<div class="company__header">
				<div class="company__header-text">
					<div class="company__header-body">
						@if (!companyInfo?.banner && companyInfo.logo) {
							<b2b-client-profile-image-container class="aspect-square"
																									[hideButtons]="true"
																									[path]="companyInfo?.logo?.path"/>
						}
						<div class="subtext">
							<h1 class="company__name">{{ companyInfo.companyName }}</h1>
							@if (supplierProductsAmount$ | async; as supplierProductsAmount) {
								<a
									[routerLink]="'/b2bmarket/supplier-listing/' + companyInfo.user"
									class="company__products">
									{{ supplierProductsAmount + (supplierProductsAmount > 1 ? ' products' : ' product') }}
								</a>
							}
						</div>
					</div>
					<div #description class="company__description">
						<div
							[class.long-text]="
								companyDescriptionIsLong &&
								(showDescriptionViewButton$ | async) === 'more'
							"
							class="content">
							{{ companyInfo.companyDescription }}
						</div>
					</div>
					<ng-container
						*ngIf="
							showDescriptionViewButton$ | async as showDescriptionViewButton
						">
						<button
							(click)="changeShowDescriptionState(showDescriptionViewButton)"
							class="description-button">
							{{
								showDescriptionViewButton === 'more' ? 'View all' : 'View less'
							}}
							<svg
								[class.rotated-arrow]="showDescriptionViewButton === 'less'"
								width="16"
								height="16"
								viewBox="0 0 16 16"
								fill="none"
								xmlns="http://www.w3.org/2000/svg">
								<path
									d="M12 6.66675L8 10.6667L4 6.66675"
									stroke="#2F384C"
									stroke-width="1.5"
									stroke-linecap="round"
									stroke-linejoin="round"/>
							</svg>
						</button>
					</ng-container>
				</div>
				<div class="company__header-share">
					@if (platformService.isBrowser) {
						<svg-icon
							(click)="copyLink()"
							class="social-btn"
							src="/assets/icons/company-page/share-btn.svg"></svg-icon>
					}
					<!--					<svg-icon-->
					<!--						class="social-btn"-->
					<!--						src="/assets/icons/company-page/save-btn.svg"></svg-icon>-->
				</div>
			</div>
		</div>
		<div class="company__navigation">
			@for (item of navigationOptions; let i = $index; track item.label) {
				@if (item.existInCompanyInfo(companyInfo)) {
					<div
						[class.active]="i === activeNavigationIndex"
						(click)="scrollToSection(i)"
						class="company__navigation-item">
						{{ item.label }}
					</div>
				}
			}
		</div>

		<div class="container">
			<div class="company__body">
				<div class="company__content">

					<section id="section1" class="company__information">
						<b2b-market-company-information
							[companyInfo]="companyInfo"></b2b-market-company-information>
					</section>

					<section id="section2" class="company__information">
						<b2b-company-products
							[userId]="companyInfo.user"></b2b-company-products>
					</section>

					<section id="section3" class="company__information">
						<b2b-company-shipping-info [companyInfo]="companyInfo"></b2b-company-shipping-info>
					</section>

					@if (companyInfo.documents.length) {
						<section id="section4" class="company__information">
							<b2b-company-documents
								[documents]="companyInfo.documents"></b2b-company-documents>
						</section>
					}

					<!--					<section id="section5" class="company__information">-->
					<!--						<b2b-company-certificates></b2b-company-certificates>-->
					<!--					</section>-->

					<section id="section6" class="company__information">
						<b2b-company-advantages [advantages]="companyInfo.advantages"></b2b-company-advantages>
					</section>

					<section id="section7" class="company__information">
						<b2b-company-exhibitions [tradeShows]="companyTradeShows$ | async"></b2b-company-exhibitions>
					</section>

					<section id="section9" class="company__information">
						<b2b-company-videos [folders]="folders$ | async"></b2b-company-videos>
					</section>

					<section id="section10" class="company__information">
						<b2b-company-folders [folders]="folders$ | async"></b2b-company-folders>
					</section>



				</div>
				<div class="company__contacts">
					<b2b-company-contact-card
						[companyInfo]="companyInfo"></b2b-company-contact-card>
				</div>
			</div>
		</div>
	</div>


</ng-container>

<ng-template #skeleton>
	<b2b-ngx-skeleton [option]="getSkeletonOptions()"></b2b-ngx-skeleton>
</ng-template>
