@if (article$ | async; as article) {
	<div class="article-wrapper">
		<button class="d-flex button-back align-items-center" (click)="goBack()">
			<svg-icon src="assets/icons/arrow-left-third.svg" class="back-icon"></svg-icon>

			<span>Back</span>
		</button>

		<section class="article-header">
			<div class="article-header-content">
				<p class="time-to-read">{{ article.data.readTime }}</p>

				<h1 class="article-title">{{ article.data.title }}</h1>

				<p class="article-short-description">{{ article.data.shortDescription }}</p>

				<div class="d-flex align-items-center w-100">
					@if (isMarketExpertsPage) {
						@if (article.data?.authorId?.photo) {
							<img b2bNgxImage class="author-img mr-4" [class.mr-7]="article.data?.authorId?.photo"
									 [name]="article.data.authorId?.photo?.sm" alt="" width="32" height="32">
						} @else {
							<svg-icon class="author-img" src="/assets/icons/user.svg"></svg-icon>
						}
					}

					@if (article.data.tags?.length > 0) {
						<div class="mobile-tags flex-wrap">
							@for (tag of article.data.tags; track tag._id) {
								<p class="tag">{{ tag.name }}</p>
							}
						</div>
					}
					<span
						class="article-header-author-and-date" [class.w-100]="isMarketExpertsPage">
						<a>{{ article.data?.authorId?.fullName }}  · </a> {{ article.data?.dateUpdate | date: 'MMM dd, yyyy' }}
					</span>
				</div>
			</div>
		</section>

		<section class="article-body d-flex">
			<div class="article-description ck-content"
					 [innerHTML]="updatedArticleContent"></div>

			<div class="d-flex justify-between article-right-block">
				<div class="article-table">
					<h3>Table of content</h3>

					<div class="article-table-list d-flex flex-column">
						@for (item of articleHeaders; track item.id; let i = $index) {
							<a (click)="scrollToHeader(item.id, i)" [class.highlighted]="i === selectedTableItem">{{ item.text }}</a>
						}
					</div>
				</div>

			</div>
		</section>


		<section class="footer-recommendations">
			@if (article.data.tags?.length > 0) {
				<div class="tags flex-wrap">
					@for (tag of article.data.tags; track tag._id) {
						<p class="tag">{{ tag.name }}</p>
					}
				</div>
			}

			<div class="category">
				<p class="category-text category-title">Category:</p>

				<p class="category-text">{{ article.data.typeArticle }}</p>
			</div>

			<b2b-analysis-section class="w-100" [articles]="article.footerRecommendations.slice(0, 3)"
														[isAnalysisSection]="false">
			</b2b-analysis-section>
		</section>
	</div>
} @else {
	<div class="loading-overlay">
		<b2b-page-loader
			class="page-loader"
			style="z-index: 10000"></b2b-page-loader>
	</div>
}

<!--<ng-container>-->
<!--	<div class="client-trading-wiki-article" *ngIf="article$ | async as article">-->
<!--		<div class="client-trading-wiki-article-title-block">-->
<!--			<h2 class="client-trading-wiki-article-title-block-category">-->
<!--				{{ article.blog?.category }}-->
<!--			</h2>-->
<!--			<h1 class="client-trading-wiki-article-title">-->
<!--				{{ article.blog.title }}-->
<!--			</h1>-->

<!--			<p class="client-trading-wiki-article-title-block-info">-->
<!--				<a-->
<!--					b2bNgxLink-->
<!--					[theme]="b2bNgxLinkThemeEnum.TEXT_BLUE"-->
<!--					[routerLink]="['samantha-greene']">-->
<!--					by Samantha Greene-->
<!--				</a>-->
<!--				/-->
<!--				<span>{{ article.blog.createdAt | date }}</span>-->
<!--				/-->
<!--				<span>5m</span>-->
<!--			</p>-->
<!--		</div>-->

<!--		<div class="client-trading-wiki-article-content">-->
<!--			<div-->
<!--				class="article-description ck-content"-->
<!--				[innerHTML]="sanitizer.bypassSecurityTrustHtml(article.blog.description)"></div>-->
<!--		</div>-->

<!--		<div class="client-trading-wiki-article-share">-->
<!--			<h3 class="client-trading-wiki-article-share-title">Share</h3>-->

<!--			<div class="client-trading-wiki-article-share-social-media">-->
<!--				<a *ngFor="let socialMedia of socialMedias">-->
<!--					<button-->
<!--						[shareButton]="socialMedia.share"-->
<!--						[description]="article.blog.shortDescription"-->
<!--						[title]="article.blog.title"-->
<!--						rel="nofollow"-->
<!--						class="client-trading-wiki-article-share-social-media-link"-->
<!--						(click)="processShareBtn(socialMedia.share)">-->
<!--						<img b2bNgxIcon [name]="socialMedia.icon" />-->
<!--					</button>-->
<!--				</a>-->
<!--			</div>-->
<!--		</div>-->

<!--		<div class="client-trading-wiki-article-recommendations">-->
<!--			<b2b-blog-grid-list-->
<!--				[title]="'Recommend'"-->
<!--				[getArticles]="article.anotherBlogs">-->
<!--			</b2b-blog-grid-list>-->
<!--		</div>-->
<!--	</div>-->
<!--</ng-container>-->
