<div class="d-flex justify-center ">
	<div class="d-flex align-items-center blog-menu-wrapper w-100 max-w-[1170px]">

	<div class="link-wrapper">
		<div class="link-list d-flex" #menuList>
			@if (menuLinks$ | async; as menuLinks) {
				@for (item of menuLinks; track item.link) {
					<a [routerLink]="item.link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" #listItem>{{ item.displayName }}</a>
				}
			}
		</div>
	</div>

	<mat-icon
		class="popup-icon"
		*ngIf="platformService.isBrowser"
		(click)="openPopUp()"
		[svgIcon]="'arrow-right'"></mat-icon>
	</div>
</div>
