<div class="content">
	<img b2bNgxIcon name="cross" class="cross-icon" mat-dialog-close>
	<h2 class="title">
		<p>Couldn't find the right product? </p>
		<p>Leave a Request and suppliers will contact you.</p>
	</h2>
	<form [formGroup]="rfqFormGroup" class="rfq-form" (ngSubmit)="submitForm()">
		<div class="product-name">
			<p class="label">Product name</p>
			<input class="product-name__input" type="text" b2bNgxInput [theme]="b2bNgxInputThemeEnum.BACKGROUND_WHITE"
				formControlName="productName" placeholder="Product name">
		</div>
		<div class="product-sector">
			<p class="label">Product name</p>
			<b2b-ngx-select className="border-radius-14" [options]="[]" [theme]="b2bNgxSelectThemeEnum.BACKGROUND_WHITE"
				formControlName="productSector" placeholder="Product sector"></b2b-ngx-select>
		</div>
		<div class="product-category">
			<p class="label">Product category</p>
			<b2b-ngx-select [options]="[]" [theme]="b2bNgxSelectThemeEnum.BACKGROUND_WHITE"
				formControlName="productCategory" placeholder="Product category"></b2b-ngx-select>
		</div>
		<div class="comments">
			<p class="label">Fill in sourcing requirements</p>
			<b2b-ngx-textarea class="comments__textarea" [theme]="b2bNgxSelectThemeEnum.BACKGROUND_WHITE"
				formControlName="comments" placeholder="Comments"></b2b-ngx-textarea>
		</div>
		<div class="terms-of-delivery">
			<p class="label">Fill in sourcing requirements</p>
			<b2b-ngx-select [options]="[]" [theme]="b2bNgxSelectThemeEnum.BACKGROUND_WHITE"
				formControlName="deliveryTerms" placeholder="Type or select" [searchable]="true"></b2b-ngx-select>
		</div>
		<div class="delivery-location">
			<p class="label">Delivery location</p>
			<b2b-ngx-country-select [theme]="b2bNgxSelectThemeEnum.BACKGROUND_WHITE"
															formControlName="location"
															placeholder="Location"></b2b-ngx-country-select>
		</div>
		<div class="required-amount">
			<p class="label">Required amount</p>
			<b2b-ngx-select [options]="[]" [theme]="b2bNgxSelectThemeEnum.BACKGROUND_WHITE"
				formControlName="requiredAmount" placeholder="Product category"></b2b-ngx-select>
		</div>
		<div class="unit">
			<p class="label">Unit</p>
			<b2b-ngx-select [options]="[]" [theme]="b2bNgxSelectThemeEnum.BACKGROUND_WHITE"
				formControlName="deliveryTerms" placeholder="Tones"></b2b-ngx-select>
		</div>
		<div class="btn-submit">
			<button b2bNgxButton [theme]="b2bNgxButtonThemeEnum.BACKGROUND_BLACK" [disabled]="!(isValid$ | async)">Send
			</button>
		</div>
	</form>
</div>
