@import "projects/shared/src/styles";

::ng-deep {
	.add-rfq-popup .mat-dialog-container {
		background: #628CEA;
		color: #fff;
	}
}

.content {
	position: relative;
	width: 869px;
	padding: 8px 59px 8px 59px;

	@include breakpoint("4") {
		width: 700px;
	}

	@include breakpoint("3") {
		width: 500px;
		padding: 8px 10px 8px 10px;
	}

	@include breakpoint("2") {
		width: 400px;
		padding: 8px 0px 8px 0px;
	}

	@include breakpoint("1") {
		width: 348px;
	}

	.cross-icon {
		position: absolute;
		right: -3px;
		top: -6px;
	}

	.title {
		font-size: 24px;
		font-weight: 700;
		color: #FFF;
		text-align: center;
		margin-bottom: 24px;
		line-height: 32px;

		@include breakpoint("3") {
			font-size: 20px;
			line-height: 28px;
		}

		@include breakpoint("2") {
			font-size: 18px;
			line-height: 24px;
		}
	}

	.rfq-form {
		display: flex;
		flex-wrap: wrap;

		.product-name {
			margin-bottom: 16px;
			width: 100%;

			&__input {
				border-radius: 8px;
				background: #FFF;
			}
		}

		.product-sector {
			width: 50%;
			padding-right: 8px;
			margin-bottom: 15px;

			@include breakpoint("3") {
				width: 100%;
				padding-right: 0px;
			}
		}

		.product-category {
			width: 50%;
			padding-left: 8px;
			margin-bottom: 15px;

			@include breakpoint("3") {
				width: 100%;
				padding-left: 0px;
			}
		}

		.comments {
			width: 100%;
			margin-bottom: 15px;

			.comments__textarea {
				border-radius: 14px;
			}
		}

		.terms-of-delivery {
			width: 50%;
			padding-right: 8px;
			margin-bottom: 15px;

			@include breakpoint("3") {
				width: 100%;
				padding-right: 0px;
			}
		}

		.delivery-location {
			width: 50%;
			padding-left: 8px;
			margin-bottom: 15px;

			@include breakpoint("3") {
				width: 100%;
				padding-left: 0px;
			}
		}

		.required-amount {
			width: 50%;
			padding-right: 8px;
			margin-bottom: 24px;

			@include breakpoint("3") {
				width: 100%;
				padding-right: 0px;
				margin-bottom: 15px;
			}
		}

		.unit {
			width: 50%;
			padding-left: 8px;
			margin-bottom: 24px;

			@include breakpoint("3") {
				width: 100%;
				padding-left: 0px;
			}
		}

		.btn-submit-wrapper {
			margin: 0 auto;
			width: 113px;
			height: 48px;
			display: flex;
			justify-content: center;

			@include breakpoint("3") {
				width: 100%;
			}

			.btn-submit {
				width: 113px;
				border-radius: 8px;
				font-size: 14px;
				font-weight: 500;

				@include breakpoint("3") {
					width: 100%;
				}
			}
		}
	}
}


.label {
	color: #FFF;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 6px;
}