@import "projects/shared/src/styles";

.latest-offers-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.25rem 99px;
	border-bottom: 1px solid #e3eaf1;
	@include breakpoint("3") {
		flex-direction: column;
		padding: 1.25rem 18px;
	}
	.latest-offers-header-title {
		font-weight: bold;
		font-size: 24px;
		line-height: 134%;
		color: #0f0f11;
		display: flex;
		justify-content: space-between;
		.latest-offers-header-icon {
			display: none;
		}
		@include breakpoint("3") {
			width: 100%;
			.latest-offers-header-icon {
				display: block;
			}
		}
	}
	.latest-offers-header-search {
		width: 40%;
		display: block;
		@include breakpoint("3") {
			width: 100%;
			margin-top: 24px;
		}
	}
	.latest-offers-header-filters {
		display: flex;
		align-items: center;
		.latest-offers-header-display-type {
		}
		.latest-offers-header-show-filter,
		.latest-offers-header-sort-filter {
			display: flex;
			align-items: center;
		}

		@include breakpoint("3") {
			.latest-offers-header-display-type {
				display: none;
			}
		}
	}
}

.main-content {
	display: flex;
	align-items: flex-start;
	width: 85%;
	margin: auto;
	.filters {
		width: 20%;
		padding: 25px 25px 0 0;
		border-right: 1px solid #e3eaf1;
		align-self: stretch;
	}
	.listing {
		width: 80%;
		padding: 25px 0 25px 25px;
	}
	@include breakpoint("3") {
		width: 95%;
	}

	@include breakpoint("1") {
		width: 100%;
		justify-content: space-between;
		.filters {
			width: 36%;
			padding-right: 0;
		}
		.listing {
			width: 64%;
			padding-left: 0;
		}
	}
}
