<form [formGroup]="formGroup">
	<!--	<b2b-client-subheader-->
	<!--		[searchControl]="formGroup.controls?.['q'].value"-->
	<!--		(searchValue)="setSearch($event)">-->
	<!--	</b2b-client-subheader>-->

	<b2b-breadcrumbs [breadcrumbLabel]="'All products of supplier'">
	</b2b-breadcrumbs>
</form>

<div class="main-content">
	<h1 class="title">All products of supplier</h1>

	<div class="filters">
		<b2b-client-marketplace-supplier-info
			[supplierId]="supplierId"
			[supplierInfo]="
				supplierInfo$ | async
			"></b2b-client-marketplace-supplier-info>
	</div>
	<div class="listing">
		<b2b-client-marketplace-listing-grid
			*ngIf="offersListTheme === 'grid'"
			[classGridBetween]="true"
			[marketplaceProducts]="supplierProducts$ | async"
			[showBanner]="false"></b2b-client-marketplace-listing-grid>

		<!--		<b2b-load-more-paginator *ngIf="(loadMorePaginatorIsVisible$ | async)" (loadMoreClicked)="loadMoreProducts($event)"></b2b-load-more-paginator>-->
		<b2b-ngx-pagination
			(togglePageNumber)="togglePage($event)"
			[length]="totalSupplierProductsLength$ | async"
			[perPage]="PRODUCTS_LIMIT"
			class="pagination"></b2b-ngx-pagination>
	</div>
</div>
