@import 'projects/shared/src/styles';

.latest-offers-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.25rem 99px;
	border-bottom: 1px solid #e3eaf1;
	@include breakpoint('3') {
		flex-direction: column;
		padding: 1.25rem 18px;
	}

	.latest-offers-header-title {
		font-weight: bold;
		font-size: 24px;
		line-height: 134%;
		color: #0f0f11;
		display: flex;
		justify-content: space-between;

		.latest-offers-header-icon {
			display: none;
		}

		@include breakpoint('3') {
			width: 100%;
			.latest-offers-header-icon {
				display: block;
			}
		}
	}

	.latest-offers-header-search {
		width: 40%;
		display: block;
		@include breakpoint('3') {
			width: 100%;
			margin-top: 24px;
		}
	}

	.latest-offers-header-filters {
		display: flex;
		align-items: center;

		.latest-offers-header-display-type {
		}

		.latest-offers-header-show-filter,
		.latest-offers-header-sort-filter {
			display: flex;
			align-items: center;
		}

		@include breakpoint('3') {
			.latest-offers-header-display-type {
				display: none;
			}
		}
	}
}

.main-content {
	display: flex;
	flex-direction: column;
	margin: auto;
	padding: 0 100px 80px;

	@include breakpoint('3') {
		padding: 0 0 80px;
	}

	.filters {
		align-self: stretch;
	}

	.title {
		font-size: 24px;
		font-weight: 700;
		line-height: 32px;
		letter-spacing: 0.01em;
		text-align: left;
		margin: 32px 0;

		@include breakpoint('3') {
			margin: 16px 15px 32px;
		}
	}

	.filters {
		margin-bottom: 32px;

		@include breakpoint('3') {
			padding: 0 15px;
		}
	}
}
