<div class="logistic-wrapper">
	<div class="point-actions" [formGroup]="pointsGroup">
		<div class="logistic-header-wrapper">
			<b2b-ngx-radio
				formControlName="type"
				(click)="radioDisable($event)"
				[options]="['Port', 'Airport']"></b2b-ngx-radio>

			<div class="search-wrapper country-wrapper">
				<b2b-ngx-country-select
					formControlName="countryId"
					[customOptions]="{value: countryOptions,length: countryOptions.value?.length }"
					[theme]="b2bNgxSelectThemeEnum.BACKGROUND_WHITE"
					placeholder="Select Country"
					>Select country for ports or airports</b2b-ngx-country-select>

				<mat-icon
					[class.show]="this.pointsGroup?.controls['countryId'].value"
					(click)="setNullableValue('pointsGroup')"
					>close</mat-icon
				>
			</div>

			<div
				class="search-wrapper"
				*ngIf="
					pointsGroup.controls['countryId'].value &&
					pointsGroup.controls['type'].value
				">
				<b2b-ngx-select
					formControlName="items"
					[placeholder]="
						pointsGroup.controls['type'].value === 'Port'
							? 'Select port'
							: 'Select airport'
					"
					[options]="itemOptions"
					bindValue="_id"
					bindLabel="name"
					[theme]="b2bNgxSelectThemeEnum.BACKGROUND_WHITE">
					{{
						pointsGroup.controls['type'].value === 'Port'
							? 'Select port'
							: 'Select airport'
					}}
				</b2b-ngx-select>
			</div>
		</div>
	</div>

	<div class="logistic-header-wrapper" [formGroup]="searchGroup">
		<button
			class="b2b-ngx-button background background-black"
			(click)="addLogisticProfile()">
			Add logistic profile
		</button>

		<button
			class="b2b-ngx-button background background-black"
			[disabled]="!(countryOptions | async)"
			(click)="createDirection()">
			Create direction
		</button>

		<div class="search-wrapper">
			<input
				formControlName="name"
				class="b2b-ngx-input background background-white"
				placeholder="Search by name" />
		</div>

		<div class="search-wrapper country-wrapper">
			<b2b-ngx-country-select
				formControlName="country"
				[theme]="b2bNgxSelectThemeEnum.BACKGROUND_WHITE"
				placeholder="Select Country"></b2b-ngx-country-select>

			<mat-icon
				[class.show]="this.searchGroup.controls['country'].value"
				(click)="setNullableValue('searchGroup')"
				>close</mat-icon
			>
		</div>

		<div class="search-wrapper country-wrapper">
			<b2b-ngx-select
				formControlName="type"
				placeholder="Search by transport type"
				[options]="transportTypes"
				bindValue="_id"
				bindLabel="name"
				[theme]="b2bNgxSelectThemeEnum.BACKGROUND_WHITE">
			</b2b-ngx-select>

			<mat-icon
				[class.show]="this.searchGroup.controls['type'].value"
				(click)="setNullableValue('searchGroup', 'type')"
				>close</mat-icon
			>
		</div>

		<input
			formControlName="q"
			class="b2b-ngx-input background background-white"
			label="Search"
			placeholder="Search" />
	</div>

	<ng-container *ngIf="totalCount; else noProfiles">
		<table
			mat-table
			[dataSource]="dataSource"
			class="mat-elevation-z8 w-100 mt-4">
			<ng-container matColumnDef="name">
				<th mat-header-cell *matHeaderCellDef>Name</th>
				<td mat-cell *matCellDef="let company">{{ company.name }}</td>
			</ng-container>

			<ng-container matColumnDef="country">
				<th mat-header-cell *matHeaderCellDef>Country</th>
				<td mat-cell *matCellDef="let company">
					{{ getName(company.country) }}
				</td>
			</ng-container>

			<ng-container matColumnDef="email">
				<th mat-header-cell *matHeaderCellDef>Email</th>
				<td mat-cell *matCellDef="let company">{{ company.email }}</td>
			</ng-container>

			<ng-container matColumnDef="phone">
				<th mat-header-cell *matHeaderCellDef>Phone</th>
				<td mat-cell *matCellDef="let company">
					{{ company.phone.internationalNumber }}
				</td>
			</ng-container>

			<ng-container matColumnDef="transportType">
				<th mat-header-cell *matHeaderCellDef>Transport type</th>
				<td mat-cell *matCellDef="let company">{{ company.transportType }}</td>
			</ng-container>

			<ng-container matColumnDef="actions">
				<th mat-header-cell *matHeaderCellDef>Actions</th>
				<td mat-cell *matCellDef="let company">
					<div class="actions-block">
						<button
							mat-icon-button
							(click)="$event.stopPropagation(); addLogisticProfile(company)">
							<mat-icon>edit</mat-icon>
						</button>

						<button
							mat-icon-button
							(click)="
								$event.stopPropagation(); deleteLogisticProfile(company)
							">
							<mat-icon>delete</mat-icon>
						</button>
					</div>
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr
				mat-row
				(click)="openProfileDetails(row._id)"
				*matRowDef="let row; columns: displayedColumns"></tr>
		</table>

		<b2b-pagination
			[currentPage]="currentPage"
			[length]="totalCount"
			[perPage]="productsLimit"
			(togglePageNumber)="togglePage($event)"></b2b-pagination>
	</ng-container>

	<ng-template #noProfiles>
		<h3>No companies found</h3>
	</ng-template>
</div>
