<div class="page-wrapper">
	<div class="authors-block">
		<img ngSrc="./assets/icons/user.svg" priority width="168" height="168" />
		<div class="authors-info">
			<h2 class="authors-info-name">Samantha Greene</h2>

			<p class="authors-info-text">
				<span>Joined Jun 13, 2022 </span>
				<b class="desktop">/</b>
				<span> Articles 158</span>
			</p>

			<p class="authors-info-text desktop">
				Samantha Greene brings over a decade of experience in logistics and
				global trade, working with leading multinational corporations. Her vast
				understanding of supply chain dynamics and international compliance
				makes her a valuable asset. Now, as a content marketer in Globy, she
				leverages her industry knowledge to craft insightful articles for our
				platform.
			</p>
		</div>
	</div>

	<p class="authors-info-text mobile">
		Samantha Greene brings over a decade of experience in logistics and global
		trade, working with leading multinational corporations. Her vast
		understanding of supply chain dynamics and international compliance makes
		her a valuable asset. Now, as a content marketer in Globy, she leverages her
		industry knowledge to craft insightful articles for our platform.
	</p>

	<div class="latest-block">
		<b2b-blog-grid-list
			[isBigger]="true"
			[title]="'Latest'"
			[getArticles]="articles$ | async"></b2b-blog-grid-list>

		<b2b-pagination
			[length]="totalBlogLength$ | async"
			[perPage]="8"
			(togglePageNumber)="togglePageBlogList($event)"
			[currentPage]="currentPage$ | async"></b2b-pagination>
	</div>
</div>
