<div class="block-wrapper">
	@if (!isAnalysisSection) {
		<h3 class="blog-section-title recommendations">
			Recommendations
		</h3>
	} @else {
		<a class="d-flex align-items-center article-section-header" [routerLink]="'/blog/analysis'">
			<h3 class="blog-section-title">
			Analysis
			</h3>

			<div class="article-section-header-icon-block">
				<svg-icon class="article-section-header-icon" src="assets/icons/arrow-right-2.svg"></svg-icon>
			</div>
		</a>
	}

	<div class="articles d-flex blog-lg-gap" [class.recommendations-articles]="!isAnalysisSection">
		@for (article of posts; track article._id) {
			<a class="article d-flex flex-column justify-between pointer w33 relative-full-block"
					[routerLink]="['/blog', (article?.path || article._id)]">
				<div>
					@if (article?.images?.length > 0) {
						<img
							class="article-image recommendations-image"
							b2bNgxImage
							[name]="article?.images[0]?.lg" alt="" />

					} @else {
						<svg-icon class="article-image recommendations-image" src="assets/icons/no-image-icon.svg"></svg-icon>
					}

					<a class="article-category-link">{{article?.typeArticle}}</a>

					<h3 class="article-title-in-section article-title">{{article.title}}</h3>
			 	</div>

				<span class="article-author-and-date"><a>{{ article?.authorId?.fullName }}</a> · {{ article.dateUpdate | date: 'MMM dd, yyyy' }}</span>

				<svg-icon class="hover-icon" src="assets/icons/blog/arrow-hover-right.svg"></svg-icon>
			</a>
		}
	</div>
</div>
