<div class="modal-wrapper">
	<div mat-dialog-actions>
		<!--  <button mat-button mat-dialog-close>×</button>-->
		<div mat-dialog-close class="close-btn">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
				<path
					d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9
     296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38
     412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75
     0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5
     45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0
     45.25l-105.4 105.4L310.6 361.4z" />
			</svg>
		</div>
	</div>

	<h1 mat-dialog-title>Add payment method</h1>
	<div mat-dialog-content>
		<form errorTailor [formGroup]="formGroup">
			<div class="input-container">
				<input
					b2bNgxInput
					[theme]="b2bNgxInputThemeEnum.BACKGROUND_GRAY"
					[label]="'LABELS.CARD_NUMBER' | translate"
					formControlName="cardNum" />
			</div>
			<!--			<p [@fadeInOut] class="error" *ngIf="formGroup.get('cardNum').touched &&  formGroup.get('cardNum').errors?.required">-->
			<!--				This field is required-->
			<!--			</p>-->
			<!--			<p [@fadeInOut] class="error" *ngIf="formGroup.get('cardNum').touched &&  formGroup.get('cardNum').errors?.number">-->
			<!--				Please use only numbers-->
			<!--			</p>-->
			<div class="input-container">
				<input
					b2bNgxInput
					[theme]="b2bNgxInputThemeEnum.BACKGROUND_GRAY"
					[label]="'LABELS.EMAIL' | translate"
					formControlName="email" />
			</div>
			<!--			<p [@fadeInOut] class="error" *ngIf="formGroup.get('email').touched &&  formGroup.get('email').errors?.required">-->
			<!--				This field is required-->
			<!--			</p>-->
			<!--			<p [@fadeInOut] class="error" *ngIf="formGroup.get('email').touched &&  formGroup.get('email').errors?.email">-->
			<!--				Please put correct email-->
			<!--			</p>-->
			<div class="inputs-container">
				<div class="input-container">
					<input
						b2bNgxInput
						[theme]="b2bNgxInputThemeEnum.BACKGROUND_GRAY"
						[label]="'LABELS.EXPIRED_DATE' | translate"
						formControlName="expDate" />
					<!--					<p [@fadeInOut] class="error" *ngIf="formGroup.ge'expDate').touched &&  formGroup.ge'expDate').errors?.required">-->
					<!--						This field is required-->
					<!--					</p>-->
					<!--					<p [@fadeInOut] class="error" *ngIf="formGroup.ge'expDate').touched &&  formGroup.ge'expDate').errors?.number">-->
					<!--						Please use only numbers-->
					<!--					</p>-->
				</div>
				<div class="input-container">
					<input
						b2bNgxInput
						[theme]="b2bNgxInputThemeEnum.BACKGROUND_GRAY"
						[label]="'LABELS.CVV' | translate"
						formControlName="cardCode" />
					<!--					<p [@fadeInOut] class="error" *ngIf="formGroup.ge'cardCode').touched &&  formGroup.ge'cardCode').errors?.required">-->
					<!--						This field is required-->
					<!--					</p>-->
					<!--					<p [@fadeInOut] class="error" *ngIf="formGroup.ge'cardCode').touched &&  formGroup.ge'cardCode').errors?.number">-->
					<!--						Please use only numbers-->
					<!--					</p>-->
				</div>
			</div>

			<div class="inputs-container">
				<div class="input-container">
					<b2b-ngx-country-select
						formControlName="state"
						[theme]="b2bNgxSelectnThemeEnum.BACKGROUND_GRAY"
						class="admin-article__country"
						placeholder="Select Country"></b2b-ngx-country-select>
					<!--					<p [@fadeInOut] class="error" *ngIf="formGroup.ge'country').touched &&  formGroup.ge'country').errors?.required">-->
					<!--						This field is required-->
					<!--					</p>-->
				</div>
				<div class="input-container">
					<input
						b2bNgxInput
						[theme]="b2bNgxInputThemeEnum.BACKGROUND_GRAY"
						[label]="'LABELS.CITY' | translate"
						formControlName="city" />
					<!--					<p [@fadeInOut] class="error" *ngIf="formGroup.ge'region').touched &&  formGroup.ge'region').errors?.required">-->
					<!--						This field is required-->
					<!--					</p>-->
					<!--					<p [@fadeInOut] class="error" *ngIf="formGroup.ge'region').touched &&  formGroup.ge'region').errors?.latin">-->
					<!--						Please use only latin-->
					<!--					</p>-->
				</div>
			</div>

			<div class="inputs-container">
				<div class="input-container">
					<input
						b2bNgxInput
						[theme]="b2bNgxInputThemeEnum.BACKGROUND_GRAY"
						[label]="'LABELS.POST_CODE' | translate"
						formControlName="postCode" />
					<!--					<p [@fadeInOut] class="error" *ngIf="formGroup.get('postCode').touched &&  formGroup.ge'postCode').errors?.required">-->
					<!--						This field is required-->
					<!--					</p>-->
					<!--					<p [@fadeInOut] class="error" *ngIf="formGroup.get('postCode').touched &&  formGroup.ge'postCode').errors?.number">-->
					<!--						Please use only numbers-->
					<!--					</p>-->
				</div>
				<div class="input-container">
					<input
						b2bNgxInput
						[theme]="b2bNgxInputThemeEnum.BACKGROUND_GRAY"
						[label]="'LABELS.ADRESS' | translate"
						formControlName="address" />
					<!--					<p [@fadeInOut] class="error" *ngIf="formGroup.get('city').touched &&  formGroup.get('city').errors?.required">-->
					<!--						This field is required-->
					<!--					</p>-->
					<!--					<p [@fadeInOut] class="error" *ngIf="formGroup.get('city').touched &&  formGroup.get('city').errors?.latin">-->
					<!--						Please use only latin-->
					<!--					</p>-->
				</div>
			</div>

			<button
				(click)="submit(formGroup)"
				[mat-dialog-close]="formGroup.status === 'VALID'"
				b2bNgxButton
				class="save"
				[theme]="b2bNgxButtonThemeEnum.BACKGROUND_BLACK">
				Save
			</button>
		</form>
	</div>
</div>
