<div *ngIf="(loading$ | async) === false">
	<ul *ngIf="marketplaceProducts?.length; else noMarketplaceProducts" class="marketplace-grid">
		<div *ngFor="let product of marketplaceProducts" class="grid-item">
			<b2b-client-marketplace-product-item [product]="product"> </b2b-client-marketplace-product-item>
		</div>
	</ul>
	<ng-template #noMarketplaceProducts> No products with that filters. </ng-template>
</div>

<b2b-ngx-skeleton *ngIf="loading$ | async" [option]="marketplaceSkeletonOptions"></b2b-ngx-skeleton>
