@if (marketplaceProducts?.length) {
	<div class="marketplace-grid" [class.grid-between]="classGridBetween">
		@if (currentView$ | async; as currentView) {
			@switch (currentView) {
				@case ('mobile') {
					@if (marketplaceProducts?.length) {
						@for (item of mobileMarketplaceProducts; track $index) {
							@if (item === 'divider') {
								<b2b-client-marketplace-banner
									*ngIf="showBanner"
									[siteSection]="siteSections.B2B_MARKET"
									class="divider"></b2b-client-marketplace-banner>
							} @else {
								<b2b-client-marketplace-product-item
									[isListing]="showBanner"
									[product]="item"></b2b-client-marketplace-product-item>
							}
						}
					} @else {
						<b2b-no-products></b2b-no-products>
					}
				}
				@case ('tablet') {
					@if (marketplaceProducts?.length) {
						@for (item of tabletMarketplaceProducts; track $index) {
							@if (item === 'divider') {
								<b2b-client-marketplace-banner
									*ngIf="showBanner"
									[siteSection]="siteSections.B2B_MARKET"
									class="divider"></b2b-client-marketplace-banner>
							} @else {
								<b2b-client-marketplace-product-item
									[isListing]="showBanner"
									[product]="item"></b2b-client-marketplace-product-item>
							}
						}
					} @else {
						<b2b-no-products></b2b-no-products>
					}
				}
				@case ('desktop') {
					@if (marketplaceProducts?.length) {
						@for (item of desktopMarketplaceProducts; track $index) {
							@if (item === 'divider') {
								<b2b-client-marketplace-banner
									*ngIf="showBanner"
									[siteSection]="siteSections.B2B_MARKET"
									class="divider"></b2b-client-marketplace-banner>
							} @else {
								<b2b-client-marketplace-product-item
									[isListing]="showBanner"
									[product]="item"></b2b-client-marketplace-product-item>
							}
						}
					} @else {
						<b2b-no-products></b2b-no-products>
					}
				}
			}
		}
	</div>
} @else {
	<b2b-no-products></b2b-no-products>
}

@if (loading$ | async) {
	<b2b-ngx-skeleton
		[option]="marketplaceSkeletonOptions"></b2b-ngx-skeleton>
}

