@import 'projects/shared/src/styles';

.marketplace-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, 236px);

	&.grid-between {
		justify-content: space-between;
	}
	@include breakpoint('3') {
		padding: 0 15px;
		justify-content: center;
	}
	gap: 15px;
}

.marketplace-grid .grid-item {
	margin-bottom: 15px;
	position: relative;
}

.marketplace-grid .divider {
	grid-column: span 4;
}

@media (max-width: 1516px) {
	.marketplace-grid .divider {
		grid-column: span 3;
	}
}

@media (max-width: 1311px) {
	.marketplace-grid {
		grid-column: span 3;
	}

	.marketplace-grid .divider {
		grid-column: span 3;
	}
}

@media (max-width: 1087px) {
	.marketplace-grid {
		grid-column: span 2;
	}

	.marketplace-grid .divider {
		grid-column: span 2;
	}
}
@media (max-width: 889px) {
	.marketplace-grid .divider {
		grid-column: span 3;
	}
}
@media (max-width: 808px) {
	.marketplace-grid {
		grid-column: span 2;
	}

	.marketplace-grid .divider {
		grid-column: span 2;
	}
}
@media (max-width: 557px) {
	.marketplace-grid {
		grid-column: span 2;
		gap: 10px;
		grid-template-columns: repeat(auto-fill, 162px);
	}


	.marketplace-grid .divider {
		grid-column: span 2;

		.grid-item {
			margin-bottom: 15px;
			width: 162px;
			@include breakpoint('1') {
				margin-bottom: 0;
			}
		}
	}
}
