<div class="component">
	<div class="title">Become a supplier on the B2B Market</div>
	<div class="subtitle">Sell your product among</div>

	<section class="counters">
		<h3 #counter class="counter">{{totalUsersCount$ | async}}</h3>
	</section>

	<div class="subtext">traders registered on our platform</div>

	<div class="advertise">
		<span routerLink="/market-promo" class="link">Here</span> you can find out what benefits and promotions B2B Market suppliers receive
	</div>

	<button
		[routerLink]="userIsLogged ? '/profile/your-workspace/b2bmarket' : '/auth/register-credentials'"
		class="button"
		b2bNgxButton
		[theme]="b2bNgxButtonThemeEnum.BACKGROUND_BLACK">Apply as a supplier</button>
</div>
