<div class="logistic">
	<div class="logistic__wrapper">
		<div class="logistic__search">
			<b2b-logistic-search></b2b-logistic-search>
		</div>
		<div class="logistic__body">
			<div class="logistic__filter">
				<b2b-listing-filter></b2b-listing-filter>
			</div>
			<div class="logistic__listing">
				<b2b-logistic-order
					*ngFor="let order of logisticOrders"
					[order]="order"
					(sendRequest)="onSendRequest($event)"></b2b-logistic-order>
				<b2b-logistic-stub></b2b-logistic-stub>
			</div>
		</div>
	</div>
</div>
