<div class="upgrade-plan">
	<p class="title">Choose a plan which right for you</p>
	<p class="description">
		For the purpose of industry regulation, your details are required.
	</p>

	<div class="card">
		<p class="plan">
			<span class="plan-name">Buyer</span>
			<span class="plan-price">
				<span class="plan-currency">588$</span>
				<span class="plan-period">/ year</span>
			</span>
		</p>
		<p class="plan-description">
			Personal account to manage all you activities.
		</p>

		<button
			b2bNgxButton
			class="buy"
			[theme]="b2bNgxButtonThemeEnum.BACKGROUND_BLUE"
			(click)="navigationToAnnualPayment()">
			Buy
		</button>

		<ul class="list">
			<li>
				<img b2bNgxIcon name="check-blue" alt="" />
				<span>Place unlimited bids for cargo sale</span>
			</li>
			<li>
				<img b2bNgxIcon name="check-blue" alt="" />
				<span>Get legal consultation on cargo sale 24/7</span>
			</li>
			<li>
				<img b2bNgxIcon name="check-blue" alt="" />
				<span>Get technical support 24/7</span>
			</li>
			<li>
				<img b2bNgxIcon name="check-blue" alt="" />
				<span>Review cargo sale offers at a discount</span>
			</li>
			<li>
				<img b2bNgxIcon name="check-blue" alt="" />
				<span
					>Get access to all information disclosed by the seller, including
					seller’s phone number/email, and any extra photos/documents</span
				>
			</li>
			<li>
				<img b2bNgxIcon name="check-blue" alt="" />
				<span>Buy your preferred cargo at a discount</span>
			</li>
			<li>
				<img b2bNgxIcon name="check-blue" alt="" />
				<span
					>Subscribe to newsletter to receive updates on your preferred
					goods</span
				>
			</li>
			<li>
				<img b2bNgxIcon name="check-blue" alt="" />
				<span>Get legal consultation on purchase 24/7</span>
			</li>
		</ul>
	</div>
</div>
