<div class="wrapper">
	<h1 class="title uppercase">{{ title }}</h1>

	<div class="articles d-flex flex-wrap blog-lg-gap mt-3">
		@for (article of articles; track article._id) {
			<a class="article w33 d-flex flex-column justify-between pointer relative-full-block"
				 [routerLink]="['/blog', (article?.path || article._id)]">
				<div>
					@if (article?.images?.length > 0) {
						<img
							class="article-image"
							b2bNgxImage
							[name]="article?.images[0]?.lg" alt="" />

					} @else {
						<svg-icon class="article-image" src="assets/icons/no-image-icon.svg"></svg-icon>
					}

					<a class="article-category-link">{{ article.typeArticle }}</a>

					<h3 class="article-title-in-section article-title">{{ article.title }}</h3>
				</div>

				<div class="d-flex align-items-center">
<!--					@if (!isRecentlyPublished) {-->
<!--						@if (article?.authorId?.photo) {-->
<!--							<img class="author-img mr-7" b2bNgxImage [name]="article?.authorId?.photo?.sm" alt="" width="32" height="32">-->
<!--						} @else {-->
<!--							<svg-icon class="author-img" src="/assets/icons/user.svg"></svg-icon>-->
<!--						}-->
<!--					}-->

					<span
						class="article-author-and-date"><a>{{ article?.authorId?.fullName }}</a> · {{ article.updatedAt | date: 'MMM dd, yyyy' }}</span>
				</div>

				<svg-icon class="hover-icon" src="assets/icons/blog/arrow-hover-right.svg"></svg-icon>
			</a>
		}
	</div>
</div>
