<div class="add-payment-method">
	<p class="title" *ngIf="!data">Add payment method</p>
	<p class="title" *ngIf="data">Edit payment method</p>

	<form errorTailor (ngSubmit)="submit()" [formGroup]="formGroup">
		<div class="input-container">
			<input
				b2bNgxInput
				[theme]="b2bNgxInputThemeEnum.BACKGROUND_GRAY"
				[label]="'LABELS.CARD_NUMBER' | translate"
				formControlName="cardNum" />
		</div>
		<p
			[@fadeInOut]
			class="error"
			*ngIf="
				formGroup.get('cardNum').touched &&
				formGroup.get('cardNum').errors?.['required']
			">
			This field is required
		</p>
		<p
			[@fadeInOut]
			class="error"
			*ngIf="
				formGroup.get('cardNum').touched &&
				formGroup.get('cardNum').errors?.['number']
			">
			Please use only numbers
		</p>
		<div class="input-container" *ngIf="!data">
			<input
				b2bNgxInput
				[theme]="b2bNgxInputThemeEnum.BACKGROUND_GRAY"
				[label]="'LABELS.EMAIL' | translate"
				formControlName="email" />
		</div>
		<p
			[@fadeInOut]
			class="error"
			*ngIf="
				formGroup.get('email').touched &&
				formGroup.get('email').errors?.['required']
			">
			This field is required
		</p>
		<p
			[@fadeInOut]
			class="error"
			*ngIf="
				formGroup.get('email').touched &&
				formGroup.get('email').errors?.['email']
			">
			Please put correct email
		</p>
		<div class="inputs-container">
			<div class="input-container" *ngIf="!data">
				<input
					b2bNgxInput
					[theme]="b2bNgxInputThemeEnum.BACKGROUND_GRAY"
					[label]="'LABELS.EXPIRED_DATE' | translate"
					formControlName="expDate" />
				<p
					[@fadeInOut]
					class="error"
					*ngIf="
						formGroup.get('expDate').touched &&
						formGroup.get('expDate').errors?.['required']
					">
					This field is required
				</p>
				<p
					[@fadeInOut]
					class="error"
					*ngIf="
						formGroup.get('expDate').touched &&
						formGroup.get('expDate').errors?.['number']
					">
					Please use only numbers
				</p>
			</div>
			<div class="input-container">
				<input
					b2bNgxInput
					[theme]="b2bNgxInputThemeEnum.BACKGROUND_GRAY"
					[label]="'LABELS.CVV' | translate"
					formControlName="cardCode" />
				<p
					[@fadeInOut]
					class="error"
					*ngIf="
						formGroup.get('cardCode').touched &&
						formGroup.get('cardCode').errors?.['required']
					">
					This field is required
				</p>
				<p
					[@fadeInOut]
					class="error"
					*ngIf="
						formGroup.get('cardCode').touched &&
						formGroup.get('cardCode').errors?.['number']
					">
					Please use only numbers
				</p>
			</div>
		</div>

		<div class="inputs-container">
			<div class="input-container" *ngIf="!data">
				<b2b-ngx-country-select
					formControlName="country"
					[theme]="b2bNgxSelectnThemeEnum.BACKGROUND_GRAY"
					class="admin-article__country"
					placeholder="Select Country"></b2b-ngx-country-select>
				<p
					[@fadeInOut]
					class="error"
					*ngIf="
						formGroup.get('country').touched &&
						formGroup.get('country').errors?.['required']
					">
					This field is required
				</p>
			</div>
			<div class="input-container">
				<input
					b2bNgxInput
					[theme]="b2bNgxInputThemeEnum.BACKGROUND_GRAY"
					[label]="'LABELS.REGION' | translate"
					formControlName="region" />
				<p
					[@fadeInOut]
					class="error"
					*ngIf="
						formGroup.get('region').touched &&
						formGroup.get('region').errors?.['required']
					">
					This field is required
				</p>
				<p
					[@fadeInOut]
					class="error"
					*ngIf="
						formGroup.get('region').touched &&
						formGroup.get('region').errors?.['latin']
					">
					Please use only latin
				</p>
			</div>
		</div>

		<div class="inputs-container">
			<div class="input-container" *ngIf="!data">
				<input
					b2bNgxInput
					[theme]="b2bNgxInputThemeEnum.BACKGROUND_GRAY"
					[label]="'LABELS.POST_CODE' | translate"
					formControlName="postCode" />
				<p
					[@fadeInOut]
					class="error"
					*ngIf="
						formGroup.get('postCode').touched &&
						formGroup.get('postCode').errors?.['required']
					">
					This field is required
				</p>
				<p
					[@fadeInOut]
					class="error"
					*ngIf="
						formGroup.get('postCode').touched &&
						formGroup.get('postCode').errors?.['number']
					">
					Please use only numbers
				</p>
			</div>
			<div class="input-container">
				<input
					b2bNgxInput
					[theme]="b2bNgxInputThemeEnum.BACKGROUND_GRAY"
					[label]="'LABELS.CITY' | translate"
					formControlName="city" />
				<p
					[@fadeInOut]
					class="error"
					*ngIf="
						formGroup.get('city').touched &&
						formGroup.get('city').errors?.['required']
					">
					This field is required
				</p>
				<p
					[@fadeInOut]
					class="error"
					*ngIf="
						formGroup.get('city').touched &&
						formGroup.get('city').errors?.['latin']
					">
					Please use only latin
				</p>
			</div>
		</div>

		<button
			b2bNgxButton
			class="save"
			[theme]="b2bNgxButtonThemeEnum.BACKGROUND_BLACK">
			Save
		</button>
	</form>
</div>
