@import 'projects/shared/src/styles';

:host {
	.products {
		padding: 48px 0;
		border-top: 1px solid #d9d9d9;
		&__title {
			color: #000;
			font-size: 20px;
			font-weight: 600;
			line-height: 134%;
			letter-spacing: 0.2px;
		}
		&__list {
			display: flex;
			gap: 24px;
			margin-top: 21px;
			overflow: auto;
			@media (max-width: 992px) {
				padding-bottom: 20px;
			}
		}
		&__item {
			width: 142px;
			&:hover {
				.products__item-name {
					color: #005DFF;
				}
			}
			img {
				width: 142px;
				height: 142px;
				object-fit: cover;
				border-radius: 4px;
				overflow: hidden;
			}
			&-name {
				line-height: 18px;
				font-size: 15px;
				font-weight: 600;
				margin-top: 8px;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				width: 142px;
				transition: .3s color;
			}
		}
		&__view-all {
			border-radius: 4px;
			background: #eee;
			padding: 7px 22px;
			display: flex;
			align-items: center;
			margin-top: 17px;
			width: 120px;
			cursor: pointer;
		}
	}
}
