@import "projects/shared/src/styles";

:host {
	.company-products {
		padding-top: 20px;
		.pagination {
			display: flex;
			justify-content: center;
			margin-bottom: 10px;
		}
	}


}

:host::ng-deep {
	.marketplace-grid {
		grid-template-columns: repeat(3,30%) !important;
		justify-content: center !important;
	}
	@include breakpoint("2") {
		.marketplace-grid {
			grid-template-columns: repeat(2,45%) !important;
		}
	}
	@include breakpoint("1") {
		.marketplace-grid {
			grid-template-columns: repeat(1,80%) !important;
		}
	}
}
