.tool {
	position: fixed;
	transform: translateX(-50%);
	z-index: 27362732738;
	padding-top: 15px;
	&.profile {
		padding-top: 25px;
		.polygon {
			left: 73%;
		}
	}
	&.sourcingRequest {
		padding-top: 30px;
		.polygon {
			left: 25%;
		}
	}
}
.wrapper {
	border-radius: 14px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
	background: #ffffff;
	position: relative;
	.polygon {
		position: absolute;
		top: -13px;
		left: calc(65% - 5px);
	}
	//&::before {
	//	content: '';
	//	width: 0;
	//	height: 0;
	//	border-left: 15px solid transparent;
	//	border-right: 15px solid transparent;
	//	border-bottom: 30px solid white;
	//	position: absolute;
	//	left: calc(65% - 5px);
	//	top: -2px;
	//}
}
