@import 'projects/shared/src/styles';

.content {
	width: 100%;
	position: relative;
	border-radius: 14px;

	.cross-icon {
		position: absolute;
		right: 16px;
	}

	.supplier-info {
		padding-left: 64px;
		padding-right: 65px;

		@include breakpoint('3') {
			padding-left: 30px;
			padding-right: 30px;
		}

		@include breakpoint('2') {
			padding-left: 10px;
			padding-right: 10px;
		}

		&__title {
			font-size: 18px;
			color: #000;
			font-weight: 700;
			margin-bottom: 8px;
		}

		&__content {
			width: 100%;
			border-radius: 14px;
			background: #f3f6f8;
			padding-left: 16px;
			padding-top: 8px;
			padding-bottom: 8px;
			margin-bottom: 16px;

			&__company-info {
				font-size: 16px;
				font-weight: 700;
				color: #0f0f11;
				margin-bottom: 8px;
			}

			&__suppliers-type {
				margin-bottom: 8px;
			}

			&__country {
				display: flex;
				font-size: 14px;
				font-weight: 400;
				color: #0f0f11;
			}

			&__text {
				margin-left: 8px;
				font-size: 14px;
				font-weight: 400;
				color: #000;
				margin-bottom: -3px;
			}
		}

		&__base-form {
			.supplier-info__requirements {
				&__text {
					margin-top: 16px;
					color: #000;
					font-size: 14px;
					font-weight: 400;
				}

				&__textarea {
					border-radius: 14px;
					margin-bottom: 8px;

					&::placeholder {
						opacity: 0.5;
					}
				}
			}
		}

		.supplier-info__more-bids__wrapper {
			padding-top: 12px;
		}

		.supplier-info__more-bids {
			color: #000000;
			@include breakpoint('2') {
				margin-top: 5px;
			}
		}

		.supplier-info__btn {
			width: 113px;
			height: 48px;
			display: block;
			margin: 32px auto 0;
			border-radius: 8px;
		}

		.supplier-info__expanded-form {
			display: flex;
			flex-wrap: wrap;
			margin-top: 16px;

			.supplier-info__budget-range {
				width: 50%;
				margin-bottom: 16px;
				padding-right: 8px;

				@include breakpoint('2') {
					width: 100%;
					padding-right: 0px;
				}

				&__text {
					color: #0f0f11;
				}
			}

			.supplier-info__delivery-location {
				width: 50%;
				margin-bottom: 16px;
				padding-left: 8px;

				@include breakpoint('2') {
					width: 100%;
					padding-left: 0px;
				}

				&__text {
					color: #0f0f11;
				}
			}

			.supplier-info__terms-of-delivery {
				width: 50%;
				padding-right: 8px;

				@include breakpoint('2') {
					width: 100%;
					padding-right: 0px;
					margin-bottom: 16px;
				}

				input[type='number']::-webkit-inner-spin-button,
				input[type='number']::-webkit-outer-spin-button {
					-webkit-appearance: none;
					margin: 0;
				}

				&__text,
				.amount-label {
					color: #0f0f11;
				}

				.amount-label {
					font-size: 14px;
					line-height: 20px;
					margin-bottom: 6px;
				}
			}

			.supplier-info__terms-of-delivery-2 {
				width: 50%;
				padding-left: 8px;

				@include breakpoint('2') {
					width: 100%;
					padding-left: 0px;
				}

				&__text {
					color: #0f0f11;
				}
			}
		}
	}
}

:host::ng-deep {
	.supplier-info__more-bids__checkbox {
		width: 16px !important;
		height: 16px !important;
		border-width: 1px !important;
		border-radius: 4px !important;
		top: 2px !important;
	}

	textarea.supplier-info__requirements__textarea.b2b-ngx-textarea.background.background-gray {
		color: #000;
	}

	input.supplier-info__terms-of-delivery-2__text.b2b-ngx-input {
		color: #000;
	}
}
