@import "projects/shared/src/styles";

:host {
	.login {
		display: flex;
		justify-content: center;
		padding: 40px 0;
		@include breakpoint("3") {
			padding: 40px;
			gap: 20px;
			flex-direction: column;
			padding-top: 15px;
		}
		.go-back {
			width: 20%;

			@include breakpoint("4") {
				width: 15%;
			}
			@include breakpoint("3") {
				width: 30%;
			}
		}
		.other-page-link {
			width: 20%;
			text-align: right;
			@include breakpoint("4") {
				width: 25%;
			}
			@include breakpoint("3") {
				width: 100%;
				text-align: center;
			}
			.auth-log-in__header-text {
				color: $color-gray-200;
				font-size: 1rem;
			}
			.auth-log-in__header-link {
				margin-left: 0.25rem;
			}
		}

		.go-back {
			text-align: center;
		}

		.body {
			width: 35%;
			@include breakpoint("4") {
				width: 45%;
			}

			.title {
				text-align: center;
				font-weight: bold;
				color: $color-gray-900;
				font-size: 2rem;
				@include breakpoint("4") {
					font-size: 1.5rem;
				}
			}

			.auth-log-in__main-form {
				margin-top: 2.8rem;
				padding: 40px 50px;
				box-shadow: -4px -4px 8px #e5f2fd, 4px 4px 8px #e5f2fd;
				border-radius: 10px;
				@include breakpoint("3") {
					margin-top: 20px;
				}
				@include breakpoint("2") {
					padding: 0;
				}
				.form-title,
				.form-subtitle {
					line-height: 134%;
					text-align: center;
					letter-spacing: 0.01em;
					color: #000000;
				}
				.form-title {
					font-weight: 700;
					font-size: 18px;
				}
				.form-subtitle {
					font-weight: 300;
					font-size: 14px;
					margin-top: 5px;
					margin-bottom: 15px;
				}
				.auth-log-in__main-label {
					display: block;
					font-size: 1rem;
					color: $color-gray-200;
					margin-top: 1rem;
				}
				.auth-log-in__main-input {
					display: block;
					width: 100%;
					margin-top: 16px;
				}
				.auth-log-in__main-error {
					display: block;
					margin-top: 0.25rem;
					color: $color-gray-200;
					font-size: 0.85rem;
				}
				.control-wrapper {
					margin-top: 16px;
				}
				.auth-log-in__main-link {
					width: 100%;
					display: block;
					text-align: right;
					margin-top: 0.375rem;
					color: $color-gray-200;
				}
				.auth-log-in__main-divider {
					margin-top: 1.5rem;
				}
				.auth-log-in__log-in-button,
				.auth-log-in__log-in-with-google-button {
					width: 100%;
					padding: 1rem 0;
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 12px;
					&.auth-log-in__log-in-button {
						margin-top: 1.5rem;
					}
					&.auth-log-in__log-in-with-google-button {
						margin-top: 0.5rem;
					}
					&__icon {
						width: 24px;
						height: 24px;
					}
				}
			}

			@include breakpoint("3") {
				width: 100%;
				.auth-log-in__main-form {
					box-shadow: none;
				}
			}
		}
	}
}
