<div class="login">
	<div class="go-back"></div>
	<div class="body">
		<div class="title">Login</div>
		<div class="auth-log-in__main-form">
			<div class="form-title">We connect traders globally.</div>
			<div class="form-subtitle">
				The B2B platform for wholesale sellers and buyers on the global market.
			</div>
			<button
				b2bNgxButton
				type="button"
				[theme]="b2bNgxButtonThemeEnum.BACKGROUND_WHITE"
				class="auth-log-in__log-in-with-google-button"
				(click)="logInWithGoogle()">
				<img
					b2bNgxImage
					name="google"
					ngSrc="assets/images/google.webp"
					class="auth-log-in__log-in-with-google-button__icon"
					height="96"
					width="96" />
				{{ 'AUTH.LOG_IN_GOOGLE' | translate }}
			</button>
			<button
				b2bNgxButton
				type="button"
				[theme]="b2bNgxButtonThemeEnum.BACKGROUND_WHITE"
				class="auth-log-in__log-in-with-google-button"
				(click)="logInWithLinkedIn()">
				<img
					b2bNgxImage
					name="linkedin"
					ngSrc="assets/images/linkedin.webp"
					class="auth-log-in__log-in-with-google-button__icon"
					height="512"
					width="512" />
				{{ 'AUTH.LOG_IN_LINKEDIN' | translate }}
			</button>
			<b2b-ngx-divider theme="white" class="auth-log-in__main-divider"
				>or
			</b2b-ngx-divider>
			<form
				errorTailor
				[formGroup]="formGroup"
				(ngSubmit)="logInWithForm(formGroup)">
				<input
					b2bNgxInput
					type="email"
					[theme]="b2bNgxInputThemeEnum.BACKGROUND_GRAY"
					[label]="'LABELS.EMAIL' | translate"
					labelClass="auth-log-in__main-input"
					formControlName="email"
					[placeholder]="'PLACEHOLDERS.YOUR_EMAIL' | translate" />

				<div class="control-wrapper">
					<b2b-ngx-password
						[hidePasswordErrors]="true"
						[errors]="formState['password'].errors"
						formControlName="password">
					</b2b-ngx-password>
				</div>

				<button
					class="auth-log-in__main-link"
					type="button"
					(click)="openResetPasswordModal()">
					{{ 'AUTH.RESET_PASSWORD' | translate }}
				</button>

				<button
					b2bNgxButton
					[theme]="b2bNgxButtonThemeEnum.BACKGROUND_BLACK"
					[disabled]="formGroup.invalid"
					class="auth-log-in__log-in-button"
					type="submit">
					{{ 'AUTH.LOG_IN' | translate }}
				</button>
			</form>
		</div>
	</div>
	<div class="other-page-link">
		<p class="auth-log-in__header-text-wrapper">
			<span class="auth-log-in__header-text">{{
				'AUTH.NOT_REGISTERED_YET' | translate
			}}</span>
			<a
				b2bNgxLink
				[theme]="b2bNgxLinkThemeEnum.TEXT_BLUE"
				[routerLink]="
					b2bNgxLinkService.getLink('/auth/register-credentials') | async
				"
				class="auth-log-in__header-link"
				queryParamsHandling="merge"
				(click)="registrationLink()"
				>{{ 'AUTH.REGISTRATION' | translate }}</a
			>
		</p>
	</div>
</div>
