@import "projects/shared/src/styles";

.latest-offers-no-offers {
	padding: 50px;
	text-align: center;

	.latest-offers-no-offers-title {
		font-weight: bold;
		font-size: 16px;
		color: #0f0f11;
	}
}

.promo-section {
	background-color: $color-gray-100;
	padding: 1.25rem 99px;
	overflow: hidden;

	@include breakpoint("3") {
		padding: 1.25rem 39px;
	}
	@include breakpoint("2") {
		padding: 1.25rem 0;
	}

	.promo-content {
		background: #FFFFFF;
		position: relative;
		border-radius: 4px;
		padding-bottom: 20px;

		.icon-left,
		.icon-right {
			max-height: 100%;
			top: 0;
			position: absolute;
		}

		.icon-left {
			left: 0;
		}

		.icon-right {
			right: 0;
		}

		.promo-content-title {
			width: 90%;
			display: flex;
			margin: auto;
			padding-top: 15px;
			justify-content: center;
			@include breakpoint("2") {
				width: 100%;
			}
			span {
				font-weight: 700;
				font-size: 24px;
				line-height: 134%;
				z-index: 10;
				text-align: center;
				@include breakpoint("2") {
					font-size: 20px;
				}
				@include breakpoint("1") {
					font-size: 16px;
					margin-top: 0;
				}
			}
		}

		.main-text {
			margin-top: 24px;
			display: flex;
			justify-content: center;
			gap: 20px;
			transition: 2s all;
			overflow: hidden;
			@include breakpoint("2") {
				flex-direction: column;
				padding: 0 20px;
			}
			@include breakpoint("1") {
				margin-top: 10px;
			}

			li {
				width: 45%;
				color: #556274;
				z-index: 10;
				font-weight: 100;
				height: auto;
				overflow: hidden;
				&:first-child {
					p:first-child {
						margin-bottom: 10px;
					}
				}

				@include breakpoint("2") {
					width: 100%;
					.hidden-text-mobile {
						display: none;
					}
				}

				@include breakpoint("1") {
					color: black;
				}

				.advertise-title {
					margin-top: 15px;
					font-weight: 700;
					color: #000;
					font-size: 16px;
					@include breakpoint("1") {
						margin-top: 0;
					}
				}

				.cargo-link {
					margin-top: 15px;
					font-weight: 700;
					font-size: 16px;
					color: #005dff;
					text-decoration: underline;
					cursor: pointer;
					transition: 0.2s all;

					&:hover {
						transform: translateY(-2px);
					}
				}

				.market-promo {
					margin-top: 15px;

					.market-link {
						font-weight: 700;
						color: #005dff;
						cursor: pointer;
						transition: 0.2s all;

						&:hover {
							transform: translateY(-2px);
						}
					}
				}
			}
		}

		.toggle-state-button {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 20px;
			cursor: pointer;
			gap: 10px;
			transition: 0.2s all;

			.text,
			img {
				z-index: 10;
				transition: 0.2s all;
			}

			&:hover {
				transform: translateY(-1px);
			}

			.rotated-img {
				transform: rotate(-180deg);
			}
		}
	}
}

.latest-offers {
	background-color: $color-gray-100;

	.latest-offers-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1.25rem 99px;
		border-bottom: 1px solid #e3eaf1;
		@include breakpoint("3") {
			flex-direction: column;
			padding: 1.25rem 18px;
		}

		.latest-offers-header-title {
			font-weight: bold;
			font-size: 24px;
			line-height: 134%;
			color: #0f0f11;
			display: flex;
			justify-content: space-between;

			.latest-offers-header-icon {
				display: none;
			}

			@include breakpoint("3") {
				width: 100%;
				.latest-offers-header-icon {
					display: block;
				}
			}
		}

		.latest-offers-header-search {
			width: 40%;
			display: block;
			@include breakpoint("3") {
				width: 100%;
				margin-top: 24px;
			}
		}

		.latest-offers-header-filters {
			display: flex;
			align-items: center;

			.latest-offers-header-display-type {
			}

			.latest-offers-header-show-filter,
			.latest-offers-header-sort-filter {
				display: flex;
				align-items: center;
			}

			@include breakpoint("3") {
				.latest-offers-header-display-type {
					display: none;
				}
			}
		}
	}

	.latest-offers-main {
		display: flex;
		padding-left: 99px;

		@include breakpoint("3") {
			padding: 0;
		}

		.latest-offers-main-filters {
			width: 204px;
			padding-top: 24px;
			padding-right: 24px;
			border-right: 1px solid #e3eaf1;
			@include breakpoint("4") {
				display: none;
				padding-left: 24px;
			}

			.latest-offers-main-filter {
				display: block;
				margin-top: 0.5rem;
			}

			.latest-offers-main-clear-filters {
				padding: 15px 0;
				width: 100%;
				margin-top: 8px;
			}
		}

		.latest-offers-main-list {
			flex: 1;
			padding: 24px 99px 24px 24px;
			@include breakpoint("4") {
				padding-right: 24px;
			}
			@include breakpoint("1") {
				padding: 0;
			}
		}
	}

	.laster-offes-upgrade-to-see-more {
		position: relative;
		display: flex;
		justify-content: center;

		margin-top: 50px;

		.laster-offes-upgrade-to-see-more-button {
			padding: 15px 43px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 4px;

			.laster-offes-upgrade-to-see-more-text {
				font-weight: 500;
				font-size: 14px;
				text-align: center;
				color: #ffffff;
				text-shadow: 0 0 0.5px rgba(0, 0, 0, 0.25);
				margin-left: 8px;
			}
		}
	}

	.view-all-offers {
		margin-top: 15px;
		padding: 10px 50px;
	}
}
