<div
	*ngIf="order && activeDeliveryType$ | async as activeDeliveryType"
	class="order">
	<div class="order__info">
		<div class="order__header">
			<div class="order__icon {{ activeDeliveryType }}">
				<svg-icon
					[src]="
						'/assets/icons/logistic/' +
						getOrderTransportIcon(activeDeliveryType, true)
					"></svg-icon>
			</div>
			<div class="order__transportName">
				{{ order.seaLine ?? 'To be nominated' }}
			</div>
		</div>
		<div class="order__way">
			<div class="order__way-header">
				<svg-icon
					class="order__way-icon"
					[src]="
						'/assets/icons/logistic/' +
						getOrderTransportIcon(activeDeliveryType)
					"></svg-icon>
				<div class="order__way-title">
					{{
						activeDeliveryType === 'sea'
							? order.portFrom.name
							: order.cityFrom.name
					}}
				</div>
				<div class="order__way-title">
					{{
						activeDeliveryType === 'sea' ? order.portTo.name : order.cityTo.name
					}}
				</div>
			</div>
			<div class="order__way-road {{ activeDeliveryType }}"></div>
		</div>
	</div>
	<div class="order__price">
		<div class="order__price-valid">
			<div class="title">Valid</div>
			<div class="date">{{ order.validDateTo | date: 'dd/MM/yyyy' }}</div>
		</div>
		<button
			b2bNgxButton
			[theme]="b2bNgxButtonThemeEnum.BACKGROUND_BLUE"
			class="request-btn"
			(click)="sendRequestToCompany()">
			<div class="btn-text">
				<span>{{
					activeDeliveryType === 'sea'
						? (orderPrice$ | async) + ' ' + order.currency
						: order.price * (airState$ | async)?.containerWeight + ' USD'
				}}</span>
				<span>Request</span>
			</div>
		</button>
	</div>
</div>
