<b2b-blog-header-menu>
</b2b-blog-header-menu>

<router-outlet></router-outlet>
<!--<h1 class="d-none">Blog</h1>-->
<!--<form [formGroup]="formGroup" class="wiki">-->
<!--	&lt;!&ndash;	<div class="wiki-header">&ndash;&gt;-->
<!--	&lt;!&ndash;		<h3 class="wiki-header-title">&ndash;&gt;-->
<!--	&lt;!&ndash;			<span class="wiki-header-title-text">{{ "BLOG.TITLE") }}</span>&ndash;&gt;-->
<!--	&lt;!&ndash;			<span class="wiki-header-icon"></span>&ndash;&gt;-->
<!--	&lt;!&ndash;		</h3>&ndash;&gt;-->
<!--	&lt;!&ndash;		<input&ndash;&gt;-->
<!--	&lt;!&ndash;			b2bNgxInput&ndash;&gt;-->
<!--	&lt;!&ndash;			formControlName="q"&ndash;&gt;-->
<!--	&lt;!&ndash;			[theme]="b2bNgxInputThemeEnum.BACKGROUND_WHITE"&ndash;&gt;-->
<!--	&lt;!&ndash;			class="wiki-header-search"&ndash;&gt;-->
<!--	&lt;!&ndash;			[placeholder]="'PLACEHOLDERS.SEARCH')"/>&ndash;&gt;-->
<!--	&lt;!&ndash;		<div class="wiki-header__social-medias"></div>&ndash;&gt;-->
<!--	&lt;!&ndash;	</div>&ndash;&gt;-->

<!--	<div class="wiki-main">-->
<!--		<div class="wiki-main-list">-->
<!--			<ng-container *ngIf="articles$ | async as articles; else noArticles">-->
<!--				<ng-container *ngIf="articles.length; else noArticles">-->
<!--					<b2b-client-blog-list></b2b-client-blog-list>-->

<!--					<b2b-pagination-->
<!--						[length]="totalBlogLength$ | async"-->
<!--						[perPage]="7"-->
<!--						(togglePageNumber)="togglePageBlogList($event)"-->
<!--						[currentPage]="currentPage$ | async"></b2b-pagination>-->
<!--				</ng-container>-->
<!--			</ng-container>-->

<!--			<ng-template #noArticles>-->
<!--				<div class="wiki-no-articles" *ngIf="!loading">-->
<!--					<p class="wiki-no-articles-title">-->
<!--						{{ 'BLOG.NO_ARTICLES' | translate }}-->
<!--					</p>-->
<!--				</div>-->
<!--			</ng-template>-->

<!--			<ng-container *ngIf="loading">-->
<!--				<b2b-ngx-skeleton [option]="articlesSkeletonOptions"></b2b-ngx-skeleton>-->
<!--			</ng-container>-->
<!--		</div>-->
<!--		&lt;!&ndash; <div class="wiki-main-filters">-->
<!--			<p class="wiki-main-filters__title">{{ "TRADING_WIKI.FILTERS") }}</p>-->
<!--			<b2b-ngx-treeview-->
<!--				formControlName="categories[]"-->
<!--				[items]="categories$ | async"-->
<!--				class="wiki-main-filters__categories"-->
<!--				position="left"></b2b-ngx-treeview>-->
<!--			<b2b-ngx-country-select-->
<!--				formControlName="countries[]"-->
<!--				[multiple]="true"-->
<!--				class="wiki-main-filters__country"-->
<!--				[placeholder]="'PLACEHOLDERS.SELECT_COUNTRY')"></b2b-ngx-country-select>-->
<!--			<b2b-ngx-select-->
<!--				[searchable]="true"-->
<!--				[multiple]="true"-->
<!--				formControlName="tags[]"-->
<!--				class="wiki-main-filters__tags"-->
<!--				[class.hideDropdown]="searchSubject.value.length < 2"-->
<!--				bindValue="_id"-->
<!--				bindLabel="name"-->
<!--				[minTermLength]="1"-->
<!--				[options]="tags$ | async"-->
<!--				[placeholder]="'PLACEHOLDERS.ADD_TAG')"-->
<!--				(searched)="searchTags($event)"></b2b-ngx-select>-->
<!--			<button-->
<!--				(click)="clearFilters()"-->
<!--				b2bNgxButton-->
<!--				[theme]="b2bNgxButtonThemeEnum.OUTLINE_GRAY"-->
<!--				class="wiki-main-filters__clear-filters">-->
<!--				{{ "TRADING_WIKI.CLEAR_ALL") }}-->
<!--			</button>-->
<!--		</div> &ndash;&gt;-->
<!--	</div>-->
<!--</form>-->
