<div class="container">
	<div *ngIf="!category" class="title">
		<h2>{{ title }}</h2>
	</div>

	<div class="categories-carousel-wrapper" [class.hide-border]="!showArrows">
		<button
			*ngIf="showArrows"
			(click)="scrollTo(-1)"
			[disabled]="canScrollStart"
			[class.product-arrow]="products?.length > 0"
			class="custom-carousel-arrow">
			<mat-icon
				*ngIf="platformService.isBrowser"
				[svgIcon]="'arrow-left'"></mat-icon>
		</button>

		<div
			class="categories-wrapper"
			[class.is-for-category]="category"
			#scrollBox>
			<ng-container *ngIf="category; else productList">
				<a
					[routerLink]="[
						'/b2bmarket/listing',
						category.path,
						childCategory.path
					]"
					class="category"
					*ngFor="let childCategory of category?.children">
					<img b2bNgxImage [name]="childCategory.image" />

					<p>{{ childCategory.name }}</p>
				</a>
			</ng-container>

			<ng-template #productList>
				<b2b-market-product-item
					[product]="product"
					[customClass]="'product-carousel'"
					*ngFor="let product of products">
				</b2b-market-product-item>

				<div class="dots-container">
					<span
						*ngFor="let dot of [0, 1, 2, 3]; let i = index"
						class="dot"
						[class.active-dot]="(activeProduct | async) === i"
						(click)="showSlide(i)">
					</span>
				</div>
			</ng-template>
		</div>

		<button
			*ngIf="showArrows"
			(click)="scrollTo(1)"
			[disabled]="canScrollEnd"
			class="custom-carousel-arrow"
			[class.product-arrow]="products?.length > 0">
			<mat-icon
				*ngIf="platformService.isBrowser"
				[svgIcon]="'arrow-right'"></mat-icon>
		</button>
	</div>
</div>
