<div class="container" [ngClass]="customCLass">
	@if (title) {
		<div class="title !pl-0">
			<h2>{{ title }}</h2>
		</div>
	}
	<div class="categories-carousel-wrapper" [class.hide-border]="!showArrows">
		@if (showArrows) {
			<button
				(click)="scrollTo(-1)"
				[disabled]="canScrollStart"
				type="button"
				[class.product-arrow]="products?.length > 0"
				class="custom-carousel-arrow">
				@if (platformService.isBrowser) {
					<mat-icon [svgIcon]="'arrow-left'"></mat-icon>
				}
			</button>
		}
		<div class="categories-wrapper"
				 [class.is-for-category]="category"
				 [class.similar-products-without-arrows]="!showArrows"
				 #scrollBox>
			@if (category) {
				@for (childCategory of category?.children; track $index) {
					<b2b-market-category-card [category]="category" [childCategory]="childCategory"/>
				}
			} @else {
				@for (product of products; track $index) {
					<b2b-market-product-item
						[product]="product"
						[customClass]="'product-carousel' + customCLass"/>
				}
				<div class="dots-container">
					@for (dot of dots; track $index) {
						<span
							class="dot"
							[class.active-dot]="(activeProduct | async) === $index"
							(click)="showSlide($index)">
					</span>
					}
				</div>
			}
			<ng-template
				[ngIf]="otherCarouselItems?.length > 0 || !!otherCarouselItems">
				<ng-content></ng-content>
			</ng-template>
		</div>

		@if (showArrows) {
			<button
				(click)="scrollTo(1)"
				[disabled]="canScrollEnd"
				type="button"
				class="custom-carousel-arrow"
				[class.product-arrow]="products?.length > 0">
				@if (platformService.isBrowser) {
					<mat-icon [svgIcon]="'arrow-right'"></mat-icon>
				}
			</button>
		}
	</div>
</div>
