<div class="cookies-policy">
	<div class="container">
		<div class="title-wrapper">
			<h1 class="title">{{ 'COOKIES.NAME' | translate }}</h1>
			<p class="dates">
				<span class="effective-date"
					>{{ 'COOKIES.EFFECTIVE_DATE' | translate }}: 04.06.2021</span
				>
				<span class="modifed-date"
					>{{ 'COOKIES.LAST_MODIFED' | translate }}: 04.06.2021</span
				>
			</p>
		</div>

		<section class="section" *ngFor="let option of options">
			<p class="section-title">{{ option.title }}</p>
			<p class="section-description">{{ option.description }}</p>

			<ngx-datatable
				class="material section-table"
				*ngIf="option?.rows && isPlatformBrowser"
				[rows]="option?.rows"
				[columns]="option?.columns"
				columnMode="force"
				rowHeight="auto"
				[headerHeight]="50"></ngx-datatable>
		</section>
	</div>
</div>
