<div class="cookies-policy">
	<div class="container">
		<div class="title-wrapper">
			<h1 class="title">{{ 'COOKIES.NAME' | translate }}</h1>
			<p class="dates">
				<span class="modifed-date"
					>{{ 'COOKIES.LAST_MODIFED' | translate }}: 23.01.2024</span
				>
			</p>
		</div>
		<section class="section">
			<p class="section-title"><b>Welcome to Globy!</b></p>
		</section>
		<section class="section">
			<p class="section-description">
				Globy is owned and operated by B2B Discount, Inc.
			</p>
			<div class="section-description">
				This cookie policy explains how and why cookies and other similar
				technologies may be stored on and accessed from your device when you use
				or visit:
				<br />
				<ul class="section-ul">
					<li>
						<a routerLink="/" class="section-link">https://globy.com</a>
					</li>
				</ul>
			</div>
			<p class="section-description">(Hereinafter referred to as “Globy”).</p>
			<div class="section-description">
				The information collected through cookies will be under responsibility
				and in charge of:
				<ul class="section-ul">
					<li><b>B2B Discount, Inc.</b></li>
					<li><b>610 N. Gilbert Rd. Suite 201, 85234 USA</b></li>
					<li>
						<a href="mailto:info@globy.com" class="section-link"
							>info&#64;globy.com
						</a>
					</li>
				</ul>
			</div>
			<p class="section-description">
				This cookie policy should be read together with our privacy policy and
				our terms and conditions.
			</p>
			<p class="section-description">
				By using the website, you accept the use of cookies by Globy, in the
				terms contained in this policy.
			</p>
		</section>
		<section class="section">
			<p class="section-title">1. WHAT ARE COOKIES?</p>
			<p class="section-description">
				Cookies are small text files that are stored on your computer or mobile
				device when you visit a website. They allow the website to recognize
				your device and remember if you have been to the website before. Cookies
				are a very common web technology; most websites use cookies and have
				done so for years. Cookies are widely used to make the website work more
				efficiently. Cookies are used to measure which parts of the website
				users visit and to personalize their experience. Cookies also provide
				information that helps us monitor and improve the performance of the
				website.
			</p>
		</section>
		<section class="section">
			<p class="section-title">2. CONSENT</p>
			<p class="section-description">
				When you access our website, you will be presented with a notice about
				the use of cookies. By clicking 'Accept' on this notice, you provide
				your explicit consent to the use of cookies on your device. These
				cookies are used to enhance your browsing experience, personalize
				content, analyze our site traffic and provide specific functionality
				related to our online operations.
			</p>
			<p class="section-description">
				Your consent allows us to provide you with a more personalized and
				efficient user experience. If you wish to withdraw your consent at any
				time, you may do so by changing the cookie settings in your browser.
				However, please note that disabling certain cookies may limit the
				functionality of the site and affect your user experience.
			</p>
		</section>
		<section class="section">
			<p class="section-title">3. LEGAL BASIS AND LEGITIMATE INTERESTS</p>
			<p class="section-description">
				On our website, we use cookies based on our legitimate interests to
				ensure the best user experience and to continuously improve our website.
				These interests include optimizing our online offering, personalizing
				content and advertising, as well as ensuring the security and efficiency
				of our website.
			</p>
			<p class="section-description">
				Cookies help us understand how users interact with our website, which
				allows us to adjust and improve our services and functionalities
				according to their needs and preferences.
			</p>
			<p class="section-description">
				While we believe that these interests do not outweigh your fundamental
				rights and freedoms, you have the option to refuse or manage the use of
				cookies through your browser settings or the tools we provide on our
				website.
			</p>
		</section>
		<section class="section">
			<p class="section-title">4. WITHDRAWAL AND OBJECTION (OPT-OUT)</p>
			<p class="section-description">
				By accessing our website, you agree to the use of cookies that enhance
				the browsing experience and allow the personalization of content and
				advertisements. However, we understand and respect your right to
				privacy. If you wish to opt-out or exercise your choice to not
				participate (Opt-Out), you can set your browser to refuse all cookies or
				to indicate when a cookie is being sent.
			</p>
			<p class="section-description">
				Please note that some features of the site may not function properly
				without the use of cookies. In addition, we provide links or tools on
				our site that allow you to specifically decline the use of certain
				cookies.
			</p>
		</section>
		<section class="section">
			<p class="section-title">5. STORAGE DURATION OF COOKIES</p>
			<p class="section-description">
				The cookies used on our website have different storage periods,
				depending on their purpose. Essential cookies, necessary for the basic
				operation of the website, are kept as long as necessary to provide the
				requested services.
			</p>
			<p class="section-description">
				Functionality cookies, which remember your preferences and settings, are
				stored for a period that can vary from the duration of your visit
				(session cookies) to several years, to ensure a constant user
				experience. Analytics and advertising cookies have a maximum storage
				duration of 24 months, after which they will be automatically deleted.
			</p>
			<p class="section-description">
				You can delete or manage these cookies at any time through your browser
				settings. Deleting or rejecting cookies may affect the functionality of
				the site and the quality of your experience on our website.
			</p>
		</section>
		<section class="section">
			<p class="section-title">6. COOKIE SETTINGS</p>
			<p class="section-description">
				If you do not want cookies to be dropped on your device, you can adjust
				the setting of your Internet browser to reject the setting of all or
				some cookies and to alert you when a cookie is placed on your device.
				For further information about how to do so, please refer to your browser
				‘help’, ‘tool’, or ‘edit’ section. Please note that if you use your
				browser settings to block all cookies, including strictly necessary
				cookies, you may not be able to access or use all or parts of the
				functionalities of Globy.
			</p>
			<p class="section-description">
				If you want to remove previously-stored cookies, you can manually delete
				the cookies at any time. However, this will not prevent Globy from
				placing further cookies on your device unless and until you adjust your
				Internet browser setting as described above.
			</p>
			<div class="section-description">
				We provide the links for the management and blocking of cookies
				depending on the browser you use:
				<ul class="section-ul">
					<li>
						<b>Microsoft Edge:</b>&nbsp;<a
							href="https://support.microsoft.com/en-us/office/delete-cookies-in-microsoft-edge-63947406-40ac-c3b8-57b9-2a946a29ae09?ui=en-us&rs=en-us&ad=us"
							class="section-link"
							>https://support.microsoft.com/en-us/office/delete-cookies-in-microsoft-edge-63947406-40ac-c3b8-57b9-2a946a29ae09?ui=en-us&rs=en-us&ad=us</a
						>
					</li>
					<li>
						<b>Firefox:</b>&nbsp;<a
							href="https://support.mozilla.org/en-US/kb/clear-cookies-and-site-data-firefox"
							class="section-link"
							>https://support.mozilla.org/en-US/kb/clear-cookies-and-site-data-firefox</a
						>
					</li>
					<li>
						<b>Chrome:</b>&nbsp;<a
							href="https://support.google.com/chrome/answer/95647?hl=en"
							class="section-link"
							>https://support.google.com/chrome/answer/95647?hl=en</a
						>
					</li>
					<li>
						<b>Safari:</b>&nbsp;<a
							href="https://support.apple.com/guide/safari/manage-cookies-and-website-data-sfri11471/mac"
							class="section-link"
							>https://support.apple.com/guide/safari/manage-cookies-and-website-data-sfri11471/mac</a
						>
					</li>
					<li>
						<b>Opera:</b>&nbsp;<a
							href="https://help.opera.com/en/latest/web-preferences/"
							class="section-link"
							>https://help.opera.com/en/latest/web-preferences/</a
						>
					</li>
				</ul>
				In cases where you access the website through an iOS or Android mobile
				device, please follow the instructions below to delete or block cookies
				on your device:
				<ul class="section-ul">
					<li>
						<b>Android:</b>&nbsp;<a
							href="https://support.google.com/answer/32050"
							class="section-link"
							>https://support.google.com/answer/32050</a
						>
					</li>
					<li>
						<b>iOS:</b>&nbsp;<a
							href="https://support.apple.com/en-us/HT201265"
							class="section-link"
							>https://support.apple.com/en-us/HT201265</a
						>
					</li>
				</ul>
			</div>
		</section>
		<section class="section">
			<p class="section-title">7. COOKIES WE USE</p>
			<p class="section-description">
				We use the following cookies on our website:
			</p>
			<ngx-datatable
				class="material section-table"
				[rows]="table?.rows"
				[columns]="table?.columns"
				columnMode="force"
				rowHeight="auto"
				[headerHeight]="50"></ngx-datatable>
		</section>
		<section class="section">
			<p class="section-title">8. PURPOSES OF OUR COOKIES</p>
			<p class="section-description">
				Our cookies are used for the following purposes:
			</p>
			<p class="section-description">
				<b>Necessary:</b> Necessary cookies are essential files that enable
				basic functions on the website, such as navigation and security. They do
				not collect personal information.
			</p>
			<p class="section-description">
				<b>Functional:</b> We use functional cookies to enhance your online
				experience by remembering user preferences and settings and maintaining
				consistency across the website, without tracking activities.
			</p>
			<p class="section-description">
				<b>Analytics and Performance:</b> These cookies collect information
				about how users interact with our website, including the most visited
				pages, as well as other analytical data. We use this data to improve how
				our website works and to understand how users interact with the website.
			</p>
			<p class="section-description">
				<b>Advertisement:</b> Advertisement cookies are pieces of information
				that websites store on your device when you visit our site. These
				cookies track your online activities and allow us to display
				advertisements tailored to your interests, thus improving your browsing
				experience.
			</p>
		</section>
		<section class="section">
			<p class="section-title">9. CONTACT US</p>
			<p class="section-description">
				If you have questions or concerns about this cookie policy and the
				handling and security of your data, please contact us through our
				contact forms or by using the contact information below:
			</p>
			<p class="section-description"><b>B2B Discount, Inc - Globy.</b></p>
			<p class="section-description">610 N. Gilbert Rd. Suite 201, 85234 USA</p>
			<p class="section-description">
				<a href="mailto:info@globy.com" class="section-link"
					>info&#64;globy.com</a
				>
			</p>
		</section>
	</div>
</div>
