@import "projects/shared/src/styles";

:host {
	display: block;
	height: 100%;
}
::ng-deep {
	.client-offer-document {
		height: 100%;
		b2b-ngx-images-carousel {
			display: block;
			height: 100%;
			width: 100%;
			.client-profile-offer-images {
				height: 100%;
				width: 100%;
			}
		}
	}
}
