<form
	[formGroup]="formGroup"
	class="admin-article"
	(ngSubmit)="onSubmit(formGroup.value)">
	<p class="admin-article__label">
		{{ blogAction === blogActionEnum.EDIT ? 'Edit an post' : 'Add an post' }}
	</p>

	<b2b-ngx-file
		[isPhoto]="true"
		[isClickable]="true"
		formControlName="images"
		class="admin-article__image">
		Image
	</b2b-ngx-file>

	<div class="admin-article__main">
		<b2b-ngx-input
			formControlName="title"
			class="admin-article__input"
			[label]="'LABELS.ARTICLE_LABEL' | translate"
			placeholder="Enter post label"></b2b-ngx-input>
	</div>

	<b2b-ngx-select [options]="articleTypes$ | async"
									bindValue="id"
									bindLabel="value"
									placeholder="Select article type"
									className="w-100"
									[theme]="b2bNgxSelectThemeEnum.BACKGROUND_GRAY"
									formControlName="typeArticle"
	></b2b-ngx-select>

	<b2b-datepicker
		formControlName="datePublication"
		inputClassName="datepicker"
		iconName="filled-calendar"
		[iconPosition]="{ left: '10px', top: '20px' }"></b2b-datepicker>

	<mat-form-field appearance="outline">
		<mat-label>Enter publication date</mat-label>
		<input type="time" matInput formControlName="timePublication" name="week">
	</mat-form-field>

	<b2b-ngx-select [options]="blogAuthors$ | async"
									bindLabel="fullName"
									bindValue="_id"
									placeholder="Select author"
									className="w-100"
									[theme]="b2bNgxSelectThemeEnum.BACKGROUND_GRAY"
									formControlName="authorId"
	></b2b-ngx-select>

	<div formArrayName="recommendations">
		@for (recommendation of recommendationsFormArray().controls; track $index) {
			<div>
				<mat-form-field>
					<input matInput type="text" [formControlName]="$index" placeholder="Enter link to article">
				</mat-form-field>
				<button type="button"
								(click)="removeRecommendation($index)"
								mat-icon-button>
					<mat-icon>delete</mat-icon>
				</button>
			</div>
		}
	</div>

	<div>
		<button (click)="addRecommendation()" mat-flat-button color="primary">Add recommendation link</button>
	</div>

	<div>
		<mat-checkbox formControlName="isDraft">Save as draft</mat-checkbox>
	</div>


	<div class="admin-article__main w-100">
		<textarea
			type="text"
			b2bNgxInput
			[theme]="b2bNgxInputThemeEnum.BACKGROUND_GRAY"
			formControlName="shortDescription"
			placeholder="Enter short description of this article (up to 500 symbols)"
			rows="15"
			wrapperClass="w-100"></textarea>
	</div>

	<b2b-ngx-chips
		formControlName="tags"
		(searched)="setSearch($event)"
		[searchedOptions]="searchedOptions$ | async"></b2b-ngx-chips>

	<ckeditor
		[editor]="Editor"
		formControlName="description"
	></ckeditor>

	<button
		b2bNgxButton
		class="admin-article__button"
		[theme]="b2bNgxButtonThemeEnum.BACKGROUND_BLACK">
		{{ formGroup.get('_id').value ? 'Update an post' : 'Create an post' }}
	</button>
</form>
