<form
	[formGroup]="formGroup"
	class="admin-article">
	<p class="admin-article__label">
		{{ blogAction === blogActionEnum.EDIT ? 'Edit an post' : 'Add an post' }}
	</p>

	<b2b-ngx-file
		[isPhoto]="true"
		[isClickable]="true"
		formControlName="images"
		class="admin-article__image">
		Image
	</b2b-ngx-file>
	@if (formGroup.get('images').hasError('required') && formGroup.get('images').touched) {
		<p class="error">Image is required</p>
	}

	<div class="mb-3">
		<b2b-ngx-input
			formControlName="title"
			class="admin-article__input"
			[label]="'LABELS.ARTICLE_LABEL' | translate"
			placeholder="Enter post label"></b2b-ngx-input>
		@if (formGroup.get('title').hasError('required') && formGroup.get('title').touched) {
			<p class="error">Title is required</p>
		}
	</div>

	<b2b-ngx-select [options]="articleTypes$ | async"
									bindValue="id"
									bindLabel="value"
									placeholder="Select article type"
									className="w-100"
									[theme]="b2bNgxSelectThemeEnum.BACKGROUND_GRAY"
									formControlName="typeArticle"
	></b2b-ngx-select>
	@if (formGroup.get('typeArticle').hasError('required') && formGroup.get('typeArticle').touched) {
		<p class="error">Article type is required</p>
	}

	<div class="mb-3">
		@if (blogAction === blogActionEnum.EDIT && (currentArticle$ | async)) {
			<b2b-datepicker
				[today]="$any((currentArticle$ | async)?.data?.datePublication)"
				formControlName="datePublication"
				inputClassName="datepicker"
				iconName="filled-calendar"
				[iconPosition]="{ left: '10px', top: '20px' }"></b2b-datepicker>
		} @else if (blogAction === blogActionEnum.CREATE) {
			<b2b-datepicker
				formControlName="datePublication"
				inputClassName="datepicker"
				iconName="filled-calendar"
				[iconPosition]="{ left: '10px', top: '20px' }"></b2b-datepicker>
		}


	</div>

	<mat-form-field appearance="outline">
		<mat-label>Enter publication date</mat-label>
		<input type="time" matInput formControlName="timePublication" name="week">
	</mat-form-field>

	<div class="mb-2">
		<b2b-ngx-select [options]="blogAuthors$ | async"
										bindLabel="fullName"
										bindValue="_id"
										placeholder="Select author"
										className="w-100"
										[theme]="b2bNgxSelectThemeEnum.BACKGROUND_GRAY"
										formControlName="authorId"
		></b2b-ngx-select>
	</div>

	<button mat-flat-button color="primary" class="mb-3" (click)="addAuthorDialog()">Add author</button>
	@if (isEditAuthorButtonVisible$ | async) {
		<button mat-flat-button color="primary" class="mb-3" (click)="editAuthorDialog()">Edit author</button>
	}

	<div formArrayName="recommendations">
		@for (recommendation of recommendationsFormArray().controls; track $index) {
			<div>
				<mat-form-field>
					<input matInput type="text" [formControlName]="$index" placeholder="Enter link to article">
				</mat-form-field>
				<button type="button"
								(click)="removeRecommendation($index)"
								mat-icon-button>
					<mat-icon>delete</mat-icon>
				</button>
			</div>
		}
	</div>

	<div class="mb-3">
		<button (click)="addRecommendation()" mat-flat-button color="primary">Add recommendation link</button>
	</div>

	<div class="admin-article__main w-100 mb-3">
		<textarea
			type="text"
			b2bNgxInput
			[theme]="b2bNgxInputThemeEnum.BACKGROUND_GRAY"
			formControlName="shortDescription"
			placeholder="Enter short description of this article (up to 500 symbols)"
			rows="15"
			wrapperClass="w-100"></textarea>
	</div>

	<b2b-ngx-chips
		formControlName="tags"
		(searched)="setSearch($event)"
		[searchedOptions]="searchedOptions$ | async"></b2b-ngx-chips>

	<ckeditor
		[editor]="editor"
		formControlName="description"
	></ckeditor>
	@if (formGroup.get('description').hasError('required') && formGroup.get('description').touched) {
		<p class="error">Description is required</p>
	}

	<div class="mt-2">
		<mat-checkbox formControlName="isDraft">Save as draft</mat-checkbox>
	</div>

	<button
		b2bNgxButton
		class="admin-article__button"
		(click)="onSubmit(formGroup.value)"
		[theme]="b2bNgxButtonThemeEnum.BACKGROUND_BLACK">
		{{ formGroup.get('_id').value ? 'Update an post' : 'Create an post' }}
	</button>
</form>
