.admin-article {
	display: block;
	margin: 30px;
	background-color: white;
	padding: 60px;

	.image-alts {
		&__input {
			margin-top: 20px;
		}

		&__tooltip {
			color: #6c7077;
		}
	}

	.admin-article__image {
		display: block;
		margin-top: 30px;
	}

	.admin-article__label {
		font-weight: bold;
		font-size: 32px;
		color: #0f0f11;
	}

	.admin-article__input {
		display: block;
		margin-top: 30px;
	}

	.admin-article__main {
		display: flex;
		justify-content: space-between;

		.admin-article__input {
			width: 49%;
		}
	}

	.admin-article__additional {
		display: flex;
		justify-content: space-between;
		margin-top: 30px;

		.admin-article__country,
		.admin-article__tags {
			width: 49%;
		}
	}

	.admin-article__categories {
		display: flex;
		justify-content: space-between;
		margin-top: 30px;

		.admin-article__category {
			width: 49%;
		}

		.admin-article__sub-category {
			width: 49%;
		}
	}

	.admin-article__button {
		margin-top: 30px;
		padding: 15px 40px;
	}
}

::ng-deep {
	.angular-editor-textarea {
		img {
			max-width: 100%;
		}

		p {
			line-height: 24px;
		}
	}
}

::ng-deep {
	::ng-deep {
		input.datepicker {
			height: 64px;
			border: none;
			border-radius: 14px;
			padding: 0 16px;
			width: 100%;

			&::placeholder {
				padding-left: 20px;
			}
		}
	}

	.ngx-files-list-item {
		margin-top: 0 !important;
	}

	.admin-article__description {
		display: block;
		margin-top: 30px;
		overflow: hidden;

		line-height: 24px;

		span,
		p {
			line-height: 24px;
		}

		ul,
		li {
			list-style: disc !important;
		}

		ul {
			padding-left: 30px;
		}

		strong,
		b {
			font-weight: bold !important;
		}

		img {
			width: 100%;
		}
	}

	h2 {
		font-size: 24px;
	}

	h3 {
		font-size: 22px;
	}

	h4 {
		font-size: 20px;
	}

	.ck-content blockquote {
		position: relative;
		border-left: 3px solid #000;
		font-size: 18px;
		font-weight: 400;
		font-style: normal;

		&::before,
		&::after {
			display: block;
			position: absolute;
			width: 15px;
			height: 15px;
			content: "";
			background-size: contain;
			background-repeat: no-repeat;
		}

		&::before {
			background-image: url("../../../../../assets/icons/open-quote.svg");
			left: 5px;
			top: 15px;
		}

		&::after {
			background-image: url("../../../../../assets/icons/close-quote.svg");


			right: 5px;
			bottom: 15px;
		}
	}

	.ck-content ol,
	.ck-content ul {
		padding-left: 10px;
	}
}
