<div class="client-home__main">
	<section class="header">
		<div class="header-wrapper">
			<div class="header-text-block">
				<h1>B2B DISCOUNT</h1>
				<div class="header-advertise-title">an international platform <br> for wholesale trade</div>
				<div class="header-subtitle">Buy and sell goods, find the best deals on unclaimed cargo, and stay
					updated on industry news
				</div>
				<div class="buttons">
					<button [theme]="b2bNgxButtonThemeEnum.BACKGROUND_BLACK"
						[routerLink]="(user$ | async) ? '/profile/your-workspace/b2bmarket' : '/auth/register-credentials'"
						b2bNgxButton class="home-btn" id="header-get-started-supplier">
						Apply as a supplier
					</button>
					<button [theme]="b2bNgxButtonThemeEnum.BACKGROUND_BLACK"
						[routerLink]="(user$ | async) ? '/profile/your-workspace/b2bmarket' : '/auth/register-credentials'"
						b2bNgxButton class="home-btn" id="header-get-started-buyer">
						Apply as a buyer
					</button>
				</div>
			</div>
			<div class="logo">
				<img alt="logo" class="ship" src="/assets/images/main-page-map.webp" />
			</div>
		</div>
	</section>

	<b2b-home-latest-products></b2b-home-latest-products>

	<section class="solutions" id="solutions">
		<h1 class="solutions-title">Solutions for your business:</h1>

		<div class="solutions-block">
			<a routerLink="/b2bmarket">
				<div class="solutions-item">
					<div class="head-title">
						<div class="icon-container background-light-yellow">
							<img alt="" b2bNgxIcon name="bag" />
						</div>

						<h2>Marketplace</h2>
					</div>
					<p>
						Engage in the wholesale trade around the globe. Find buyers and sellers of all kinds of products
						on every
						continent. Establish new business relations, enhance existing supply chains, and negotiate
						profitable
						contracts.
					</p>
				</div>
			</a>


			<a [routerLink]="isAuth() ? '/latest-offers' : ''">
				<div class="solutions-item">
					<div class="head-title">
						<div class="icon-container background-second-light-blue">
							<img alt="" b2bNgxIcon name="second-box" />
						</div>

						<h2>Unclaimed Cargo</h2>
					</div>
					<p>
						Use our platform to sell unclaimed cargo. Provide supporting documentation and put goods on
						offer at a
						discount
						of 5% to 90%. You will quickly find a new buyer among the thousands of our registered users.
					</p>
				</div>
			</a>

			<a routerLink="/market-promotion">
				<div class="solutions-item">
					<div class="head-title">
						<div class="icon-container background-light-green">
							<img alt="" b2bNgxIcon name="chart" />
						</div>

						<h2>Supplier Promotion Program</h2>
					</div>

					<p>
						Make your products stand out by promoting them on the platform. Reach a carefully selected
						target audience
						through our social media and order bespoke ad campaigns from our creative team to boost sales.
					</p>
				</div>
			</a>

			<a routerLink="/tradebid">
				<div class="solutions-item">
					<div class="head-title">
						<div class="icon-container background-light-blue">
							<img alt="" b2bNgxIcon name="note" />
						</div>

						<h2>RFQ Directory</h2>
					</div>

					<p>
						Get any product you need at a desired price from direct suppliers worldwide. Don’t waste time
						searching for
						the right offer. Make a request and let sellers come with their bids to you.
					</p>
				</div>
			</a>

			<a href="#">
				<div class="solutions-item">
					<div class="head-title">
						<div class="icon-container background-light-pink">
							<img alt="" b2bNgxIcon name="archive" />
						</div>

						<h2>Buyers Database</h2>
					</div>

					<p>
						Get access to a curated database of wholesale buyers inside your personal account. Filter them
						by country or
						product category and contact them directly using the built-in chat to make your commercial
						offer.
					</p>
				</div>
			</a>
		</div>

		<div class="solutions-block align-items-center justify-content-between mt-128">
			<div class="w-47">
				<h1 class="solutions-title">The B2B marketplace <br /> you were looking for</h1>

				<p class="solutions-description">
					B2B Discount is a B2B marketplace platform intended to help wholesale traders find new buyers or
					suppliers on
					the global market. Become a supplier on our platform to provide your company with higher visibility
					on the
					internet, to bring in more customers and boost sales. Our B2B wholesale marketplace will help your
					business
					prosper.
					Every day we improve the platform to make it a marketplace B2B sellers and buyers can count on. Come
					for new
					clients and profitable deals, for direct business connections, and for useful industry insights.
					B2B Discount is an online B2B marketplace accessible to everyone. We don’t charge commissions or
					interfere
					with the negotiation process. Join us to integrate your business into the global wholesale market.
				</p>
			</div>

			<img b2bNgxImage class="w-47" name="solutions-collage" imageExtension="webp" />
		</div>
	</section>

	<section class="blog" *ngIf="(articles$ | async) && (articles$ | async)?.length">
		<div class="d-flex justify-content-between align-items-center">
			<h2 class="blog-title">Read our Blog</h2>

			<a routerLink="/blog" class="desktop-link" [theme]="b2bNgxLinkThemeEnum.TEXT_BLUE" b2bNgxLink>View all
				articles</a>
		</div>

		<div class="block d-flex">
			<a *ngFor="let article of articles$ | async; let i = index"
				[routerLink]="article?.path ? '/blog/' + article.path : '/blog/' + article._id" b2bNgxLink>
				<div class="block-item">
					<img [name]="article.image?.lg" alt="" b2bNgxImage />

					<div class="d-flex flex-column justify-content-between text-block">
						<div>
							<h3 class="card-title">{{ article.title }}</h3>
							<p class="card-text">{{ article?.shortDescription }}</p>
						</div>

						<div class="card-link">Export/import requirements</div>
					</div>
				</div>
			</a>
		</div>

		<a [theme]="b2bNgxLinkThemeEnum.TEXT_BLUE" b2bNgxLink class="mobile-link" routerLink="/blog">View all
			articles</a>
	</section>

	<section class="subscription d-flex flex-column align-items-center">
		<div class="subscription-container">
			<h1 class="subscription-title">
				Subscribe to our newsletter to receive notifications about new and popular offers from suppliers.
			</h1>

			<div class="values d-flex flex-wrap justify-content-between">
				<b2b-ngx-checkbox (checkboxChange)="selectedCategories($event, category.value)"
					*ngFor="let category of categories" [checked]="$any(category).checked"
					customIconClass="subs-checkbox" [customClass]="'subscription-checkbox'">
					<div class="d-flex checkbox-content">
						<img [src]="category.icon" class="checkbox-icon">

						<span class="checkbox-text">{{$any(category).text}}</span>
					</div>
				</b2b-ngx-checkbox>
			</div>

			<div class="subscription-field d-flex justify-content-center">
				<b2b-ngx-treeview (change)="selectedCategories($event)" [(ngModel)]="selectedCategory" [config]="config"
					[items]="categories" label="All sectors:"></b2b-ngx-treeview>

				<input [formControl]="email" [theme]="b2bNgxInputThemeEnum.BACKGROUND_GRAY" b2bNgxInput
					labelClass="auth-register-individual-account__main-input" placeholder="Your email" />

				<button (click)="subscribeOnCategories()" [theme]="b2bNgxButtonThemeEnum.BACKGROUND_BLACK" b2bNgxButton>
					{{ email.value ? 'Done' : 'Subscribe'}}
				</button>
			</div>
		</div>
	</section>

	<section class="join-us-block d-flex align-items-center">
		<div class="d-flex flex-column">
			<h1 class="title">
				Join our platform <br />
				and become a part of the global trading community.
			</h1>

			<p class="join-us-text">
				With us, you can find new buyers or reliable suppliers.
			</p>

			<button (click)="smoothScrollToSolutions()" [theme]="b2bNgxButtonThemeEnum.BACKGROUND_BLACK" b2bNgxButton
				id="footer-get-started">
				Get started
			</button>
		</div>

		<img b2bNgxImage name="join-us-laptop" imageExtension="webp" class="join-us-image">
	</section>
</div>