<div class="client-profile-settings">
	<div class="settings-header">
		<h3 class="client-profile-settings-title">
			{{ 'SETTINGS.TITLE' | translate }}
		</h3>
		<div class="header-buttons">
			<button
				(click)="saveChanges(baseFormGroup)"
				[theme]="b2bNgxButtonThemeEnum.BACKGROUND_BLUE"
				b2bNgxButton
				class="save-btn">
				Save changes
			</button>
		</div>
	</div>

	<form [formGroup]="baseFormGroup" class="data-form">
		<div class="inputs">
			<div class="settings__avatar">
				<div class="settings__avatar-title">Profile photo</div>
				<div class="settings__avatar-wrapper">
					<img *ngIf="avatarSrc$ | async as src; else noAvatar" [src]="src" />
					<ng-template #noAvatar>
						<svg-icon src="/assets/icons/settings/empty-avatar.svg"></svg-icon>
					</ng-template>

					<div class="settings__avatar-upload">
						<ng-container
							*ngIf="!(avatarSrc$ | async) && !user.logo; else avatarActions">
							<div class="settings__avatar-subtitle">Upload your photo.</div>
							<button (click)="fileInput.click()" class="upload-button">
								<svg-icon src="/assets/icons/settings/upload.svg"></svg-icon>
								<span class="text">Choose photo</span>
							</button>
						</ng-container>
						<input
							#fileInput
							(change)="uploadFile($event)"
							accept="image/png, image/jpeg, image/svg+xml"
							[multiple]="false"
							type="file" />
					</div>
				</div>
				<div class="settings__avatar-tooltip">
					Allowed image size is maximum 2MB. Supported formats are .jpeg .svg
					.png.
					<br />
					Recommended image size is 256px
				</div>
			</div>
			<div class="data-inputs">
				<div class="client-profile-settings-block-input">
					<input
						b2bNgxInput
						[theme]="b2bNgxInputThemeEnum.BACKGROUND_GRAY"
						[label]="'LABELS.EMAIL' | translate"
						formControlName="email" />
				</div>

				<div class="client-profile-settings-block-input">
					<input
						b2bNgxInput
						[theme]="b2bNgxInputThemeEnum.BACKGROUND_GRAY"
						[label]="'LABELS.FULL_NAME' | translate"
						formControlName="fullName" />

					<p
						*ngIf="baseFormState['fullName']?.errors?.['fullName']"
						class="error">
						Enter first and last name in English, separated by a space. For
						example: John Smith
					</p>
				</div>

				<div class="client-profile-settings-block-input">
					<b2b-ngx-tel
						formControlName="phone"
						[errors]="baseFormGroup.get('phone').errors"
						>{{ 'LABELS.PHONE_NUMBER' | translate }}</b2b-ngx-tel
					>
				</div>

				<div class="client-profile-settings-block-input">
					<b2b-ngx-select
						*ngIf="displayRoleSelector$ | async"
						formControlName="roleId"
						[options]="roles$ | async"
						bindLabel="displayName"
						bindValue="_id"
						[theme]="b2bNgxSelectThemeEnum.BACKGROUND_GRAY">
						Select user role
					</b2b-ngx-select>
				</div>
			</div>
			<form
				class="client-profile-settings-change-password-form"
				[formGroup]="passwordFormGroup"
				*ngIf="!user.socialAuth">
				<p class="client-profile-settings-change-password-label">
					{{ 'LABELS.PASSWORD' | translate }}
				</p>
				<div class="client-profile-settings-block">
					<div class="client-profile-settings-block-input">
						<input
							type="password"
							b2bNgxInput
							[theme]="b2bNgxInputThemeEnum.BACKGROUND_GRAY"
							[label]="'LABELS.OLD_PASSWORD' | translate"
							formControlName="password" />
					</div>
					<div class="client-profile-settings-block-input">
						<input
							type="password"
							b2bNgxInput
							[theme]="b2bNgxInputThemeEnum.BACKGROUND_GRAY"
							[label]="'LABELS.NEW_PASSWORD' | translate"
							formControlName="newPassword" />
					</div>
				</div>
				<div class="form-buttons">
					<button
						b2bNgxButton
						type="button"
						(click)="updatePassword(passwordFormGroup)"
						class="client-profile-settings-block-submit-button"
						[theme]="b2bNgxButtonThemeEnum.BACKGROUND_BLACK">
						{{ 'BUTTONS.CHANGE_PASSWORD' | translate }}
					</button>

					<button
						b2bNgxButton
						(click)="deleteAccount()"
						[theme]="b2bNgxButtonThemeEnum.OUTLINE_BLACK"
						class="delete-account-button desktop-delete-button">
						<img b2bNgxIcon name="delete-red" />
						Delete account
					</button>
				</div>
			</form>
		</div>
	</form>
	<div class="header-buttons mobile-buttons">
		<button
			[theme]="b2bNgxButtonThemeEnum.OUTLINE_GRAY"
			b2bNgxButton
			class="cancel-btn">
			Cancel
		</button>
		<button
			(click)="saveChanges(baseFormGroup)"
			[theme]="b2bNgxButtonThemeEnum.BACKGROUND_BLUE"
			b2bNgxButton
			class="save-btn">
			Save changes
		</button>
	</div>
</div>

<ng-template #avatarActions>
	<div class="settings__avatar-action-buttons">
		<button (click)="deleteAvatar()" class="delete-button upload-button">
			<svg-icon src="/assets/icons/settings/delete-bin.svg"></svg-icon>
			<span class="text">Delete photo</span>
		</button>
		<button (click)="fileInput.click()" class="change-button upload-button">
			<svg-icon src="/assets/icons/settings/upload.svg"></svg-icon>
			<span class="text">Choose photo</span>
		</button>
	</div>
</ng-template>
