<div class="component-wrapper">
	<img b2bNgxImage name="success" alt="icon">
	<h1 class="title">Thank you for posting <br> your product</h1>
	<div class="subtitle">The product will be listed shortly after moderator review.</div>

	<div class="buttons">
		<button
			routerLink="/profile/your-workspace/b2bmarket"
			b2bNgxButton
			[theme]="b2bNgxButtonThemeEnum.OUTLINE_BLACK">Back to my products</button>
		<button
			routerLink="/b2bmarket/product"
			b2bNgxButton
			[theme]="b2bNgxButtonThemeEnum.BACKGROUND_BLACK">Add another product</button>
	</div>
</div>
