@import 'projects/shared/src/styles';

:host {
	.login {
		display: flex;
		justify-content: center;
		@include breakpoint('3') {
			padding: 40px;
			gap: 20px;
			flex-direction: column;
			padding-top: 15px;
		}

		.body {
			width: 35%;
			@include breakpoint('4') {
				width: 45%;
			}
			@include breakpoint('3') {
				width: 100%;
			}

			.title {
				text-align: center;
				font-weight: bold;
				color: $color-gray-900;
				font-size: 2rem;
				@include breakpoint('4') {
					font-size: 1.5rem;
				}
			}

			.auth-log-in__main-form {
				margin-top: 2.8rem;
				padding: 40px 50px;
				box-shadow:
					-4px -4px 8px #e5f2fd,
					4px 4px 8px #e5f2fd;
				border-radius: 10px;
				@include breakpoint('3') {
					margin-top: 20px;
					padding: 0;
					box-shadow: none;
				}

				.auth-log-in__main-label {
					display: block;
					font-size: 1rem;
					color: $color-gray-200;
					margin-top: 1rem;
				}

				.auth-log-in__main-input {
					display: block;
					width: 100%;
					margin-top: 16px;
				}

				.auth-log-in__main-error {
					display: block;
					margin-top: 0.25rem;
					color: $color-gray-200;
					font-size: 0.85rem;
				}

				.control-wrapper {
					margin-top: 16px;
				}

				.auth-log-in__main-link {
					width: 100%;
					display: block;
					text-align: right;
					margin-top: 0.375rem;
					color: $color-gray-200;
				}

				.auth-log-in__log-in-button {
					width: 100%;
					padding: 1rem 0;
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 12px;
					margin-top: 1.5rem;
				}
			}
		}
	}
}
