<!-- <div style="">
	<div
		[countUp]="$any(countLimit$ | async)"
		[options]="{duration: 7, decimalPlaces: 3}"
		[reanimateOnClick]="false"
		#counterLimit
		style=""></div>

	<div
		[countUp]="$any(amountOfDays$ | async)"
		[options]="{duration: 7}"
		[reanimateOnClick]="false"
		#amountOfDays></div>
</div>

<div #counterSection style="width: 50%;">
			<circle-progress
				[percent]="counter$ | async"
				[renderOnClick]="false"
				[title]="(days$ | async).toString()"></circle-progress>
	{{counter$ | async}}
	{{(days$ | async).toString()}}
</div> -->
