<div class="flex flex-col gap-3">
	<div class="flex md:hidden gap-2 flex-row items-center cursor-pointer"
			 (click)="open()">
		<img b2bNgxIcon name="arrow-l" class="h-[24px]" alt="icon"/>
		<span class="text-[#556274]">Back to Workspace</span>
	</div>
	<div class="flex flex-row justify-between items-center">
		<div class="!text-lg !font-secondary !font-bold">SETTINGS</div>
		<!--		@if (company) {-->
		<!--			<button mat-flat-button class="!bg-[#EEEEEE] !font-medium !text-md" [routerLink]="[-->
		<!--							'/b2bmarket/company/',-->
		<!--							company?.path || company?._id-->
		<!--						]">-->
		<!--				Preview my page-->
		<!--			</button>-->
		<!--		}-->
	</div>
	<router-outlet/>
</div>
