$color-black-900: #000000;
$color-black-800: #0f0f11;
$color-black-100: #2e2e34;
$color-black-50: rgba(177, 177, 177, 0.6);

$color-white-900: #ffffff;
$color-white-200: #e3eaf1;
$color-white-100: #f3f6f8;

$color-blue-500: #005dff;
$color-blue-100: #5995fe;
$color-blue-50: #d2deff;

$color-gray-900: #0f0f11;
$color-gray-600: #222224;
$color-gray-500: #556274;
$color-gray-400: #6c7077;
$color-gray-300: #a7a8ad;
$color-gray-200: #9fa4bb;
$color-gray-100: #f3f6f8;

$color-red-500: #e63d3d;
$color-red-50: rgba(230, 61, 61, 0.05);
