<link rel="stylesheet" href="client-promo-eng.component.scss" />
<div class="hot-it-works-2">
	<div class="banner">
		<img b2bNgxImage name="how-it-works-2" class="banner-img desktop" />
		<img b2bNgxImage name="how-it-works-mobile" class="banner-img mobile" />
		<div class="info">
			<p class="subtitle">UNCLAIMED CARGO</p>
			<p class="subsubtitle">IS A PROBLEM SOLVED BY</p>
			<h1 class="title">GLOBY</h1>
			<p class="description">
				The platform assists sellers in finding new buyers for their cargo and helps buyers purchase the goods they need
				at a discounted rate.
				<br>
				We facilitate direct connections between sellers and buyers without any transaction fees.
			</p>

			<div class="buttons">
				<a [routerLink]="b2bNgxLinkService.getLink('/unclaimed-cargo') | async"
				>Buy cargo</a
				>
				<a [routerLink]="b2bNgxLinkService.getLink('/offer') | async"
				>Sell cargo</a
				>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="benefits">
			<ul>
				<li>The easiest and fastest way to sell unclaimed cargo</li>
				<li>Opportunity to buy quality goods at a discount of 5% to 90%</li>
				<li>Legal and technical support 24/7</li>
			</ul>
		</div>
	</div>

	<div class="game">
		<div class="container">
			<div class="description">
				<h2>A proactive approach</h2>
				<p>
					The purpose of the platform is not just to help exporters and traders
					with unclaimed cargo but also to prevent the emergence of such goods.
				</p>
			</div>
			<img b2bNgxImage name="how-it-works-2-2-globy" />
		</div>
	</div>

	<div class="container">
		<div class="risks">
			<h2>Minimizing Risks</h2>
			<p>
				If you have doubts about the reliability of the consignee, take action now. Put your cargo on Globy to find
				other potential buyers. They can be your backup plan if the initial deal doesn't work out as expected.
			</p>
		</div>
	</div>

	<div class="anonymity">
		<div class="container">
			<img b2bNgxImage name="how-it-works-2-4" />

			<div class="description">
				<h2>Anonymity</h2>
				<p>
					The platform enables you to hide both your contact and cargo information. The offer remains anonymous until
					the goods' owner chooses to disclose the data for selling to a new buyer.
				</p>
				<a [routerLink]="b2bNgxLinkService.getLink('/offer') | async"
				>place cargo</a
				>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="verification">
			<h2>Cargo verification</h2>
			<p>
				All items on the platform are moderated. Cargo can only be listed if it includes the required documentation and
				photo materials. With our online tracking system for containers and cargo, buyers can easily track the location
				of the goods they are interested in.
			</p>
		</div>
	</div>

	<div class="profit">
		<div class="container">
			<div class="description">
				<h2>Benefits for all</h2>
				<p>
					Importers and traders can make profitable deals with discounts ranging from 5% to 90% off the market price of
					goods, offering sellers a means to avoid large financial losses.
				</p>
				<a [routerLink]="b2bNgxLinkService.getLink('/unclaimed-cargo') | async"
				>see all offers</a
				>
			</div>
			<img b2bNgxImage name="how-it-works-2-3-globy" />
		</div>
	</div>

	<div class="container">
		<div class="mission">
			<h2>Our mission</h2>
			<p>
				Bring together all FEA participants to create a more comfortable and
				secure environment for all parties involved in international trade and
				logistics.
			</p>

			<!--			<div class="video-wrapper">-->
			<!--				<video-->
			<!--					[controls]="!video.paused"-->
			<!--					class="video"-->
			<!--					poster="assets/images/client_home_background.png"-->
			<!--					(ended)="video.load()"-->
			<!--					#video>-->
			<!--					<source src="assets/videos/how-it-works.mp4" type="video/mp4" />-->
			<!--				</video>-->

			<!--				<button-->
			<!--					class="video-button"-->
			<!--					*ngIf="video.paused"-->
			<!--					(click)="video.play()">-->
			<!--					<img b2bNgxIcon class="video-button-icon" name="play" />-->
			<!--				</button>-->
			<!--			</div>-->

			<h3>Free registration</h3>
			<p>
				Globy is a US-based startup that entered the international market in the
				summer of 2021. All services of the platform will be free of charge
				until 30.06.2024. Do not miss the opportunity to get all the benefits of
				our service now.
			</p>
			<a
				[routerLink]="
					b2bNgxLinkService.getLink('/auth/register-credentials') | async
				"
			>Create a free account</a
			>
		</div>

		<p class="feedback">
			We want to make the platform even better and more functional. You can help us by writing your wishes and ideas at
			<a href="mailto:support@globy.com">support&#64;globy.com</a>
		</p>

		<div class="footer">
			<a [routerLink]="b2bNgxLinkService.getLink('/') | async">
				<img b2bNgxIcon name="logo-blue" alt="" />
			</a>
			<p>We connect buyers and sellers directly.</p>
		</div>
	</div>
</div>
