<div class="filter">
	<div [ngSwitch]="deliveryType$ | async">
		<ng-container
			*ngSwitchCase="'sea'"
			[ngTemplateOutlet]="containerTypesFilter">
		</ng-container>
		<ng-container *ngSwitchCase="'air'" [ngTemplateOutlet]="shipmentFilter">
		</ng-container>
	</div>

	<ng-template #shipmentFilter>
		<div class="filter__name">Total shipment</div>
		<div class="shipment">
			<div *ngFor="let shipment of shipmentTypes" class="shipment__item">
				<div class="shipment__item-header">
					<div class="shipment__item-title">{{ shipment.name }}</div>
					<div class="shipment__item-info">
						<input
							#weightInput
							type="number"
							id="weightValue"
							[value]="shipInputValue"
							(input)="
								+weightInput.value > 11000
									? (weightInput.value = '11000')
									: null;
								shipInputValue = +weightInput.value
							"
							[min]="shipment.min"
							[max]="shipment.max" />
						<div class="shipment__item-measure">{{ shipment.measure }}</div>
					</div>
				</div>
				<div class="air-slider">
					<mat-slider
						[(ngModel)]="shipInputValue"
						[min]="shipment.min"
						(input)="onSliderInput($event)"
						[max]="shipment.max"
						[step]="shipment.step">
						<input matSliderThumb />
					</mat-slider>
				</div>
			</div>
		</div>
	</ng-template>

	<ng-template #containerTypesFilter>
		<div class="filter__name">Types of container</div>
		<div class="filter__list">
			<label
				*ngFor="let containerItem of containerItems"
				(click)="chooseContainerType(containerItem.code)"
				class="filter__item">
				<input
					type="radio"
					[checked]="containerItem.checked"
					class="filter__radio-input"
					name="containerType"
					[value]="containerItem.code" />
				<div class="filter__label">{{ containerItem.name }}</div>
			</label>
		</div>
	</ng-template>
</div>
