<div class="buttons-wrapper">
	<div class="tradebid-buttons">
		<button
			b2bNgxButton
			id="rfq"
			class="btn"
			[routerLink]="'/profile/your-workspace/tradebid/my-rfq'"
			routerLinkActive="link--active">
			<svg width="142" height="38" viewBox="0 0 142 38" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path
					d="M0 5.13747C0 2.32294 2.32208 0.0629841 5.13557 0.139297L123.308 3.34459C125.073 3.39249
			 126.683 4.36856 127.542 5.91227L140.785 29.7212C142.639 33.0539 140.229 37.1517 136.415 37.1517H5C2.23858
			 37.1517 0 34.9131 0 32.1517V5.13747Z" />
			</svg>
			<span>My Rfq</span>
		</button>

		<!--	TODO: use relative path in routerLink-->
		<button
			b2bNgxButton
			id="quotation"
			class="btn"
			[routerLink]="'/profile/your-workspace/tradebid/my-quotation'"
			routerLinkActive="link--active">
			<svg width="142" height="38" viewBox="0 0 142 38" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path
					d="M0 5.13747C0 2.32294 2.32208 0.0629841 5.13557 0.139297L123.308 3.34459C125.073 3.39249
			 126.683 4.36856 127.542 5.91227L140.785 29.7212C142.639 33.0539 140.229 37.1517 136.415 37.1517H5C2.23858
			 37.1517 0 34.9131 0 32.1517V5.13747Z" />
			</svg>
			<span>My Quotation</span>
		</button>
	</div>
	<div class="router-buttons">
		<button
			*ngIf="getActiveBtnType() === 'my-rfq'"
			b2bNgxButton
			routerLink="/tradebid/add-rfq"
			[theme]="b2bNgxButtonThemeEnum.BACKGROUND_BLUE"
			class="add-rfq-btn">
			Add new Rfq
		</button>
		<button
			*ngIf="getActiveBtnType() === 'my-quotation'"
			b2bNgxButton
			routerLink="/tradebid/listing"
			[theme]="b2bNgxButtonThemeEnum.BACKGROUND_BLUE">
			View all RFQ
		</button>
	</div>
</div>
<div class="main-components-wrapper">
	<router-outlet></router-outlet>
</div>
