<div class="terms-and-conditions">
	<div class="container">
		<div class="title-wrapper">
			<h1 class="title">{{ 'TERMS_AND_CONDITIONS.TITLE' | translate }}</h1>
			<p class="dates">
				<span class="effective-date"
					>{{
						'TERMS_AND_CONDITIONS.EFFECTIVE_DATE' | translate
					}}
					04.06.2021</span
				>
				<span class="modifed-date"
					>{{
						'TERMS_AND_CONDITIONS.LAST_MODIFED' | translate
					}}
					04.06.2021</span
				>
			</p>
		</div>

		<section class="section" *ngFor="let option of options">
			<p class="section-title">{{ option.title }}</p>
			<p class="section-description">{{ option.description }}</p>
		</section>
	</div>
</div>
