<div class="hot-it-works-2">
	<div class="banner">
		<img b2bNgxImage name="how-it-works-2" class="banner-img desktop" />
		<img b2bNgxImage name="how-it-works-mobile" class="banner-img mobile" />
		<div class="info">
			<p class="subtitle">लावारिस कार्गो</p>
			<p class="subsubtitle">एक समस्या है जिसे हल किया जाता है</p>
			<h1 class="title">B2B छूट</h1>
			<p class="description">
				मंच विक्रेता को अपने माल के लिए एक नया खरीदार खोजने में मदद करता है, और खरीदार - छूट के साथ आवश्यक सामान खरीदने
				के लिए। हम विक्रेता को सीधे खरीदार से जोड़ते हैं और लेनदेन पर कोई कमीशन नहीं लेते हैं
			</p>

			<div class="buttons">
				<a [routerLink]="b2bNgxLinkService.getLink('/latest-offers') | async">कार्गो खरीदें</a>
				<a [routerLink]="b2bNgxLinkService.getLink('/offer') | async">कार्गो बेचें</a>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="benefits">
			<ul>
				<li>लावारिस माल बेचने का सबसे आसान और तेज़ तरीका</li>
				<li>5% से 90% की छूट पर गुणवत्तापूर्ण सामान खरीदने का अवसर</li>
				<li>कानूनी और तकनीकी सहायता 24/7</li>
			</ul>
		</div>
	</div>

	<div class="game">
		<div class="container">
			<div class="description">
				<h2>एक प्रोएक्टिव दृष्टिकोण</h2>
				<p>
					मंच का उद्देश्य न केवल एक्सपोटर्स और ट्रेडर्स को लावारिस कार्गो के साथ मदद करना है, बल्कि ऐसे सामानों के उद्भव
					को रोकना भी है।
				</p>
			</div>
			<img b2bNgxImage name="how-it-works-2-2" />
		</div>
	</div>

	<div class="container">
		<div class="risks">
			<h2>काम से काम रिस्क</h2>
			<p>
				यदि आपके पास माल मिलने की विश्वसनीयता पर संदेह करने का कारण है, तो तुरंत कार्रवाई करें। अन्य संभावित खरीदारों को
				खोजने के लिए अपने कार्गो को B2B डिस्काउंट में जोड़ें। यदि प्रारंभिक समझौता योजना के अनुसार नहीं होता है तो वे
				आपकी जीवन रेखा होंगे।
			</p>
		</div>
	</div>

	<div class="anonymity">
		<div class="container">
			<img b2bNgxImage name="how-it-works-2-4" />

			<div class="description">
				<h2>गुमनामी</h2>
				<p>
					प्लेटफ़ॉर्म आपको अपनी संपर्क जानकारी और कार्गो जानकारी छिपाने की अनुमति देता है। ऑफ़र तब तक गुमनाम रहेगा जब तक
					माल का मालिक किसी नए खरीदार को माल की बिक्री के लिए डेटा खोलने का निर्णय नहीं लेता
				</p>
				<a [routerLink]="b2bNgxLinkService.getLink('/offer') | async">कार्गो रखे</a>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="verification">
			<h2>कम से कम रिस्क</h2>
			<p>
				मंच पर प्रदर्शित सभी वस्तुओं को मॉडरेट किया जाता है। संबंधित दस्तावेज और फोटो मैटेरियल्स की उपस्थिति में ही
				कार्गो रखना संभव है। कंटेनरों और कार्गो के किये इम्प्लीमेंट किया ऑनलाइन ट्रैकिंग सिस्टम को धन्यवाद,खरीदार अपने
				इच्छुक कार्गो के स्थान को ट्रैक कर सकते हैं।
			</p>
		</div>
	</div>

	<div class="profit">
		<div class="container">
			<div class="description">
				<h2>सभी के लिए लाभ</h2>
				<p>
					इम्पोर्टर्स और ट्रेडर्स माल के बाजार मूल्य के 5 से 90% की छूट के साथ आकर्षक सौदे कर सकते हैं और विक्रेता को
					बड़े फाइनेंसियल नुकसान से बचने में मदद कर सकते हैं।
				</p>
				<a [routerLink]="b2bNgxLinkService.getLink('/latest-offers') | async">सभी ऑफ़र देखें</a>
			</div>
			<img b2bNgxImage name="how-it-works-2-3" />
		</div>
	</div>

	<div class="container">
		<div class="mission">
			<h2>कंपनी का मिशन</h2>
			<p>
				अंतरराष्ट्रीय व्यापार और लोजिस्टिक में शामिल सभी पक्षों के लिए एक अधिक आरामदायक और सुरक्षित वातावरण बनाने के लिए
				सभी FEA प्रतिभागियों को एक साथ लाएं
			</p>

			<div class="video-wrapper">
				<video
					[controls]="!video.paused"
					class="video"
					poster="assets/images/client_home_background.png"
					(ended)="video.load()"
					#video>
					<source src="assets/videos/how_it_works_final.mp4" type="video/mp4" />
				</video>

				<button class="video-button" *ngIf="video.paused" (click)="video.play()">
					<img b2bNgxIcon class="video-button-icon" name="play" />
				</button>
			</div>

			<h3>निःशुल्क पंजीकरण</h3>
			<p>
				B2B डिस्काउंट एक US-बेस्ड स्टार्टअप है जिसने 2021 की गर्मियों में अंतर्राष्ट्रीय बाजार में प्रवेश किया।
				प्लेटफॉर्म की सभी सेवाएं 30.06.2022 तक निःशुल्क रहेंगी। हमारी सेवा के सभी लाभों को अभी प्राप्त करने का अवसर न
				चूकें।
			</p>
			<a [routerLink]="b2bNgxLinkService.getLink('/auth/register-credentials') | async"
				>एक नि: शुल्क खाता बनाए</a
			>
		</div>

		<p class="feedback">
			हम प्लेटफॉर्म को और भी बेहतर और अधिक कार्यात्मक बनाना चाहते हैं। आप हमें
			<a href="mailto:support@b2b.discount">support@b2b.discount</a> . पर अपनी इच्छाएं और विचार लिखकर इसमें हमारी मदद कर
			सकते हैं
		</p>

		<div class="footer">
			<a [routerLink]="b2bNgxLinkService.getLink('/') | async">
				<img b2bNgxIcon name="logo" alt="" />
			</a>
			<p>We connect buyers and sellers directly.</p>
		</div>
	</div>
</div>
