<div class="popup">
	<ng-container *ngIf="messageSent; else recoveryForm">
		<h1>{{ 'AUTH.RECOVERY' | translate }}</h1>
		<h2>
			{{ 'AUTH.CHECK' | translate
			}}<button (click)="sendMessage(formControl)">
				{{ 'AUTH.RESEND' | translate }}
			</button>
		</h2>
	</ng-container>

	<ng-template #recoveryForm>
		<h1>{{ 'AUTH.PASSWORD_RECOVERY' | translate }}</h1>
		<h2>{{ 'AUTH.PASSWORD_RECOVERY_DESCRIPTION' | translate }}</h2>

		<form errorTailor (ngSubmit)="sendMessage(formControl)">
			<input
				b2bNgxInput
				[placeholder]="'PLACEHOLDERS.YOUR_EMAIL' | translate"
				[formControl]="formControl"
				[theme]="b2bNgxInputThemeEnum.BACKGROUND_GRAY" />

			<button
				b2bNgxButton
				type="submit"
				[theme]="b2bNgxButtonThemeEnum.BACKGROUND_BLACK">
				{{ 'AUTH.SEND' | translate }}
			</button>
		</form>
	</ng-template>
</div>
