<div class="client-pricing">
	<div class="client-pricing-container">
		<h3 class="client-pricing-container-title">
			Choose a plan that’s right for you
		</h3>
		<p class="client-pricing-container-description">
			For the purpose of industry regulation, your details are required.
		</p>

		<div class="client-pricing-packages">
			<div class="client-pricing-package-seller">
				<header class="client-pricing-package-header">
					<p class="client-pricing-package-header-title">
						<span class="client-pricing-package-header-title-1">{{
							'CHAT.SELLER' | translate
						}}</span>
						<span class="client-pricing-package-header-title-2">FREE</span>
					</p>

					<p class="client-pricing-package-header-description">
						Personal account to manage all you activities.
					</p>

					<a
						b2bNgxLink
						[routerLink]="b2bNgxLinkService.getLink('/offer') | async"
						[theme]="b2bNgxButtonThemeEnum.BACKGROUND_BLACK"
						class="post-your-listing"
						>Post your listing</a
					>
				</header>

				<main class="client-pricing-package-main">
					<b2b-ngx-list [options]="sellerOptions"></b2b-ngx-list>
				</main>
			</div>

			<div class="client-pricing-package-buyer">
				<header class="client-pricing-package-header">
					<p class="client-pricing-package-header-title">
						<span class="client-pricing-package-header-title-1">Buyer</span>
						<span class="client-pricing-package-header-title-2">
							<span>49</span>
							<span class="client-pricing-package-header-title-3"
								>$ / month</span
							>
							<span class="client-pricing-package-header-title-4"
								>Billed annually 588$</span
							>
						</span>
					</p>
					<p class="client-pricing-package-header-description">
						Personal account to manage all you activities.
					</p>
					<a
						b2bNgxLink
						[routerLink]="b2bNgxLinkService.getLink('/annual-payment') | async"
						[theme]="b2bNgxLinkThemeEnum.BACKGROUND_BLUE"
						class="buy"
						>Buy</a
					>
				</header>

				<main class="client-pricing-package-main">
					<b2b-ngx-list [options]="buyerOptions"></b2b-ngx-list>
				</main>
			</div>
		</div>
	</div>
</div>
