<div class="promotion" [class.mirror]="lang === 'ar'">
	<div class="promotion__header">
		<div class="promotion__header__wrapper">
			<div class="promotion__header__wrapper__info">
				<div class="promotion__header__wrapper__info__title">
					{{ 'MARKET_PROMO.PROMO_TITLE' | translate }}
				</div>
				<h1 class="promotion__header__wrapper__info__subtitle">
					{{ 'MARKET_PROMOTION.SUPPLIER_PROMOTION_PROGRAM' | translate }}
				</h1>
				<div
					class="promotion__header__wrapper__info__text"
					[innerHTML]="
						'MARKET_PROMOTION.RAPIDLY_GROWING_INTERNATIONAL' | translate
					"></div>
				<div
					class="promotion__header__wrapper__info__text"
					[innerHTML]="
						'MARKET_PROMOTION.LAUNCHING_NEW_SERVICE' | translate
					"></div>
				<div class="promotion__header__wrapper__info__text">
					{{ 'MARKET_PROMOTION.WITH_THIS_SERVICE' | translate }}
				</div>

				<div class="promotion__header__wrapper__info__buttons">
					<button
						(click)="joinUs()"
						b2bNgxButton
						[theme]="b2bNgxButtonThemeEnum.BACKGROUND_BLUE">
						{{ 'MARKET_PROMOTION.JOIN_US' | translate }}
					</button>
					<button
						(click)="scrollToBlock(promotionSteps)"
						class="blue-button"
						b2bNgxButton
						[theme]="b2bNgxButtonThemeEnum.OUTLINE_BLUE">
						{{ 'MARKET_PROMO.LEARN_MORE' | translate }}
					</button>
				</div>
			</div>
			<img
				class="promotion__header__wrapper__image"
				b2bNgxImage
				name="market-promotion/promotion-label"
				imageExtension="jpeg"
				alt="logo" />
		</div>
	</div>

	<div #promotionSteps class="promotion__steps">
		<div class="promotion__steps__wrapper">
			<div class="promotion__steps__wrapper__title">
				{{ 'MARKET_PROMOTION.SERVICE_WILL_BE_FREE' | translate }}
			</div>
			<div class="promotion__steps__wrapper__free-until">
				{{ 'MARKET_PROMOTION.SERVICE_DATE' | translate }}
			</div>
			<div class="promotion__steps__wrapper__subtext">
				{{ 'MARKET_PROMOTION.ALL_SPP' | translate }}
			</div>
			<div class="promotion__steps__wrapper__subtitle">
				{{ 'MARKET_PROMOTION.PARTICIPATE_PROGRAM' | translate }}
			</div>

			<div class="promotion__steps__wrapper__block">
				<div
					*ngFor="let step of getStepsToParticipateProgram()"
					class="promotion__steps__wrapper__block__item">
					<img
						b2bNgxIcon
						[name]="step.icon"
						class="promotion__steps__wrapper__block__item__image" />
					<div class="promotion__steps__wrapper__block__item__title">
						{{ step.text | translate }}
					</div>
				</div>
			</div>

			<div class="promotion__steps__wrapper__text">
				{{ 'MARKET_PROMOTION.AUTOMATICALLY_BECOME' | translate }}
			</div>
			<button
				(click)="applyAsSupplier()"
				b2bNgxButton
				[theme]="b2bNgxButtonThemeEnum.BACKGROUND_BLUE"
				class="promotion__steps__wrapper__button">
				{{ 'MARKET_PROMO.APPLY_AS_SUPPLIER' | translate }}
			</button>
		</div>
	</div>

	<div class="promotion__benefit">
		<div class="promotion__benefit__title">
			{{ 'MARKET_PROMOTION.WILL_BENEFIT' | translate }}
		</div>
		<div class="promotion__benefit__block">
			<div
				*ngFor="let benefit of getProgramBenefits()"
				class="promotion__benefit__block__item">
				<div
					[ngClass]="{
						'modified-block': benefit.backgroundColorIsWhite === true
					}"
					class="promotion__benefit__block__item__title"
					[innerHTML]="benefit.title | translate"></div>
				<div
					class="promotion__benefit__block__item__text"
					[innerHTML]="benefit.text | translate"></div>
			</div>
		</div>
	</div>

	<div class="promotion__aim">
		<div class="promotion__aim__wrapper">
			<div class="promotion__aim__wrapper__title">
				{{ 'MARKET_PROMOTION.AIM_OUR_NEW_SERVICE' | translate }}
			</div>
			<div class="promotion__aim__wrapper__text">
				{{ 'MARKET_PROMOTION.ATTRACT_MORE_COMPANIES' | translate }}
			</div>
		</div>
	</div>

	<div class="promotion__feedback">
		<div class="promotion__feedback__wrapper">
			<div class="promotion__feedback__wrapper__title">
				{{ 'MARKET_PROMOTION.ANY_QUESTIONS' | translate }}
			</div>
			<div class="promotion__feedback__wrapper__subtitle">
				{{ 'MARKET_PROMOTION.LEAVE_REQUEST' | translate }}
			</div>
			<form
				[formGroup]="formGroup"
				(ngSubmit)="sendMessage(formGroup)"
				class="promotion__feedback__wrapper__form">
				<div class="control-wrapper">
					<input
						b2bNgxInput
						[theme]="b2bNgxInputThemeEnum.BACKGROUND_GRAY"
						[placeholder]="'John Doe'"
						formControlName="name"
						[label]="'MARKET_PROMOTION.FULL_NAME' | translate"
						labelClass="client-contact-us-form-input" />
				</div>
				<div class="control-wrapper">
					<b2b-ngx-tel
						[theme]="b2bNgxInputThemeEnum.BACKGROUND_GRAY"
						class="client-contact-us-form-input"
						formControlName="phone"
						>{{ 'MARKET_PROMOTION.PHONE_NUMBER' | translate }}
					</b2b-ngx-tel>
				</div>
				<div class="control-wrapper">
					<textarea
						b2bNgxTextarea
						[theme]="b2bNgxInputThemeEnum.BACKGROUND_GRAY"
						[placeholder]="'MARKET_PROMOTION.MESSAGE' | translate"
						formControlName="text"
						[label]="'MARKET_PROMOTION.YOUR_COMMENT' | translate"
						labelClass="client-contact-us-form-textarea"></textarea>
				</div>
				<button
					b2bNgxButton
					type="submit"
					class="client-contact-us-form-button"
					[theme]="b2bNgxButtonThemeEnum.OUTLINE_BLUE">
					{{ 'MARKET_PROMOTION.SEND' | translate }}
				</button>
			</form>
		</div>
	</div>

	<div class="promotion__features">
		<div class="promotion__features__wrapper">
			<div class="promotion__features__wrapper__title">
				{{ 'MARKET_PROMOTION.COMING_SOON' | translate }}
			</div>
			<div class="promotion__features__wrapper__subtitle">
				{{ 'MARKET_PROMOTION.FEATURES_WE_PLAN' | translate }}
			</div>
			<div class="promotion__features__wrapper__block">
				<div
					*ngFor="let feature of getPromotionFeatures()"
					class="promotion__features__wrapper__block__item">
					<div class="title">{{ feature.title | translate }}</div>
					<div class="description">{{ feature.description | translate }}</div>
					<div class="footer">
						<div class="release-date">
							{{ feature.releaseDate | translate }}
						</div>
						<img
							b2bNgxImage
							[name]="feature.photo"
							imageExtension="jpeg"
							alt="photo" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<b2b-write-to-support></b2b-write-to-support>
</div>
