@import 'projects/shared/src/styles';

.marketplace-main {
	display: flex;
	justify-content: center;
	background-color: #ffffff;
	padding: 64px 0 80px;

	@include breakpoint('3') {
		padding: 24px 18px 90px;
	}

	.marketplace-container {
		display: flex;
		align-items: center;
		flex-direction: column;
		width: 100%;
		max-width: 1171px;

		.title {
			font-size: 32px;
			font-weight: 600;
			line-height: 44px;
			letter-spacing: 0.01em;

			@include breakpoint('3') {
				font-size: 24px;
				font-weight: 600;
				line-height: 29px;

				&:first-of-type {
					font-size: 20px;
					font-weight: 700;
					line-height: 27px;
				}
			}
		}

		.search-wrapper {
			border: 2px solid #d9d9d9;
			border-radius: 8px;
			box-shadow: 0 0 6px 0 #0000001a;
			width: 100%;
			margin: 24px 0 40px;
			position: relative;

			input {
				border: none;
				border-radius: 8px;

				@include breakpoint('3') {
					padding: 11px 16px;
				}
			}

			.icon-block {
				position: absolute;
				right: 0;
				height: 100%;
				background-color: #005dff;
				padding: 0 12px;
				border-radius: 0 7px 7px 0;

				@include breakpoint('3') {
					background-color: transparent;
				}

				.mat-icon {
					height: 24px;
					color: #ffffff;

					@include breakpoint('3') {
						color: #9fa4bb;
						line-height: 26px;
						font-size: 19px;
					}
				}
			}

			@include breakpoint('3') {
				margin-top: 16px;
				border-color: #005dff;
			}
		}

		.all-sectors {
			width: 100%;

			.sectors-title {
				font-size: 24px;
				font-weight: 700;
				line-height: 32px;
				letter-spacing: 0.01em;
				padding-bottom: 32px;

				@include breakpoint('3') {
					display: none;
				}
			}

			.sectors-block {
				display: flex;
				max-height: 574px;

				.sectors-list {
					padding-right: 16px;
					border-right: 1px solid #cfdeff;
					width: 340px;
					min-width: 340px;
					overflow: hidden;

					@include breakpoint('3') {
						border: none;
						padding-right: 0;
					}

					ul {
						overflow-y: auto;
						max-height: 510px;

						li {
							cursor: pointer;
							display: flex;
							justify-content: space-between;
							align-items: center;
							list-style-type: none;
							padding-bottom: 24px;

							span {
								font-size: 18px;
								font-weight: 400;
								line-height: 18px;
								letter-spacing: 0.01em;

								@include breakpoint('3') {
									font-weight: 500;
								}
							}

							mat-icon {
								display: none;

								@include breakpoint('3') {
									background: #d9d9d94d;
									border-radius: 4px;
									display: initial;
									color: #9fa4bb;
									padding: 3px;
								}
							}

							&.active span {
								text-decoration: underline;
								color: #005dff;
								font-weight: 700;

								@include breakpoint('3') {
									text-decoration: none;
									color: #000000;
									font-weight: 500;
								}
							}
						}
					}
				}

				.children-categories {
					padding-left: 16px;
					overflow-y: auto;

					@include breakpoint('3') {
						display: none;
					}

					.all-categories {
						display: flex;
						align-items: center;
						padding-bottom: 21px;

						span {
							font-size: 14px;
							font-weight: 400;
							line-height: 18px;
							letter-spacing: 0.01em;
							text-decoration: underline;
						}

						mat-icon {
							margin-left: 8px;
							font-size: 19.5px;
							line-height: 11.5px;
							height: 15px;
							width: fit-content;
						}

						&:hover {
							color: #005dff;
						}
					}

					.categories-list {
						display: flex;
						flex-wrap: wrap;
						gap: 16px;
						height: fit-content;
						max-height: 468px;

						.child-category {
							max-width: 100px;

							img {
								width: 100px;
								height: 100px;
								border-radius: 8px;
							}

							p {
								font-size: 14px;
								font-weight: 400;
								line-height: 18px;
								word-break: break-word;
								letter-spacing: 0.01em;
								text-align: center;

								&:hover {
									color: #005dff;
								}
							}
						}
					}
				}
			}
		}

		.market-main-banner {
			width: 100%;
			background: linear-gradient(90.17deg, #004ab5 0.08%, #053087 100.52%);
			border-radius: 8px;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 20px;
			padding: 18px 0;
			margin: 88px 0 80px;

			@include breakpoint('3') {
				flex-direction: column;
				padding: 16px 20px;
				margin: 40px 0 48px;
			}

			.icon-and-text {
				display: flex;
				justify-content: space-between;
				align-items: center;
				gap: 24px;

				@include breakpoint('3') {
					gap: 9px;
				}

				.note-icon {
					min-width: 48px;
					height: 48px;
					color: #ffffff;
				}

				.banner-text {
					color: #ffffff;
				}
			}

			.rfq-button {
				padding: 6px 36px;
				font-size: 14px;
				font-weight: 500;
				line-height: 20px;

				@include breakpoint('3') {
					width: 100%;
				}
			}
		}
	}

	.reusable-text-size {
		font-size: 18px;
		font-weight: 600;
		line-height: 25px;
		letter-spacing: 0.01em;

		@include breakpoint('3') {
			font-size: 16px;
			line-height: 22px;
		}
	}

	.fw-400 {
		font-weight: 400;
		text-align: center;
		width: 70%;
		margin-bottom: 80px;

		@include breakpoint('3') {
			width: 100%;
			text-align: left;
			margin-bottom: 32px;
		}
	}

	b2b-market-advertising-materials {
		width: 100%;
	}

	.get-started {
		margin: 83px 0 96px;
		display: flex;
		width: 100%;
		gap: 17px;
		justify-content: center;
		align-items: center;
		padding: 20px 26px;
		background: #dbe9fe;
		border-radius: 8px;

		@include breakpoint('3') {
			flex-direction: column;
			margin: 48px 0;
			padding: 17px;
		}

		h3 {
			letter-spacing: 0;

			@include breakpoint('3') {
				text-align: center;
				font-size: 18px;
			}
		}

		button {
			font-size: 14px;
			font-weight: 500;
			line-height: 20px;
			padding: 6px 47px;
		}
	}

	.link-style {
		color: #005dff;
		text-decoration: underline;
	}

	.logistic-block {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 60px;

		@include breakpoint('3') {
			gap: 16px;
			flex-direction: column-reverse;
			align-items: initial;
		}

		.image-block {
			display: flex;
			max-width: 46%;
			margin-bottom: 8%;
			position: relative;

			@include breakpoint('3') {
				max-width: 92%;
			}

			.first-img {
				width: 90%;
			}

			.second-img {
				width: 63%;
				top: 70%;
				right: -7%;
				position: absolute;
			}
		}

		.logistic-text {
			max-width: 501px;

			h3 {
				padding-top: 38px;
				font-size: 24px;
				font-weight: 600;
				line-height: 34px;
				letter-spacing: 0.01em;
				text-align: left;

				@include breakpoint('3') {
					padding-top: 0;
				}
			}

			p {
				font-weight: 400;
				padding-top: 16px;

				@include breakpoint('3') {
					font-size: 18px;
				}
			}
		}
	}

	::-webkit-scrollbar {
		width: 0.5em;
		border-radius: 6px;
		height: 0.5em;
	}

	::-webkit-scrollbar-track {
		background: transparent;
	}

	::-webkit-scrollbar-thumb {
		background: #d9d9d9;
		border-radius: 100px;
		max-height: 0.8rem;
		transition: 0.5s ease-in;
	}

	::-webkit-scrollbar-thumb:hover {
		background: #d9d9d9;
		transition: 0.5s ease-in;
	}
}
