<div class="marketplace-main" [formGroup]="formGroup">
	<div class="marketplace-container">
		<h1 class="title">B2B Marketplace for Global Trade</h1>

		<div class="search-wrapper">
			<div class="grid w-full">
				<input
					#searchInput
					b2bNgxInput
					(keydown.enter)="setSearch(formGroup.value['q'])"
					formControlName="q"
					[theme]="b2bNgxInputThemeEnum.BACKGROUND_WHITE"
					class="subheader-search !w-full"
					placeholder="Search products"/>
			</div>

			<button
				(click)="setSearch(formGroup.value['q'])"
				mat-ripple
				class="icon-block">
				<mat-icon
					*ngIf="platformService.isBrowser"
					[svgIcon]="'second-search'"></mat-icon>
			</button>
		</div>

		<div class="all-sectors">
			<h2 class="sectors-title">All sectors</h2>

			<div class="sectors-block">
				<div class="sectors-list">
					<ul>
						<li
							*ngFor="
								let category of firstLevelCategories$ | async;
								let i = index
							"
							[class.active]="selectedFirstLevelCategoryIndex === i"
							(click)="selectCategory(category, i)">
							<span>{{ category.name }}</span>

							<mat-icon
								*ngIf="platformService.isBrowser"
								[svgIcon]="'arrow-r-2'"></mat-icon>
						</li>
					</ul>
				</div>

				<div class="children-categories">
					<a
						b2bNgxLink
						class="all-categories"
						[routerLink]="['/b2bmarket', selectedCategory?.path]">
						<span>View all categories</span>

						<mat-icon
							*ngIf="platformService.isBrowser"
							[svgIcon]="'arrow-right-2'"></mat-icon>
					</a>

					<div class="categories-list">
						<a
							class="child-category"
							*ngFor="let childCategory of secondLevelCategories"
							[routerLink]="[
								'/b2bmarket/listing',
								selectedCategory.path || selectedCategory._id,
								childCategory.path || childCategory._id
							]">
							<img b2bNgxImage [name]="getCategoryImage(childCategory.image)"/>

							<p>{{ childCategory.name }}</p>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="market-main-banner">
			<div class="icon-and-text">
				<mat-icon
					*ngIf="platformService.isBrowser"
					class="note-icon"
					[svgIcon]="'second-note'"></mat-icon>

				<p class="banner-text reusable-text-size">
					Inform suppliers about your sourcing requirements by creating a
					sourcing request.
				</p>
			</div>

			<button
				class="rfq-button"
				b2bNgxButton
				[theme]="b2bNgxButtonThemeEnum.BACKGROUND_WHITE"
				(click)="createRfq()">
				Create request
			</button>
		</div>

		<h2 class="title">
			Source products among thousands of suppliers on B2B Market
		</h2>
		<p class="reusable-text-size fw-400">
			With B2B Market, you can find the best suitable products from
			manufacturers, wholesalers, and distributors in any country. Only verified
			and trusted sellers.
		</p>

		<b2b-market-advertising-materials
			(emitSearchBar)="marSearchFocus()"></b2b-market-advertising-materials>

		<div class="get-started">
			<h3 class="reusable-text-size">
				Become a part of Globy as a supplier and maximize the benefits of our
				platform. Click
				<a class="link-style" routerLink="/market-promo">here</a> to learn more.
			</h3>

			<button
				b2bNgxButton
				[theme]="b2bNgxButtonThemeEnum.BACKGROUND_BLACK"
				[routerLink]="'/profile/your-workspace/b2bmarket'">
				Get started
			</button>
		</div>

		<div class="logistic-block">
			<div class="image-block">
				<img b2bNgxImage class="first-img" [name]="'logistic-mock-img'"/>

				<img
					b2bNgxImage
					class="second-img"
					[name]="'logistic-calculator-by-sea'"/>
			</div>

			<div class="logistic-text">
				<h3>
					Get a quick logistics price using our “Quick Logistics” solution
				</h3>

				<p class="reusable-text-size">
					Navigate to
					<a class="link-style" href="/quick-logistics">Quick Logistics</a>
					, indicate the desired destination, and get freight cost in seconds.
				</p>
			</div>
		</div>
	</div>
</div>
